Repository hmcts/darts-api, pull requests merged in 2023-09, with the labels that each got.

#398 DMP-818 GET hearings stub and generate openapi generator tasks automatically.
  ModernisedDarts.postman_collection.json
  README.md
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/test-ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CourtLogsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventTypeToHandlerMap.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/exception/HearingApiError.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
  src/main/resources/openapi/courthouse.yaml
  src/main/resources/openapi/dailylist.yaml
  src/main/resources/openapi/event.yaml
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-398

#391 DMP-747 Store Daily List XML
  config/pmd/test-ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/ok_saveDl_xml_then_json/document.json
  src/main/java/uk/gov/hmcts/darts/dailylist/config/ConverterConfig.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/converter/DailyListJsonConverter.java
  src/main/java/uk/gov/hmcts/darts/dailylist/exception/DailyListError.java
  src/main/java/uk/gov/hmcts/darts/dailylist/exception/DailyListException.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/model/DailyListPatchRequest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/model/DailyListPostRequest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListService.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidator.java
  src/main/resources/openapi/dailylist.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-391

#379 Dmp 760 delete requested and processed audio
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-379

#404 DMP-107 Upgrading function chart to 2.3.6
  charts/darts-api/Chart.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-404

#403 DMP-783 - Integrated dailylist processing with scheduling framework.
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-403

#405 DMP-841 Add Azure AD configuration in application.yaml & values.yaml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-405

#402 DMP-841: Support internal user login
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/darts/authentication/client/impl/OAuthClientImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/TokenValidator.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthConfigFallback.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthStrategySelector.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/DefaultAuthConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/JwksConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/external/ExternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/external/ExternalAuthConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/external/ExternalAuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/internal/InternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/internal/InternalAuthConfigurationPropertiesStrategy.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/internal/InternalAuthProviderConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/AzureDao.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AzureActiveDirectoryB2CClient.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/common/util/RequestMatcher.java
  src/main/java/uk/gov/hmcts/darts/task/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/task/repository/AutomatedTaskRepository.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/AuthConfigurationPropertiesStrategyTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/DummyAuthStrategy.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-402

#409 DMP-877 - update max length to 256.
  src/main/resources/openapi/event.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-409

#406 DMP-459 - patch case
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerPatchCaseTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/validator/PatchCaseRequestValidator.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/validator/PatchCaseRequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-406

#385 DMP-829 Preview Audio Endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/FileOperationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/FileOperationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-385

#414 dmp-764 : White list internal user endpoint
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-414

#413 DMP-813 - add functional tests for /events
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-413

#410 DMP-364 Data Model - JPA Updates: Transcription Entity and Workflow
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionUrgencyEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/WorkflowStageEnum.java
  src/main/resources/db/migration/common/V1_208__create_transcription_tables.sql
  src/main/resources/db/migration/common/V1_209__alter_transcription_table.sql
  src/main/resources/db/migration/common/V1_210__insert_transcription_status_data.sql
  src/main/resources/db/migration/h2/V1_208_1__create_transcription_tables_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_208_1__create_transcription_tables_primary_keys.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-410

#411 DMP-172 - created event handler that only logs event information.
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandler.java
  src/main/resources/db/migration/common/V1_211__update_event_handler_with_classname.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-411

#415 DMP-879 - copy hearings/events to hearings endpoint
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetEventsResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetEventsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-415

#421 dmp-765 : Authentication for Internal user
  src/main/java/uk/gov/hmcts/darts/authentication/client/OAuthClient.java
  src/main/java/uk/gov/hmcts/darts/authentication/client/impl/OAuthClientImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/external/ExternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/internal/InternalAuthConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/OAuthProviderRawResponse.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-421

#424 temporarily disable functional tests
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-424

#408 DMP-107 Using DB connection string from secret
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-408

#426 DMP-920 - fix advanced search specific date picking up too many records.
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFrom/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFromToSameDate/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-426

#425 DMP-905 - fix DailyList not saving xml to database.
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-425

#423 DMP-830 - update swagger to rename event_id to audit_activity_id in b…
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuditStub.java
  src/main/java/uk/gov/hmcts/darts/audit/AuditSearchQueryValidator.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/mapper/AuditDtoMapper.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/resources/openapi/audit.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-423

#431 BUGFIX (DMP-829): Fix path usage for audio operations
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-431

#434 DMP-143 BUGFIX POST /audio-requests
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerDeleteAudioRequestIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-434

#427 DMP-370 Request a Transcription endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionUrgencyEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/TranscriptionWorkflowStageEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionStatusRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionUrgencyRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionTypeEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionUrgencyEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_212__insert_transcription_urgency_data.sql
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-427

#429 modernised-darts-schema-v48
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-429

#439 DMP-172 - increasing logging so null handler log message can be seen …
  src/main/resources/application-stg.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-439

#443 DMP-986 Correct until period of owasp suppression
  config/owasp/suppressions.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-443

#446 Removing /dailylists/getCases
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailylist.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-446

#440 DMP-962 - When the daillylist is created, the status of the Dailylist in the database is null which is not expected.
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/DailyListTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DailyListStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/resources/db/migration/common/V1_213__dailylist_job_status_not_null.sql
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-440

#441 Dmp 947 generate an openapi specification
  build.gradle
  jitpack.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-441

#447 Dmp 172.add debug logging to staging
  src/main/resources/application-stg.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-447

#448 DML-657 Setting DailyList published time correctly
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListCPP.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListXHB.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/DailyListRequest2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_invalidCourthouse/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/ok_saveDl_xml_then_json/document.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/update_courthouse_ok/DailyListRequest.json
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/test/resources/Tests/dailylist/DailyListServiceImplTest/processIncomingDailyList/DailyListRequest.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyListMissingTimeMarkNote.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList_NonExistingCourthouse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-448

#444 Remove redundant application-stg.yaml and associated documentation
  README.md
  src/main/resources/application-stg.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-444

#455 DMP-933 (Dev Only) Populate Authorisation tables
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/main/resources/db/migration/common/V1_214__update_security_roles_data.sql
  src/main/resources/db/migration/common/V1_215__insert_security_role_permissions_linking_data.sql
  src/main/resources/db/migration/h2/V1_215_1__insert_security_group_reference_data.sql
  src/test/java/uk/gov/hmcts/darts/authorisation/model/RoleTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-455

#462 Dmp 933 populate authorisation tables
  src/main/resources/db/migration/common/V1_105__insert_security_group_reference_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-462

#453 DMP-991 Transcription request: Error submitting Hearing ID with no Ca…
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-453

#456 DMP-881 clear out API
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventsTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-456

#465 DMP-982 Update AddRequest Endpoint Response
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-465

#469 DMP-1006 Fix bug where we were returning too many audio previews for …
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-469

#454 DMP-946: Add support for multi-tenant JWT token validation
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-454

#470 DMP-395 (Dev Only) Configure External Service User details
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-470

#475 DMP-1044: Internal User Claim extract
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-475

#479 V49 of database schema
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-479

#482 ATS demo prep
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/repository/MediaRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-482

#483 DMP-958 Transcription Data Model Changes (v49)
  ModernisedDarts.postman_collection.json
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionUrgencyEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/TranscriptionWorkflowStageEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_216__update_transcription_schema_v49.sql
  src/main/resources/db/migration/postgres/V1_216_1__update_transcription_schema_v49.sql
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-483

#471 Dmp 446.add audio meta data
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AddAudioRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-471

#486 DMP-958 BUGFIX Update PL/pgSQL function darts.tra_trw_sync_fnc
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/main/resources/db/migration/common/V1_216_3__update_transcription_schema_v49.sql
  src/main/resources/db/migration/postgres/V1_216_2__update_transcription_schema_v49.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-486

#472 DMP 812 Functional test running
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/functionalTest/resources/DailyList-Document.json
  src/functionalTest/resources/DailyList-Document.xml
  src/functionalTest/resources/DailyListRequest.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-472

#487 DMP-1091-PatchMediaRequestLastAccessedDate
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateLastAccessedTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/Authorisation.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/UserIdentity.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/config/AuthorisationAspect.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-487

#478 DMP-931 (Dev Only) Internal User Authentication - Write Functional Test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/darts-api/values.dev.template.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/AccessTokenClient.java
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/authentication/ExternalAuthenticationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/authentication/InternalAuthenticationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/configuration/AccessTokenClientConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/darts/configuration/AzureAdAuthenticationProperties.java
  src/functionalTest/java/uk/gov/hmcts/darts/configuration/AzureAdB2CAuthenticationProperties.java
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/functionalTest/resources/application-functionalTest.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-478, enable_keep_helm

#484 V47 v48 v49 database changes
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CaseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/HearingTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/NodeRegisterEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/resources/db/migration/common/V1_217__drop_courthouse_region_cra_id.sql
  src/main/resources/db/migration/common/V1_218__node_register_missing_fk_and_seq.sql
  src/main/resources/db/migration/common/V1_219__v48_without_transcription.sql
  src/main/resources/db/migration/common/V1_220__added_not_null_to_user_name.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-484

#492 Dmp 1143.hearing media link bug
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-492
