Repository hmcts/darts-api, pull requests merged in 2023-04, with the labels that each got.

#32 Create Jenkinsfile_parameterized
  Jenkinsfile_parameterized
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-32

#33 dmp-70 : Skeleton classes to Retrieve and Validate tokens
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/darts/Application.java
  src/main/java/uk/gov/hmcts/reform/darts/config/AuthServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/darts/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/darts/controllers/authentication/AuthController.java
  src/main/java/uk/gov/hmcts/reform/darts/controllers/authentication/AuthExternalUserController.java
  src/main/java/uk/gov/hmcts/reform/darts/controllers/authentication/AuthInternalUserController.java
  src/main/java/uk/gov/hmcts/reform/darts/services/authentication/AuthHelperService.java
  src/main/java/uk/gov/hmcts/reform/darts/services/authentication/AuthService.java
  src/main/java/uk/gov/hmcts/reform/darts/services/authentication/SessionService.java
  src/main/java/uk/gov/hmcts/reform/darts/utils/AuthType.java
  src/test/java/uk/gov/hmcts/reform/darts/controllers/AuthExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/darts/controllers/AuthInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-33

#31 Dmp 45 postgre sql terraform
  infrastructure/data.tf
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/providers.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  infrastructure/variables.tf
  modernised_darts_schema.txt
  renovate.json
Labels: ns:darts-modernisation, prd:darts, add-or-update, rel:darts-api-pr-31

#43 added keyvault secret and password info
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  infrastructure/data.tf
  infrastructure/providers.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  src/main/resources/application-dev.yaml
  src/main/resources/application-stg.yaml
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-43

#46 DMP-104 : Add Azure AD B2C configuration properties in DARTS for External Users
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/OAuthProviderRawResponse.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationHelperService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AzureActiveDirectoryB2CClient.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/SessionService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/SessionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/util/AuthenticationType.java
  src/main/java/uk/gov/hmcts/darts/common/config/FeignCloudConfiguration.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-stg.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-46

#50 dmp-138 : Sonar Exclusion for Darts Api
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-50

#51 Add generic sonar exclusion
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-51

#47 DMP-99 Create daily list endpoints
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListTest.java
  src/integrationTest/resources/Tests/DailyListTest/dailyListAddDailyListEndpoint/requestBody.json
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailyList.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-47

#52 DMP-54 Add Notification table
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Annotation.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CachedMedia.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Case.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Courthouse.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyList.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Event.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Hearing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Media.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Report.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Transcription.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionComment.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformationLog.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformationRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/dto/CreateNotificationReq.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/Notification.java
  src/main/java/uk/gov/hmcts/darts/notification/enums/NotificationStatus.java
  src/main/java/uk/gov/hmcts/darts/notification/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/darts/notification/service/NotificationService.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/application-dev.yaml
  src/main/resources/db/migration/notification_table.sql
  src/test/java/uk/gov/hmcts/darts/notification/service/CreateNotificationReqServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-52
