Repository hmcts/darts-api, pull requests merged in 2023-10, with the labels that each got.

#496 DMP-374 Service to authorise a Transcription - updateTranscription
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/constants/AuthorisationConstants.java
  src/main/java/uk/gov/hmcts/darts/common/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionUrgencyEntity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-496

#498 Dmp 1160
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-498

#502 DMP-1094 Adding notification for pending audio request
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioRequestIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-502

#503 DMP-1161: Return caseId and caseNumber in addAudio response
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioRequestIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-503

#501 Dmp 1067.audit request audio
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioRequestIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/mapper/AuditDtoMapper.java
  src/main/java/uk/gov/hmcts/darts/audit/enums/AuditActivityEnum.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/java/uk/gov/hmcts/darts/common/exception/AuditApiError.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AuditRepository.java
  src/test/java/uk/gov/hmcts/darts/audit/service/AuditServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-501

#506 DMP-375 Service to reject a Transcription - updateTranscription
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-506

#504 Dmp 955 functional test set up
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/authentication/ExternalAuthenticationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-504

#507 Dmp 1128 transcription state model rules
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionTypeEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/WorkflowValidator.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/WorkflowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-507

#513 DMP-1177: Return last_accessed_ts in audio requests response
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestSummaryMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestSummaryResult.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-513

#517 DMP-1128 Transcription state model restrictions
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-517

#516 DMP-1091-PatchMediaRequestLastAccessedDate
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-516

#514 Dmp 850.notify transcription company
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/darts/notification/dto/SaveNotificationToDbRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-514

#519 DMP-955: Moving test support config to environments
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-519

#512 DMP-955: Updating readme for functional test data management
  README.md
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-512

#489 Dmp 705
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/noderegistration/NodeRegistrationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/exception/NodeRegistrationApiError.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/repository/NodeRegistrationRepository.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/NodeRegistrationService.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/resources/openapi/noderegistration.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-489

#524 DMP-1186 Manual request a Transcription - move to Awaiting Authorisation
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionTypeEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionUrgencyEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-524

#511 Modernised Darts - Standing Data - referring to PostgreSQL staging database dump (27/09)
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-511

#523 DMP 1066 added audit and test
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerDownloadIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-523

#528 DMP-1070 Add audit: Request Transcription
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-528

#527 DMP-1168-AudioEndpointsRestructure
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioRequestResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestResponseMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestResponseMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-527

#505 dmp-1090 | feat | Keda work
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/api/AudioInternalApi.java
  src/main/java/uk/gov/hmcts/darts/audio/api/impl/AudioInternalApiImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/repository/MediaRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-505

#532 DMP-1168 Audio Requests swagger / postman
  ModernisedDarts.postman_collection.json
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-532

#529 Dmp 1165
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-529

#533 DMP-154 - Transcription Request handler
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/model/CourtroomCourthouseCourtcase.java
  src/main/java/uk/gov/hmcts/darts/event/model/CreatedHearing.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/TranscriptionsApi.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/impl/TranscriptionsApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/db/migration/common/V1_221__TranscriptionRequestHandler.sql
  src/main/resources/db/migration/common/V1_222__DeleteSecurityGroups.sql
  src/main/resources/db/migration/h2/V1_222_1__AddTestSecurityGroups.sql
  src/main/resources/db/migration/local/V1_221_1__addTestUser.sql
  src/main/resources/db/migration/local/V1_222_2__AddTestUsers.sql
  src/main/resources/db/migration/local/afterMigrate.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/model/CourtroomCourthouseCourtcaseTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-533

#538 remove incorrect sql
  src/main/resources/db/migration/local/afterMigrate.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-538

#537 DMP-1231 Patch Media Request - Should return 204 instead 200 with emp…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateLastAccessedTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-537

#536 DMP-1090: Resolve LazyInitialisationException for processAudioRequest
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-536

#543 DMP-1090: Remove redundant eager load
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-543

#540 Dmp 705
  src/main/java/uk/gov/hmcts/darts/common/entity/NodeRegisterEntity.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/resources/db/migration/common/V1_223__changed_column_to_node_type.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-540

#530 DMP 1197 fixed disabled tests
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/noderegistration/NodeRegistrationFunctionalTest.java
  src/functionalTest/resources/DailyListRequest.json
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/resources/application-local.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-530

#539 DMP-378 - Service to accept transcription - updateTranscription
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-539

#547 Upgrading function chart to v2.4.1
  charts/darts-api/Chart.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-547

#435 DMP-960: Improve code coverage
  README.md
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-435

#541 DMP-808 - functional test for audit search
  src/functionalTest/java/uk/gov/hmcts/darts/audit/AuditSearchFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-541

#553 DMP-738 - implement GET /cases/{caseId}/transcripts
  config/owasp/suppressions.xml
  config/pmd/test-ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-553

#544 increase advanced search performance
  ModernisedDarts.postman_collection.json
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-544

#552 Pin postgres version to match test environments
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-552

#555 DMP 705 stop accepting empty strings
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/main/resources/openapi/noderegistration.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-555

#452 DMP-985 - Add known legacy errors to open api
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/dailylist.yaml
  src/main/resources/openapi/event.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-452

#557 Running daily list housekeeping cron job every day at 4:30pm
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-557

#561 fix unit tests
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseTranscriptsTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-561

#562 Adding disableCleanupOfHelmReleaseOnFailure() to jenkinsfile
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-562

#564 DMP-1170 Add Authorisation to the Cases API endpoints (403 Forbidden Error)
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerPatchCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/resources/openapi/audiorequests.yaml
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-564

#570 DMP-1271 - added case id to get audio request endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestSummaryMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestSummaryResult.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-570

#545 modernised_darts_schema_v52
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-545

#491 DMP-1216 Upgrading dev database to have persistent data
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-491

#577 Security vulneriability fix for CVE-2023-34047, CVE-2023-35116
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-577

#432 Dmp 811 add functional tests for courthouses resource
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-432

#578 DMP-1171 Update AuthorisationAspect to handleRequestBodyAuthorisation
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/annotation/Authorisation.java
  src/main/java/uk/gov/hmcts/darts/authorisation/config/AuthorisationAspect.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-578

#586 Dmp 811 add functional tests for courthouses resource
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-586

#558 DMP-556 Phase 1 refactoring
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceHousekeepingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DailyListStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AutomatedTaskRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CommonCourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/NodeRegistrationRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-558

#587 DMP-811 Update CourthousesFunctionalTest to change test method order for POST / DELETE failing and disabled tests
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-587

#574 DMP-408 Service to close a transcription - closeTranscript
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/task/config/AutomatedTaskConfiguration.java
  src/main/java/uk/gov/hmcts/darts/task/config/AutomatedTaskConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/task/config/AutomatedTaskConfigurationStrategy.java
  src/main/java/uk/gov/hmcts/darts/task/config/TaskSchedulerConfiguration.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseUnfinishedTranscriptionsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/TranscriptionsApi.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/impl/TranscriptionsApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_226__insert_close_transcription_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-574

#593 DMP-1342 CVE-2023-44487 Resolve suppression check failure
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-593

#433 DMP-810 add functional tests for cases resource
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/resources/application-dev.yaml
  src/main/resources/db/migration/local/V1_222_3__AddTestUsers_courthouse_security_group.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-433

#590 DMP 1193: Redis cache config & bank holiday caching
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidayServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationPerClassBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/BankHolidayApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/config/BankHolidayCacheConfig.java
  src/main/java/uk/gov/hmcts/darts/common/config/RedisConnectionConfig.java
  src/main/java/uk/gov/hmcts/darts/common/config/SimpleCacheConfig.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidays.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidaysApi.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidaysService.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/Division.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/common/config/RedisConnectionConfigTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-590

#575 Add usermanagement OpenAPI spec
  src/main/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/UserController.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-575

#594 Dmp 1232 add controller layer authorisation to hearing endpoints
  README.md
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-594

#600 DMP-1290: Set up Role Permission for External Services
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/main/resources/db/migration/common/V1_227__insert_security_role_permission_external_services.sql
  src/main/resources/db/migration/local/V1_227_1__AddExternalService_TestUsers.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-600

#606 DMP-1169 Update Postman Collection to add /audio/preview/{media_id}
  ModernisedDarts.postman_collection.json
  config/owasp/suppressions.xml
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-606

#604 Adding caching section in readme. And few profile fixes.
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidayServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationPerClassBase.java
  src/main/resources/application-local.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-604

#599 DMP-1271 - added rest endpoint to get count of non accessed media req…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestNonAccessedCountIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-599

#603 Dmp 1172 remove hardcoding in application yaml
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  src/functionalTest/resources/application-functionalTest.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-603

#608 DMP-1335 REST endpoint to get transcription types
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTypesTest.java
  src/integrationTest/resources/tests/transcriptions/transcription_types/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceGetTranscriptionTypeTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionTypeResponseMapper/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionTypeResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/service/TranscriptionTypeResponseMapper/expectedResponseMultipleEntities.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-608

#610 DMP-666: Changing ttl representation from days to minutes
  src/main/java/uk/gov/hmcts/darts/common/config/BankHolidayCacheConfig.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-610

#589 dmp 1327 added code and tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CasesControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-589

#579 DMP-1152-Upgrade-postgresql-version
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, destroy, enable_keep_helm, rel:darts-api-pr-579

#619 DMP-1271 Audio requests not accessed count completed
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-619

#623 DMP-381 Service to attach a transcription - attachTranscript
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/config/TranscriptionConfiguration.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/config/TranscriptionConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptFileValidator.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_228__update_external_object_directory_schema.sql
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-623

#618 DMP-762 added constraint
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_229__add_unique_to_transcription.sql
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-618

#617 DMP-398: Fixing connectivity to darts gateway
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-617

#546 DMP-626 data layer auth
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-546

#627 Increase logging for ATS
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-627
