Repository hmcts/darts-api, pull requests merged in 2023-06, with the labels that each got.

#113 Update renovate.json
  .github/renovate.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-113

#109 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-109

#112 DMP-357 Default TimeZone: UTC (Database: TYPE TIMESTAMP WITH TIME ZONE)
  Dockerfile
  src/integrationTest/java/uk/gov/hmcts/darts/audio/AudioRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestController.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/AudioRequest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/controller/RootController.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Annotation.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CachedMedia.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Case.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyList.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Event.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Hearing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Media.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Transcription.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionComment.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformationLog.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformationRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/Notification.java
  src/main/resources/db/migration/V1_4__update_timestamp_with_time_zone.sql
  src/main/resources/openapi/audioRequest.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-112

#97 DMP-123 add lockProvider functionality to prevent more than 1 schedul…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/AudioRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/config/SchedLockConfig.java
  src/main/java/uk/gov/hmcts/darts/notification/config/BeanConfiguration.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/db/migration/V1_5__shedlock_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-97

#138 dmp-438 : Add Token Filter in Security Config
  src/functionalTest/java/uk/gov/hmcts/darts/authentication/AuthenticationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-138

#110 DMP-190 - Added Courthouse rest endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBody400_MissingCourthouseName.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBodyHaverfordwest.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBodySwansea.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPutEndpoint/requestBodySwansea.json
  src/integrationTest/resources/tests/DailyListTest/dailyListAddDailyListEndpoint/requestBody.json
  src/main/java/uk/gov/hmcts/darts/common/entity/Courthouse.java
  src/main/java/uk/gov/hmcts/darts/common/error/BasicRestException.java
  src/main/java/uk/gov/hmcts/darts/common/error/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/darts/courthouse/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/mapper/CourthouseToCourthouseEntityMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/resources/db/migration/V1_6__create_courthouse_table.sql
  src/main/resources/openapi/courthouses.yaml
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-110

#146 DMP-184 Add event type records to database
  src/main/java/uk/gov/hmcts/darts/common/entity/Annotation.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CachedMedia.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Case.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Courthouse.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyList.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Event.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventType.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Hearing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Media.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Report.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Transcription.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformationLog.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformationRequest.java
  src/main/resources/db/migration/V1_7__event_type_schema_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-146

#148 DMP-430 Amending Azure AD B2C redirect-uri
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-148

#150 DMP-413 update REST endpoint for receiving events
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/AudioRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/application-local.yaml
  src/main/resources/openapi/event.yaml
  src/main/resources/openapi/events.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-150

#130 DMP-180 Create daily list database table
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyList.java
  src/main/resources/db/migration/V1_8__Create_daily_list_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-130

#152 Dmp 198.audit search endpoint
  build.gradle
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/resources/openapi/audit.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-152

#153 Update NotificationServiceImpl to log to application insights
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-153

#161 DMP-496: Implement logout endpoint (external users)
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationException.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-161

#165 Implement invalidate-session endpoint (external users)
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/InvalidateSessionIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SessionCache.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/SessionService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/SessionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-165

#157 DMP-197 added service functionality for audit api.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/main/java/uk/gov/hmcts/darts/audit/AuditRepository.java
  src/main/java/uk/gov/hmcts/darts/audit/AuditSearchQueryValidator.java
  src/main/java/uk/gov/hmcts/darts/audit/cofig/AuditConfiguration.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/mapper/AuditDtoMapper.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Audit.java
  src/main/java/uk/gov/hmcts/darts/common/error/RestExceptionHandler.java
  src/main/resources/db/migration/V1_10__create_audit_activities_table.sql
  src/main/resources/db/migration/V1_11__create_hearing_media_ae_table.sql
  src/main/resources/db/migration/V1_9__create_audit_table.sql
  src/main/resources/openapi/audit.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-157

#166 DMP-123 enforce schema on all parts of application.
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/main/java/uk/gov/hmcts/darts/common/config/SchedLockConfig.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-h2db.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-166

#164 DMP-502 Created a script to create the external_object_directory table
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectory.java
  src/main/resources/db/migration/V1_12__create_external_object_directory_table.sql
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-164

#175 DMP-460 Add getCases endpoint
  ModernisedDarts.postman_collection.json
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/repository/RepositoryTest.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceTest/getCasesOk1/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceTest/getCasesOk2/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/CasesConstants.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesRequest.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/api/CommonApi.java
  src/main/java/uk/gov/hmcts/darts/common/api/impl/CommonApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Case.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Courthouse.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Courtroom.java
  src/main/java/uk/gov/hmcts/darts/common/entity/Hearing.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsException.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CommonCourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/CommonTransactionalService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/CourtroomRepository.java
  src/main/resources/application-h2db.yaml
  src/main/resources/db/migration/V1_13__Create_case_data_tables.sql
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/api/impl/CommonApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/GetCasesMapperTest/testOk/expectedResponse.json
  src/test/resources/Tests/cases/GetCasesMapperTest/testOrderedByTime/expectedResponse.json
  testDataHelper.xlsx
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-175

#177 updated application.yaml and tests for adding an email template
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-177

#179 fix build, give flyway migratePostgresDatabase task a schema
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-179

#180 Fix build flyway schema
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-180

#169 DMP-437: Implement RFC-7807 compliant error response components
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/exception/ExceptionHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/ObjectMapperConfig.java
  src/main/java/uk/gov/hmcts/darts/common/error/BasicRestException.java
  src/main/java/uk/gov/hmcts/darts/common/exception/BasicRestException.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiTrait.java
  src/main/java/uk/gov/hmcts/darts/common/exception/ExceptionHandler.java
  src/main/java/uk/gov/hmcts/darts/common/exception/RestExceptionHandler.java
  src/main/resources/openapi/problem.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-169

#181 Fix build flyway schema
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-181

#182 fix build, give flyway migratePostgresDatabase task a schema
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-182

#176 DMP-399 Audio Transformation Service - MediaRequest: processAudioRequest
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/AudioRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/InvalidateSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/exception/ExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestController.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/enums/AudioRequestOutputFormat.java
  src/main/java/uk/gov/hmcts/darts/audio/repository/AudioRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/audio/repository/MediaRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/db/migration/V1_2__create_media_request_table.sql
  src/main/resources/db/migration/V1_4__update_timestamp_with_time_zone.sql
  src/main/resources/openapi/audioRequest.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-176

#183 rename entities to end with the word Entity
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/repository/RepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/audit/AuditRepository.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/mapper/AuditDtoMapper.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/ReportingRestrictionsRepository.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/api/CommonApi.java
  src/main/java/uk/gov/hmcts/darts/common/api/impl/CommonApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtroomEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingMediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CommonCourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/CommonTransactionalService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/api/CourthouseApi.java
  src/main/java/uk/gov/hmcts/darts/courthouse/api/impl/CourthouseApiImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseCodeNotMatchException.java
  src/main/java/uk/gov/hmcts/darts/courthouse/mapper/CourthouseToCourthouseEntityMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/api/impl/CommonApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-183

#189 Uplift Spring Boot to 3.1.1 and resolve resultant JPARepository @Quer…
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-189

#185 Dmp 153 event table and entity mapping
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtroomEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/resources/db/migration/V1_14__Update_event_handler_name.sql
  src/main/resources/db/migration/V1_15__create_event_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-185

#187 Cleanup database between integration tests.
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/InvalidateSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/ReprovisionDatabaseBeforeEach.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/ReprovisionDatabaseBeforeEachExtension.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/repository/RepositoryTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-187
