Repository hmcts/darts-api, pull requests merged in 2023-07, with the labels that each got.

#173 DMP-405 initial data management service to save and get binary blob data
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/dao/DataManagementDao.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/dao/impl/DataManagementDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/datamanagement/dao/DataManagementDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-173

#192 DMP-519 Add transient_object_directory entities / service (saveTransientDataLocation)
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JpaAuditing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectDirectoryStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectDirectoryStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/VersionedEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectDirectoryStatusRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransientObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/resources/db/migration/V1_12__create_external_object_directory_table.sql
  src/main/resources/db/migration/V1_12__object_directory_schema_data.sql
  src/main/resources/db/migration/V1_3__create_media_table.sql
  src/main/resources/db/migration/V1_8__Create_daily_list_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-192

#198 dmp-524 : Data Mananagement Blob Services GetAudioBlobData
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-198

#191 DMP-531: Tidy up config, remove repetition of properties across profiles
  src/main/resources/application-dev.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-191

#197 DMP-400-AudioTransformationService
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingMediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingMediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-197

#201 DMP-523 Updated entities ExternalObjectDirectoryEntity / MediaEntity relationships - Add AudioTransformationService#getMediaLocation
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/resources/db/migration/V1_11__create_hearing_media_ae_table.sql
  src/main/resources/db/migration/V1_12__object_directory_schema_data.sql
  src/main/resources/db/migration/V1_13__Create_case_data_tables.sql
  src/main/resources/db/migration/V1_2__create_media_request_table.sql
  src/main/resources/db/migration/V1_3__create_media_table.sql
  src/main/resources/db/migration/V1_4__update_timestamp_with_time_zone.sql
  src/main/resources/db/migration/V1_6__create_courthouse_table.sql
  src/main/resources/db/migration/V1_7__event_type_schema_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-201

#205 Removing data annotation and replacing with getter/setter.
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtroomEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingMediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-205

#204 Adding default event handler
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/handlers/DefaultEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/testutils/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/testutils/DartsGatewayStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/repository/RepositoryTest.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/main/java/uk/gov/hmcts/darts/cases/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/DarNotifyService.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventDispatcher.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DefaultEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/resources/db/migration/V1_13__Create_case_data_tables.sql
  src/main/resources/db/migration/V1_16__add_court_house_to_case_table.sql
  src/main/resources/db/migration/V1_17__add_join_table_for_event_hearing.sql
  src/main/resources/openapi/events.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-204

#200 Dmp 492 save to temp folder
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/FileOperationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/FileOperationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-200

#212 Adding response to endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-212

#217 Temporarily adding exclusion.
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-217

#219 Setting flyway migration locations in gradle.
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-219

#218 Fixing and aligning case tests, and a few other tidy ups.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/handlers/DefaultEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/MinimalEntities.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceTest/getCasesOk1/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-218

#220 Prefixing schema to table name
  src/main/resources/db/migration/common/V1_5__shedlock_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-220

#221 Fixing audit tests
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/resources/sql/add-audit-and-activity.sql
  src/integrationTest/resources/sql/remove-audit-and-activity.sql
  src/main/resources/db/migration/common/V1_7__create_audit_table.sql
  src/main/resources/db/migration/common/V1_8__create_audit_activities_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-221

#223 Dmp 589 fixing daily list tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsDatabaseStub.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-223

#228 DMP-548 Add saveProcessedData
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-228

#229 Remove v29 from schema filename
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-229

#230 DMP-490 Changes required for DARTS portal logout
  .gitignore
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/InvalidateSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-230

#234 Add files via upload
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-234

#231 Making dar notify event run async
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsGatewayStub.java
  src/main/java/uk/gov/hmcts/darts/common/config/AsyncEventsConfig.java
  src/main/java/uk/gov/hmcts/darts/event/model/DarNotifyApplicationEvent.java
  src/main/java/uk/gov/hmcts/darts/event/service/DarNotifyService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DefaultEventHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-231

#224 DMP-401: Implement Generate Outbound File and integration with lower …
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DataManagementServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/MinimalEntities.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/SystemCommandExecutorStubImpl.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileZipGenerator.java
  src/main/java/uk/gov/hmcts/darts/audio/component/SystemCommandExecutor.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/SystemCommandExecutorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/SystemCommandExecutorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-224

#235 DMP-624: Openapi additions for events POST /courtlogs
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/openapi/events.yaml
  src/main/resources/openapi/problem.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-235

#238 DMP-456 Removing reset password endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-238

#241 DMP-462: Implement POST courtlogs functionality
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/component/DartsEventMapper.java
  src/main/java/uk/gov/hmcts/darts/event/component/impl/DartsEventMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/resources/db/migration/common/V1_10__update_event_handler_name.sql
  src/main/resources/db/migration/common/V1_6__event_type_schema_data.sql
  src/test/java/uk/gov/hmcts/darts/event/component/impl/DartsEventMapperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-241

#244 DMP-80 ATS - VIQ header Service
  build.gradle
  src/main/java/uk/gov/hmcts/darts/audio/model/ViqMetaData.java
  src/main/java/uk/gov/hmcts/darts/audio/service/ViqHeaderService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-244

#248 update scripts and entities to v30 sql.
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/resources/sql/remove-audit-and-activity.sql
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventHandlerEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccount.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/NotificationEntity.java
  src/main/resources/application-local.yaml
  src/main/resources/db/migration/common/V1_100__temporary_database_tweaks.sql
  src/main/resources/db/migration/common/V1_101__insert_event_handler_reference_data.sql
  src/main/resources/db/migration/common/V1_102__insert_audit_activities_reference_data.sql
  src/main/resources/db/migration/common/V1_103__insert_external_location_type_reference_data.sql
  src/main/resources/db/migration/common/V1_1__base_script.sql
  src/main/resources/db/migration/common/V1_3__add_foreign_keys.sql
  src/main/resources/db/migration/common/V1_6__event_type_schema_data.sql
  src/main/resources/db/migration/common/V1_8__create_audit_activities_table.sql
  src/main/resources/db/migration/h2/V1_0__create_schema.sql
  src/main/resources/db/migration/h2/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_4__create_unique_multi_column_constraints.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-248

#247 DMP-647 Refactor default handler for Event API
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/model/CourtroomCourthouseCourtcase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DefaultEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandler.java
  src/main/resources/db/migration/common/V1_101__insert_event_handler_reference_data.sql
  src/test/java/uk/gov/hmcts/darts/event/model/CourtroomCourthouseCourtcaseTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-247

#249 Dmp 463-implement_service_code
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsDatabaseStub.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventEntityToCourtLogMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/CourtLogsService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CourtLogsServiceImpl.java
  src/main/resources/db/migration/common/V1_11__remove_hev_id.sql
  src/main/resources/openapi/events.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventEntityToCourtLogMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/CourtLogsServiceImplTest.java
  src/test/resources/Tests/CourtLogs/EventEntityToMapperTest/expectedResponseMultipleEntities.json
  src/test/resources/Tests/CourtLogs/EventEntityToMapperTest/expectedResponseSingleEntity.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-249

#252 DMP-589: removing schema rebuild and db migrations for integration tests
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsGatewayStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/resources/application-intTest.yaml
  src/integrationTest/resources/db/local-test-data/test-data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-252

#256 extract varchar arrays into their own tables
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/MinimalEntities.java
  src/integrationTest/resources/db/migration/V1_9999__integrationTestData.sql
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JudgeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/model/CourtroomCourthouseCourtcase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/NotificationEntity.java
  src/main/resources/db/migration/common/V1_100__temporary_database_tweaks.sql
  src/main/resources/db/migration/h2/V1_100_1__create_temporary_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_100_1__create_temporary_primary_keys.sql
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/event/model/CourtroomCourthouseCourtcaseTest.java
  src/test/resources/Tests/cases/GetCasesMapperTest/testOk/expectedResponse.json
  src/test/resources/Tests/cases/GetCasesMapperTest/testOrderedByTime/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-256

#254 Add files via upload
  src/main/resources/db/reference/drop_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-254

#259 DMP-461 create advanced Case search stub
  ModernisedDarts.postman_collection.json
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchGetTest.java
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/CasesConstants.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesSearchRequest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-259

#262 Modernised DARTS database schema v35
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-262

#268 Convert native query to JPA query
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-268

#265 DMP-542_Create_REST_Endpoint_To_Get_Case_Hearings
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-265

#269 updating postman collection with a new folder for CaseHearings
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-269

#273 Add files via upload
  src/main/resources/db/reference/modernised_darts_erd.pdf
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-273

#271 DMP-174 Create event handler to set/clear reporting restrictions
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/ReportingRestrictionsRepository.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandler.java
  src/main/resources/db/migration/common/V1_101__insert_event_handler_reference_data.sql
  src/main/resources/db/migration/common/V1_1__base_script.sql
  src/main/resources/db/migration/common/V1_3__add_foreign_keys.sql
  src/main/resources/db/migration/h2/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_2__create_primary_keys.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-271

#258 DMP-402: Implement playback operation
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-258

#277 DMP-664 - update to v35 SQL
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JudgeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/DefenceRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/DefendantRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/JudgeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ProsecutorRepository.java
  src/main/resources/db/migration/common/V1_100__temporary_database_tweaks.sql
  src/main/resources/db/migration/common/V1_101__insert_event_handler_reference_data.sql
  src/main/resources/db/migration/common/V1_11__remove_hev_id.sql
  src/main/resources/db/migration/common/V1_12__remove_hev_id.sql
  src/main/resources/db/migration/common/V1_1__base_script.sql
  src/main/resources/db/migration/common/V1_3__add_foreign_keys.sql
  src/main/resources/db/migration/h2/V1_100_1__create_temporary_primary_keys.sql
  src/main/resources/db/migration/h2/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/h2/V1_4__create_unique_multi_column_constraints.sql
  src/main/resources/db/migration/postgres/V1_100_1__create_temporary_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_4__create_unique_multi_column_constraints.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-277

#279 Dependency check 8.3.1
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-279

#257 DMP-458 Add case
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/HearingTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/db/local-test-data/test-data.sql
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseNumberMissing_400.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCourthouseMissing_400.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseForNonExistingCourtroom.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseOnlyCourthouseProvided.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseWithoutCourtroomAndJudge.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBody.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCaseNumberMissing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCourthouseMissing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyForCaseWithoutHearing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyOnlyCourthouseProvided.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyWithNonExistingCourtroom.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyWithoutCourtroom.json
  src/integrationTest/resources/tests/cases/CaseServiceTest/getCasesOk1/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceTest/getCasesOk2/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/ObjectMapperConfig.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
  src/test/resources/Tests/cases/CaseServiceTest/addCase/expectedResponseWithCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/addCase/expectedResponseWithoutCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/getCasesOk1/expectedResponse.json
  src/test/resources/Tests/cases/CaseServiceTest/getCasesOk2/expectedResponse.json
  src/test/resources/Tests/cases/CaseServiceTest/updateCase/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testOk/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testOk/expectedResponseWithCase.json
  src/test/resources/Tests/cases/CasesMapperTest/testOrderedByTime/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-257

#263 Dmp 586 viq header create playlist xml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/ViqHeaderServiceTest.java
  src/integrationTest/resources/tests/audio/playlist.xml
  src/main/java/uk/gov/hmcts/darts/audio/model/PlaylistInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/model/xml/Playlist.java
  src/main/java/uk/gov/hmcts/darts/audio/model/xml/ViqPlayListItem.java
  src/main/java/uk/gov/hmcts/darts/audio/service/ViqHeaderService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-263

#270 DMP-588 ATS - VIQ Header - Readme.txt file
  src/main/java/uk/gov/hmcts/darts/audio/service/ViqHeaderService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
  src/test/resources/Tests/audio/Readme.txt
  src/test/resources/Tests/audio/playlist.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-270

#282 Rename audioRequest to audio
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/util/AudioTestDataUtil.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestController.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-282

#283 DMP-615 Create Security Tables and Entities
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/ExternalObjectDirectoryTestData.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JpaAuditing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityPermissionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityRoleEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
  src/main/resources/db/migration/common/V1_104__insert_security_role_permission_reference_data.sql
  src/main/resources/db/migration/common/V1_105__insert_security_group_reference_data.sql
  src/main/resources/db/migration/common/V1_13__create_security_tables.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-283

#274 DMP-614 Authorisation - Create Models - Roles, Permission & Userstate
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/PermissionTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/RoleTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/UserStateTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-274

#289 Fixing test
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseNoHearing.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-289

#291 DMP-645_Implement_REST_endpoint_to_get_case_hearings
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CaseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearingTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithMultipleHearings/expectedResponse.json
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithNoHearings/expectedResponse.json
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithSingleHearing/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-291

#290 Snake-casing query params
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/openapi/events.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-290

#284 modernised-darts-schema-v39
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-284

#285 security-v12
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-285

#298 security-v13 from Judith W.
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-298
