Repository hmcts/darts-api, pull requests merged in 2023-08, with the labels that each got.

#286 DMP-661 - create common service for creating hearings
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/api/CommonApi.java
  src/main/java/uk/gov/hmcts/darts/common/api/impl/CommonApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/ObjectMapperConfig.java
  src/main/java/uk/gov/hmcts/darts/common/config/RetryConfig.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/CommonTransactionalService.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandler.java
  src/main/resources/application-local.yaml
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/api/impl/CommonApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-286

#295 DMP-637 - Authorisation - Create Authorisation Service
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/.gitkeep
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/GetAuthorisationResult.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityPermissionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityRoleEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityRoleEnum.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepository.java
  src/main/resources/db/migration/common/V1_104__insert_security_role_permission_reference_data.sql
  src/main/resources/db/migration/common/V1_13__create_security_tables.sql
  src/main/resources/db/migration/common/V1_15__add_security_foreign_keys.sql
  src/main/resources/db/migration/h2/V1_14__create_security_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_14__create_security_primary_keys.sql
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/security.sql
  src/test/java/uk/gov/hmcts/darts/authorisation/model/PermissionTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/RoleTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/UserStateTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-295

#297 DMP-700_Implement_REST_endpoint_for_get_case_by_ID
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseNumberMissing_400.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseForNonExistingCourtroom.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseWithoutCourtroomAndJudge.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/resources/Tests/cases/CaseServiceTest/addCase/expectedResponseWithCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/addCase/expectedResponseWithoutCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/getCasesOk1/expectedResponse.json
  src/test/resources/Tests/cases/CaseServiceTest/getCasesOk2/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testOk/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testOrderedByTime/expectedResponse.json
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithMultipleHearings/expectedResponse.json
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithSingleHearing/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-297

#302 DMP-713 - update entities to v40 database
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/HearingTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/JudgeTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseForNonExistingCourtroom.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFrom/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFromTo/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithJudge/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JudgeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/JudgeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/resources/db/migration/common/V1_100__temporary_database_tweaks.sql
  src/main/resources/db/migration/common/V1_1__base_script.sql
  src/main/resources/db/migration/common/V1_3__add_foreign_keys.sql
  src/main/resources/db/migration/h2/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/h2/V1_4__create_unique_constraints.sql
  src/main/resources/db/migration/postgres/V1_2__create_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_4__create_unique_constraints.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-302

#303 DMP-463_fix_for_issues
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-303

#304 Update entities to match database scriptv40
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JudgeEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-304

#301 DMP-549: Schedule notification when audio processing is complete
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/api/NotificationApi.java
  src/main/java/uk/gov/hmcts/darts/notification/api/impl/NotificationApiImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-301

#305 Refactor NotificationEntity to utilise NotificationStatus enum
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/NotificationEntity.java
  src/main/java/uk/gov/hmcts/darts/notification/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-305

#308 Dmp-700 implement rest endpoint for get case by id service
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseError.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/CaseServiceTest/getCaseById/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCase/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-308

#306 DMP-639 Integrate Authorisation with Authentication
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/SecurityToken.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-306

#307 DMP-680 - refactor addCase to not touch hearings, and ensure code use…
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseWithoutCourtroomAndJudge.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBody.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCaseNumberMissing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCourthouseMissing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyForCaseWithoutHearing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyWithNonExistingCourtroom.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/CaseServiceTest/addCase/expectedResponseWithoutCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/testAddCase/expectedResponseWithCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/testAddCase/expectedResponseWithoutCourtroom.json
  src/test/resources/Tests/cases/CaseServiceTest/testGetCasesById/expectedResponse.json
  src/test/resources/Tests/cases/CaseServiceTest/testGetCasesWithMultipleHearing/expectedResponse.json
  src/test/resources/Tests/cases/CaseServiceTest/testGetCasesWithSingleHearingAndDifferentCourtroom/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testOk/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testOk/expectedResponseWithCase.json
  src/test/resources/Tests/cases/CasesMapperTest/testOrderedByTime/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-307

#309 DMP-527 Add Entity / Repository / Table: automated_task
  .editorconfig
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AutomatedTaskRepository.java
  src/main/resources/db/migration/common/V1_1__base_script.sql
  src/main/resources/db/migration/postgres/V1_2__create_primary_keys.sql
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-309

#311 Dmp 587 viq header annotations
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundDocumentGenerator.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AbstractDocumentGenerator.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AnnotationXmlGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/model/ViqAnnotationData.java
  src/main/java/uk/gov/hmcts/darts/audio/service/ViqHeaderService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/util/XmlUtil.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-311

#316 dmp-719 : Reset Password Flow
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-316

#315 Dmp 547.add transcript count
  ModernisedDarts.postman_collection.json
  src/integrationTest/resources/db/migration/common/V1_301__active_event_handler_test_data.sql
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/resources/db/migration/common/V1_107__insert_transcription_types_reference_data.sql
  src/main/resources/db/migration/common/V1_108__insert_urgency_reference_data.sql
  src/main/resources/db/migration/common/V1_201__insert_system_account.sql
  src/main/resources/db/migration/common/V1_202__insert_courthouses.sql
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithMultipleHearings/expectedResponse.json
  src/test/resources/Tests/cases/HearingEntityToCaseHearingTest/testWithSingleHearing/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-315

#317 dmp-727 : Fix Authorisation error on Stg
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-317

#318 Fix event handle case search
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-318

#319 DMP-173 Create event handler for DARTS to notify DAR to Start/Stop recording
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandler.java
  src/main/resources/db/migration/common/V1_101__insert_event_handler_reference_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-319

#324 DUMMY Update README.md
  README.md
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-324

#323 Dmp 733.add judges to advanced search result
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithCaseNumber/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithCourtroom/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithCourtroomJudge/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFrom/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFromTo/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeTo/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithEventText/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithJudge/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapper.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapperTest.java
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/fourWithTwoSameCase/expectedResponse.json
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/one/expectedResponse.json
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/twoSameCase/expectedResponse.json
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-323

#320 Lazy loading the event handler mappings
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationPerClassBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventHandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/db/migration/common/V1_301__active_event_handler_test_data.sql
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventTypeToHandlerMap.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-320

#322 DMP-639 BUGFIX SecurityToken handleOauthCode - wrap UserState using Optional for no UserAccount scenario
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Permission.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/Role.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-322

#330 Optionally override redirect URI in authentication flows
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-330

#321 No longer clean the database on every deployment
  build.gradle
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-321

#334 DMP-185 - send caseNumbers to govNotify
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/NotificationEntity.java
  src/main/java/uk/gov/hmcts/darts/notification/mapper/GovNotifyRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-334

#336 Enable postgres query logging for local development
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-336

#340 Add files via upload
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-340

#341 Add files via upload
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-341

#338 DMP-746 - stop courthouse being added if one exists already with a di…
  build.gradle
  config/pmd/main-ruleset.xml
  config/pmd/test-ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/ViqHeaderServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/exception/ExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CaseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CommonTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CourthouseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CourtroomTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/DefenceTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/DefendantTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventHandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/HearingTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/JudgeTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/ProsecutorTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearingTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventEntityToCourtLogMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-338

#335 DMP-708 ATS Download Zip file - To link the logic of Metadata
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundDocumentGenerator.java
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileZipGenerator.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AbstractDocumentGenerator.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AnnotationXmlGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/model/PlaylistInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/model/ViqAnnotationData.java
  src/main/java/uk/gov/hmcts/darts/audio/model/ViqMetaData.java
  src/main/java/uk/gov/hmcts/darts/audio/service/ViqHeaderService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/DateConverters.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/common/util/DateConvertersTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-335

#345 DMP-203 - add DailyList housekeeping
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListHousekeepingControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceHousekeepingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DailyListStub.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListService.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/main/resources/openapi/dailyList.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-345

#348 DMP-780 - add reporting restrictions to Get /cases/{caseId}
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCaseWithReportingRestriction/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-348

#349 Align docker-compose credentials with main application yaml
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-349

#350 DMP-755: Implement get audio metadata API endpoint
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AudioResponseMapperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-350

#351 DMP-753_Add_error_response_to_GET_case_hearings_endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-351

#353 DMP-107 Keda POC
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/Application.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-353

#358 Update local postgres credentials
  src/main/resources/application-local.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-358

#339 DMP-183 - Process daily lists to create/update cases
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/DailyListTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListCPP.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListXHB.json
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiError.java
  src/main/java/uk/gov/hmcts/darts/common/repository/DefenceRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/JudgeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/enums/JobStatusType.java
  src/main/java/uk/gov/hmcts/darts/dailylist/enums/SourceType.java
  src/main/java/uk/gov/hmcts/darts/dailylist/exception/DailyListError.java
  src/main/java/uk/gov/hmcts/darts/dailylist/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessor.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/resources/openapi/dailyList.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorImplTest.java
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyListMissingTimeMarkNote.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList_NonExistingCourthouse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-339

#314 DMP-182 Create spring scheduler task to process daily lists
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceHousekeepingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/config/SchedLockConfig.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AutomatedTaskRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListService.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/service/NotificationService.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/config/AutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/TaskSchedulerConfig.java
  src/main/java/uk/gov/hmcts/darts/task/exception/AutomatedTaskSetupError.java
  src/main/java/uk/gov/hmcts/darts/task/model/TriggerAndAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/AutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/status/AutomatedTaskStatus.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_203__insert_automated_task_data.sql
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-314

#354 DMP-761 Request Audio - Get Event endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventTestData.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventEntityToCourtLogMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/CourtLogsServiceImplTest.java
  src/test/resources/Tests/cases/CasesMapperTest/testMapToEvents/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-354

#362 Fixed broken unit tests
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-362

#371 CVE-2020-21469 - temporary suppression
  config/owasp/suppressions.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-371

#372 Dmp 736 amend device register table
  src/main/java/uk/gov/hmcts/darts/common/entity/NodeRegisterEntity.java
  src/main/resources/db/migration/common/V1_205__alter_node_register_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-372

#378 fix build
  src/integrationTest/resources/sql/add-audit-and-activity.sql
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/resources/db/migration/postgres/V1_205_2__v42_v43 changes.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-378

#367 DMP-759 Audio Requests API: GET /audio-requests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceProcessAudioRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/util/AudioTestDataUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventHandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioRequestSummaryMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestSummaryMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/enums/AudioRequestStatus.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioRequestSummaryResult.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/JpaAuditing.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
  src/main/resources/db/migration/common/V1_206__update_media_request_expiry_ts.sql
  src/main/resources/openapi/audio-requests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-367

#384 BUGFIX media_request created_by / last_modified_by columns
  src/main/resources/db/migration/common/V1_206__update_media_request_expiry_ts.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-384

#357 DMP-516_Remove_Deprecated_Error_Handling_Mechanisms
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponseCaseNumberLongerThan20Characters.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseNumberMissing_400.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCourthouseMissing_400.json
  src/main/java/uk/gov/hmcts/darts/audit/AuditSearchQueryValidator.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/exception/AuditApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/BasicRestException.java
  src/main/java/uk/gov/hmcts/darts/common/exception/RestExceptionHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-357

#360 DMP-233
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
  src/integrationTest/resources/tests/DailyListTest/dailyListAddDailyListEndpoint/requestBody.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListCPP.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListXHB.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/DailyListRequest2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_invalidCourthouse/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/update_courthouse_ok/DailyListRequest.json
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessor.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/resources/openapi/dailyList.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorImplTest.java
  src/test/resources/Tests/dailylist/DailyListServiceImplTest/processIncomingDailyList/DailyListRequest.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyListMissingTimeMarkNote.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList_NonExistingCourthouse.json
  src/test/resources/Tests/dailylist/mapper/DailyListMapperTest/mapToExistingDailyListEntity_success/DailyListRequest.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-360

#373 Add files via upload
  src/main/resources/db/reference/drop_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-373

#374 Add files via upload
  src/main/resources/db/reference/modernised_darts_erd.pdf
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-374

#376 security-v15
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-376

#389 DMP-728
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/resources/db/migration/postgres/V1_207__update_event_table_with_unique_index.sql
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-389

#377 DMP-107 Adding DB connection string into the vault
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, add-or-update, rel:darts-api-pr-377

#390 DMP-844
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailyList.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-390

#393 dmp-761 : Bug Fixes for Get Even for Hearing
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-393

#392 Version 47 of the darts schema file
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-392

#361 Adding function chart dependency and Keda chart configuration
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-361
