Repository hmcts/darts-api, pull requests merged in 2023-05, with the labels that each got.

#55 DMP-45 Add h2 database
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/config/SwaggerPublisherTest.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-test.yaml
  src/main/resources/db/migration/notification_table.sql
  src/test/java/uk/gov/hmcts/darts/notification/service/CreateNotificationReqServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-55

#54 DMP-113: Implement login-or-refresh
  build.gradle
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/authentication/component/SessionCache.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/Session.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/SessionService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/SessionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-54

#58 Postgresql backout
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  infrastructure/data.tf
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/providers.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  infrastructure/variables.tf
  modernised_darts_schema.txt
  renovate.json
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-58

#61 DMP-45 Correcting Postgress resource group
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-61

#60 DMP-117 Concatenate audio
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioTransformConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioFileInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, add-or-update, rel:darts-api-pr-60

#62 DMP-137: Implement JWT validation
  src/main/java/uk/gov/hmcts/darts/authentication/component/TokenValidator.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/config/JwksConfiguration.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/JwtValidationResult.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-62

#65 Dmp 122.notification service
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/darts/notification/config/BeanConfiguration.java
  src/main/java/uk/gov/hmcts/darts/notification/dto/GovNotifyRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/dto/SaveNotificationToDbRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/Notification.java
  src/main/java/uk/gov/hmcts/darts/notification/exception/TemplateNotFoundException.java
  src/main/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelper.java
  src/main/java/uk/gov/hmcts/darts/notification/mapper/GovNotifyRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/notification/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/darts/notification/service/GovNotifyService.java
  src/main/java/uk/gov/hmcts/darts/notification/service/NotificationService.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/GovNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/test/java/uk/gov/hmcts/darts/notification/service/CreateNotificationReqServiceTest.java
  src/test/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-65

#68 dmp-81 : threadRunner to Execute SystemCommand
  build.gradle
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/util/AudioUtil.java
  src/main/java/uk/gov/hmcts/darts/common/util/.gitkeep
  src/main/java/uk/gov/hmcts/darts/common/util/CommandRunner.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/util/AudioUtilTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommandRunnerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-68

#69 DMP-122 move tests to functionalTests folder.
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-69

#67 DMP-122 Using Govuk notify API key from vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-67

#70 DMP-65 DMP-66 DMP-87
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-70

#72 DMP-141: Added docker-compose-dev.yml to enable local testing.
  README.md
  docker-compose-local.yml
  src/main/resources/application-local.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-72

#71 dmp-105 Audio File Processing - Merge Operation including output file…
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioTransformConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/util/AudioConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-71

#78 DMP-114: Integrate caching, token validation and basic exception hand…
  src/main/java/uk/gov/hmcts/darts/authentication/component/UriProvider.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/AzureDao.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationException.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AzureDaoException.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/OAuthProviderRawResponse.java
  src/main/java/uk/gov/hmcts/darts/authentication/model/Session.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/SessionService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/SessionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/UriProviderImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-78

#74 DMP-121 Schedule Notification requests to Gov Notify using Spring Sch…
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/notification/config/BeanConfiguration.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-74

#79 DMP-114: Integration test for handle-oauth-code
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/resources/application-intTest.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-79

#82 DMP-124 Add Audio request being processed template
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-82

#83 DMP-124 Add Audio request being processed template
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-83

#84 Dmp 45 postgres ql2
  .gitignore
  bin/run-in-docker.sh
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/darts/common/controller/SampleFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-h2db.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application-stg.yaml
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/darts/SampleSmokeTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-84

#88 DMP-177-Postgress-terraform
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-88

#89 Fixing-docker-compose-local: aligning env vars
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-89

#85 DMP-118 Trim audio using ffmpeg
  Dockerfile
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioTransformConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-85

#93 DMP-160 enable application Insights
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-93

#87 DMP-157 create audio metadata table
  src/main/java/uk/gov/hmcts/darts/common/entity/Media.java
  src/main/resources/db/migration/media_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-87

#94 DMP-149 Add Azure AD B2C Secrets: AzureAdB2CTenantIdKey, AzureAdB2CClientIdKey, AzureAdB2CClientSecretKey
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-stg.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-94

#96 DMP-160 correct application Insights settings
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/common/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-96

#91 DMP-140 Flyway db migration setup
  Jenkinsfile_CNP
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/common/config/db/migration/FlywayConfig.java
  src/main/java/uk/gov/hmcts/darts/common/config/db/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/darts/common/config/db/migration/PendingMigrationScriptException.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_1__create_notification_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-91

#99 DMP-140 Changes to fix DB migration running as part of the pipeline
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-99

#100 DMP-140 Amending stg helm values
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-100

#86 DMP-145: Secure Backend Endpoints
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/AccessTokenClient.java
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/authentication/AuthenticationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/common/controller/SampleFunctionalTest.java
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/common/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-86

#102 DMP-140 Flyway clean on stg and prod
  Jenkinsfile_CNP
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-102

#103 DMP-140 flyway clean differently
  Jenkinsfile_CNP
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-103

#104 DMP-140 Setting DB URL for flyway clean
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-104

#106 dmp-232 : Environment variable issues
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/main/java/uk/gov/hmcts/darts/authentication/config/AuthenticationConfiguration.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-106

#107 DMP-161 Create REST Endpoint to receive Events request
  ModernisedDarts.postman_collection.json
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/openapi/event.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-107
