Repository hmcts/darts-api, pull requests merged in 2023-11, with the labels that each got.

#635 Remove unnecessary suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-635

#637 DMP-410 Service to download a transcription - downloadTranscript
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/main/java/uk/gov/hmcts/darts/audit/enums/AuditActivityEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/DownloadTranscriptResponse.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_230__update_audit_activity_standing_data.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-637

#625 DMP-593 - added automated task to delete outbound audio.
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfiguration.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/OutboundDeleterException.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/LastAccessedDeletionDayCalculator.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransientObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidaysService.java
  src/main/java/uk/gov/hmcts/darts/common/service/bankholidays/Event.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_231__insert_outbound_deleter_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/LastAccessedDeletionDayCalculatorTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-625

#626 DMP-938: added darts-gateway and stub to docker compose
  README.md
  bin/dbuild
  bin/dcup
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-626

#636 DMP 1389 added int test
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AudioRequestsControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/enums/ContextIdEnum.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-636

#640 DMP-938: Fixes to docker compose script
  bin/dbuild
  bin/dcup
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-640

#628 postgres_app_v53_sec_v17
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-628

#634 Dmp 1329 get transcription endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTest.java
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNotFound.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-634

#642 DMP-1451: Adding columns to security_group, security_role & user_ tables
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityRoleEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/resources/db/migration/common/V1_232__security_tables_add_columns.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-642

#633 postgres_app_v54_sec_v17
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-633

#645 Updated Postman collection: transcriptions
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-645

#643 DMP-1487 Return empty array instead of 403
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-643

#644 Adding `/preview2` audio preview endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreview2IntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-644

#648 postgres_app_v55_sec_v18_ret_v4
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-648

#650 Returning HTTP 206 partial content
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreview2IntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-650

#647 DMP-1282 - changing package for generated api's to make a more clear …
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/audio/api/AudioApi.java
  src/main/java/uk/gov/hmcts/darts/audio/api/impl/AudioApiImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/UserController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-647

#651 Amending audio/preview2 to use different headers
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-651

#652 Update usermanagement openapi to align with LLD
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-652

#656 Added new transcription endpoint to postman
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-656

#649 Dmp 1409 v53 db
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CourthouseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBody400_MissingCourthouseDisplayName.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBody400_MissingCourthouseName.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBodyHaverfordwest.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBodyTest.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPutEndpoint/requestBodyTest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/TranscriptionsApi.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/impl/TranscriptionsApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_233__v53_updates.sql
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-649

#659 DMP 1409 fix script
  src/main/resources/db/migration/common/V1_233__v53_updates.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-659

#658 DMP-1538 Audio endpoint sort order
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-658

#654 DMP 1465 v54 changes
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/resources/tests/transcriptions/transcription_urgencies/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionUrgencyEntity.java
  src/main/resources/db/migration/common/V1_234__v54_updates.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-654

#657 DMP-1548 Supply case_id
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-657

#664 1465 fix for script
  src/main/resources/db/migration/common/V1_234__v54_updates.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-664

#661 Adding default ordering for some endpoints
  bin/dcdown
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-661

#665 DMP-1527 - use default error handle for Type is SubType not found.
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventTypeToHandlerMap.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-665

#653 DMP-1420 transcription_urgency display_state added
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionUrgenciesTest.java
  src/integrationTest/resources/tests/transcriptions/transcription_urgencies/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionUrgencyEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionUrgencyRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionUrgencyEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_235__Update_TransactionUrgency_Table.sql
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceGetTranscriptionUrgencyTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionUrgencyResponseMapper/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/service/TranscriptionUrgencyResponse/expectedResponseMultipleEntities.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-653

#668 DMP-417 - Don't Notify DAR PC if case is closed.
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-668

#660 postgres_app_v56_sec_v18_ret_v4
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-660

#675 Updating transcription_urgency values in standing data
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-675

#674 Reporting duplicate transcription id in error detail
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiTrait.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-674

#677 DMP-1469 Update audio being processed template
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-677

#678 DMP-1525 DateTime Issue in Get Transcription endpoint
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapper.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-678

#669 DMP-1417 Save filename & fileformat at the end of ATS process
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-669

#679 DMP-1465 BUGFIX not-null constraint violation: transcription_document (checksum)
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/util/FileContentChecksum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/util/FileContentChecksumTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-679

#687 Add log message for ATS
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-687

#686 Amending transcriptions openapi spec
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-686

#684 Dmp 1510 v55 v56 schema
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerPatchCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseManagementRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RetentionPolicyEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RetentionPolicyTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_236__v55_v56_updates.sql
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-684

#693 DMP 1399 updated transcription for isManual
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/WorkflowValidator.java
  src/main/resources/db/migration/common/V1_237___Transaction_Is_manual.sql
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/WorkflowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-693

#694 Github Pages: Embed Swagger UI's code directly in HTML
  README.md
  index.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-694

#688 DMP-1068 audio playback audit
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditApi.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/config/AuditConfiguration.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audit/service/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-688

#700 DMP-923 Updating transcription request approved notification template test
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-700

#676 DMP-596 - Mark Audio files for deletion in the inbound datastore if t…
  .editorconfig
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  build.gradle
  config/pmd/test-ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/InboundAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalLocationTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/helper/CurrentTimeHelper.java
  src/main/java/uk/gov/hmcts/darts/common/helper/SystemUserHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/exception/exception/UserNotFoundException.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/GovNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_238__insert_inbound_audio_deleter_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-676

#701 Fixing audit application_server
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audit/service/impl/AuditServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audit/service/AuditServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-701

#704 DMP-1474, DMP-1477, DMP-1472 - update various templates
  .idea/codeStyles/Project.xml
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/darts/notification/helper/GovNotifyRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-704

#702 DMP-1583: Initial checkin of code to support returning additional transcription…
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTest.java
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-702

#712 DMP-795 Adding notification to approvers on transcription request
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-712

#696 DMP-1343 Migrate media_request schema to align with modernised_darts_schema
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/db/migration/common/V1_241__Update_media_request_table.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-696

#716 Dmp 1583 return additional transcription data
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTest.java
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-716

#715 DMP-1043/DMP-1049: Implement create and modify user account
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/UserManagementService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-715

#717 Updated transcription rejection notification template.
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-717

#721 add test script to postman collection
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-721

#722 DMP-1361 - Change query to use currentOwner instead of requestor
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-722

#695 DMP-594 - added class's that will delete data from actual data stores…
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/DataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/ExternalDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/ObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/TransientObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/ExternalInboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/InboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/InboundExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/ExternalOutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/OutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/OutboundExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/ExternalUnstructuredDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/UnstructuredDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/UnstructuredExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/OutboundDeleterException.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectDirectory.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SystemUsersAccountUUIDEnum.java
  src/main/java/uk/gov/hmcts/darts/common/exception/AzureDeleteBlobException.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransientObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/dao/impl/DataManagementDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_242__insert_external_datastore_deleter.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalInboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-695

#725 DMP-1646 Amending portal URL from .platform to .apps
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-725

#726 Add usermanagement POST /security-groups to openapi
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-726

#727 DMP-1644 - fix rejection email not being sent
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/darts/notification/dto/SaveNotificationToDbRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/util/TranscriptionUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-727

#731 DMP-1654 - Check for court cases using courthouse and case number combo
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-731

#697 DMP 768 tests done
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-697

#720 Dmp 1296 add authorisation for dar pc mid tier
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/configuration/AccessTokenClientConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/darts/configuration/AzureAdB2CDarPcMidtierGlobalAuthenticationProperties.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/noderegistration/NodeRegistrationFunctionalTest.java
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
  src/main/resources/db/migration/common/V1_243__add_external_test_security_groups.sql
  src/main/resources/db/migration/h2/V1_243_1__add_external_test_security_groups.sql
  src/main/resources/db/migration/local/V1_243_2__add_external_test_security_groups.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-720

#733 DMP-447 added a post /audios to postman collection
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-733

#732 dmp 1582 added urgencies
  src/integrationTest/resources/tests/transcriptions/transcription_urgencies/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/enums/TranscriptionUrgencyEnum.java
  src/main/resources/db/migration/common/V1_244__add_transcription_urgency.sql
  src/test/resources/Tests/transcriptions/mapper/TranscriptionUrgencyResponseMapper/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/service/TranscriptionUrgencyResponse/expectedResponseMultipleEntities.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-732

#739 DMP-1660 Refactor audio request processed logic
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-739

#742 DMP-1660 Audio request processed hibernate fix
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-742

#744 DMP-1660 Remove tempory logging around audio ready notification
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-744

#740 Added postman collection changes
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-740

#735 DMP-1531 - raise an error if an event mapping is not in the database.
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DartsEventNullHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventTypeToHandlerMap.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-735

#734 Dmp 598 inbound to unstructured automated
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessor.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/config/TranscriptionConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_245__inbound_to_unstructured_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-734

#750 Setting pod limits for Dev deployments, same as staging
  charts/darts-api/values.dev.template.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-750

#751 DMP-1600 Add getTranscriberTranscripts: GET /transcriptions/transcriber-view
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/config/ClockTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionUrgenciesTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfiguration.java
  src/main/java/uk/gov/hmcts/darts/common/config/ClockConfiguration.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/TranscriberTranscriptsQuery.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberViewSummaryRowMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-751

#749 DMP-1473 Updated notify template - "Error in Processing Audio" fields added
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/NotificationConstants.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-749

#752 dmp 599 add new mark delete task
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_246__insert_mark_for_deletion.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-752

#747 DMP-1574 - enhance /audio/preview and /audio/playback with "Content-L…
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreview2IntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/util/StreamingResponseEntityUtil.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-local.yaml
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/util/StreamingResponseEntityUtilTest.java
  src/test/resources/Tests/audio/testAudio.mp2
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-747

#745 DMP-1537 Update multiple transcriptions to hide request from requestor
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/ControllerAuthorisation.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AnyEntityIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AudioRequestsControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/BaseControllerAuthorisation.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/CaseIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/HearingIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaRequestIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/TranscriptionIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/util/AuthorisationUnitOfWork.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/exception/PartialFailureException.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/notification/enums/NotificationStatus.java
  src/main/java/uk/gov/hmcts/darts/task/status/AutomatedTaskStatus.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/helper/UpdateTranscriptionEntityHelper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionsUpdateValidator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionsUpdateSetHidingValidator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/WorkflowValidator.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/CaseIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/HearingIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaRequestIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/TranscriptionIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/util/AuthorisationUnitOfWorkTest.java
  src/test/java/uk/gov/hmcts/darts/common/exception/PartialFailureExceptionTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionsUpdateSetHidingValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-745

#741 improving logging to debug issue where blob storage is being deleted …
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-741

#754 V58 data model
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-754

#753 DMP-1615-ATS-FilterMedia
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-753

#758 add logging to aid investigation into DMP-1666
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-758

#762 Update functional test content for notifications
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-762

#766 DMP 705 fix text case
  ModernisedDarts.postman_collection.json
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/darts/noderegistration/NodeRegistrationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
  src/main/resources/openapi/noderegistration.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-766
