Repository hmcts/darts-api, pull requests merged in 2023-12, with the labels that each got.

#757 DMP-1565: add full ids
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CasesControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/integrationTest/resources/tests/transcriptions/transcription_types/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription_urgencies/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/hearings.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionTypeResponseMapper/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionTypeResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionUrgencyResponseMapper/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionUrgencyResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/service/TranscriptionTypeResponse/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/service/TranscriptionUrgencyResponse/expectedResponseMultipleEntities.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-757

#764 Dmp 1633 transcriber transcription counts
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/TranscriberTranscriptsQuery.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-764

#769 DMP-1720 Checking `hide_request_from_requestor` is "Your transcripts" endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/YourTranscriptsQuery.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-769

#746 DMP-1636: Implement POST /security-groups
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/validation/Validator.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/validation/impl/SecurityGroupCreationValidation.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-746

#779 DMP-1768 Changed loop control to continue
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-779

#685 Upgrade org.flywaydb.flyway 10.x
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-685

#784 Add flyway postgresql to buildscript
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-784

#783 DMP-1382 - Add 2000 character restriction to transcriptions OpenAPI spec
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-783

#776 DMP-1727 written failing test
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-776

#778 DMP-1744: Using a boolean to represent whether a user is active
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/db/migration/common/V1_247__use_boolean_to_represent_user_account_activation.sql
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-778

#781 DMP-1719 Added global access to security roles criteria
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-781

#796 DMP-1719 Added integration tests
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-796

#765 DMP-1635 added validation on creating users with same email
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/validation/DuplicateEmailValidator.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/validation/UserAccountExistsValidator.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/DuplicateEmailValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserAccountExistsValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-765

#785 DMP-1666-Fix-HearingEvents
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-785

#808 DMP-1719 Changed to convert email address to lowercase for global acc…
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-808

#788 Origin/dmp 1473 update notify template error in processing audio
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-788

#802 DMP 1598 added priority
  src/integrationTest/resources/tests/transcriptions/transcription_urgencies/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionUrgencyResponseMapper/expectedResponseMultipleEntities.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionUrgencyResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/service/TranscriptionUrgencyResponse/expectedResponseMultipleEntities.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-802

#814 DMP-1667 Transcription Available copy updated
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-814

#819 Remove dependency check from ci
  .github/workflows/ci.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-819

#815 DMP-1599 added view, entity and test
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingReportingRestrictionsRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingReportingRestrictionsRepository.java
  src/main/resources/db/migration/common/V1_249__view_reporting_restrictions.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-815

#821 DMP-1347: replaced field-based injection with constructor-based injection
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DartsEventNullHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-821

#816 DMP-1805 Audio preview/playback seek fix
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/util/StreamingResponseEntityUtil.java
  src/test/java/uk/gov/hmcts/darts/audio/util/StreamingResponseEntityUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-816

#811 DMP-1763: user search by state
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/UserSearchQuery.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserSearchQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-811

#824 dmp 1599 fixed type
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-824

#789 Dmp 652 unstructured to arm push
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/testutil/ArmTestUtil.java
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/dao/ArmDataManagementDao.java
  src/main/java/uk/gov/hmcts/darts/arm/dao/impl/ArmDataManagementDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectDirectoryStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_250__unstructured_to_arm_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/dao/ArmDataManagementDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-789

#822 Dmp 1726.get audio requests v2
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioV2IntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerTransMediaUpdateLastAccessedTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateLastAccessedTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/HearingStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAudioRequestResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/MediaRequestDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/TransformedMediaDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/TransformedMediaDetailsDto.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-822

#795 DMP-1537 - Add increased logging around transcription update failures
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-795

#787 Test enhancements
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/AwaitabilityUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/WorkflowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-787

#828 DMP-1726 - slight correct to logic
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioV2IntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-828

#833 DMP-1350 updated integration tests to extend IntegrationBase
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateLastAccessedTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/FileOperationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/exception/ExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListHousekeepingControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceHousekeepingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-833

#810 DMP-1384 - Cannot approve or reject your own transcript requests.
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/api/impl/TranscriptionsApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-810

#823 DMP-1658: Apply authorisation to admin endpoints
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AdminUserStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/resources/db/migration/local/V1_249_1__global_test_user_admin.sql
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-823

#807 DMP-1749: Change security role LANGUAGE_SHOP to TRANSLATION_QA
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerTransMediaUpdateLastAccessedTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateLastAccessedTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityRoleEnum.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/resources/db/migration/common/V1_251__rename_roles.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/AnyEntityIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/CaseIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/HearingIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaRequestIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/TranscriptionIdControllerAuthorisationImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-807

#841 DMP-1864: Add SSO configuration
  src/main/java/uk/gov/hmcts/darts/authentication/client/impl/OAuthClientImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-841

#842 DMP-1586: Adding artificial id to view
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
  src/main/resources/db/migration/common/V1_252__add_artificial_id_to_view.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-842

#850 Dmp-1864-demo-env
  charts/darts-api/values.demo.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-850

#856 Adding logs to InboundToUnstructuredProcessorImpl
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-856

#773 DMP-1625 arm create media manifest file
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/ArchiveRecordFileGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/enums/ArchiveRecordType.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/ArchiveRecordApiError.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/AnnotationArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/MediaArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/TranscriptionArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/model/ArchiveMetadata.java
  src/main/java/uk/gov/hmcts/darts/arm/model/ArchiveRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/ArchiveRecordOperation.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/AnnotationArchiveRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/ArchiveRecordFileInfo.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/MediaArchiveRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/TranscriptionArchiveRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/UploadNewFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/AnnotationCreateArchiveRecordMetadata.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/MediaCreateArchiveRecordMetadata.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/TranscriptionCreateArchiveRecordMetadata.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/UploadNewFileRecordMetadata.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/operation/AnnotationCreateArchiveRecordOperation.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/operation/MediaCreateArchiveRecordOperation.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/operation/TranscriptionCreateArchiveRecordOperation.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArchiveRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArchiveConstants.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectDirectoryStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_253__arm_object_directory_statuses.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/resources/Tests/arm/component/ArchiveMediaMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-773

#857 Amending exception handling in inbound to unstructured automated task
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-857

#858 Adding stacktrace to inbound to unstructured error log
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-858

#860 Added extra logging to push arm manifest file
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-860

#851 DMP-1586: handle multiple reporting restrictions
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerPatchCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CaseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/HearingTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingReportingRestrictionsRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCase/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCaseWithReportingRestriction/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-851

#864 Inbound unstructured fixes
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-864

#855 DMP-1750 Adding /admin to start of admin endpoints
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-855
