Repository hmcts/darts-api, pull requests merged in 2024-07, with the labels that each got.

#1648 DMP-3368 Improved misleading task execution logs. Fixed bug in task e…
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/BatchCleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseUnfinishedTranscriptionsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1648

#1654 Temp disable tests which user redis/postgres / attempted flakey DAR notify test fix
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/TransformedMediaRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/main/java/uk/gov/hmcts/darts/common/config/AsyncEventsConfig.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1654

#1646 DMP-3175: Apply fix by handling an empty court houses id array
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerAdminPostTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingsServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1646

#1649 Version 70 data model (updated)
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1649

#1659 DMP-3295 Fix logs containing dateTimes with zero seconds for Dynatrace
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/util/DateTimeHelper.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1659

#1657 DMP-3054: Recording event_linked_case for darts events
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/HandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DartsEventNullHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/resources/db/migration/common/V1_328__drop_case_number_from_view.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1657

#1670 DMP-3425 updated dets container name to new container
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1670

#1667 Minor name change for notification service
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1667

#1666 DMP-3444: Implement v70 datamodel changes
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/CourtCaseDocumentMapperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaMapper.java
  src/main/java/uk/gov/hmcts/darts/casedocument/mapper/CaseObjectsCaseDocumentMapper.java
  src/main/java/uk/gov/hmcts/darts/casedocument/model/HearingCaseDocument.java
  src/main/java/uk/gov/hmcts/darts/casedocument/model/MediaCaseDocument.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseOverflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/db/migration/common/V1_329__v70.sql
  src/main/resources/db/migration/h2/V1_329_1__v70.sql
  src/main/resources/db/migration/postgres/V1_329_1__v70.sql
  src/main/resources/db/reference/delete/delete_for_v70_constraints.sql
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1666

#1675 DMP-3406 Adding `hide_request_from_requestor` to get transcription by ID response
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoCourtroom.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoUrgency.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1675

#1672 DMP-3027 Schedule notifications for active users only
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/dto/SaveNotificationToDbRequest.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1672

#1671 DMP-3446 - add Courthouses for migration
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/main/resources/db/migration/postgres/V1_330_1__insertProdCourthouses.sql
  src/main/resources/db/migration/postgres/V1_330_2__insertProdCourthouses.sql
  src/main/resources/db/migration/postgres/V1_330_3__insertProdCourthouses.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1671

#1676 DMP-1713 Setting event.event_status when receiving events
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/event/enums/EventStatus.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1676

#1677 DMP-3082 Add missing legacy handlers
  src/main/resources/db/migration/common/V1_331__insert_missing_event_handlers.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1677

#1685 DMP-3514 Re-enable tests relying on Redis testcontainer
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1685

#1681 DMP-3461 Get events by case id endpoint
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceGetEventsTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetEventsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
  src/test/resources/Tests/cases/CaseServiceTest/testGetEventsByCase/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1681

#1689 DMP-3057 Return latest versioned events
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/CourtCaseDocumentMapperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/main/java/uk/gov/hmcts/darts/casedocument/model/EventCaseDocument.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetEventsResponseMapper.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetEventsResponseMapperTest.java
  src/test/resources/Tests/cases/CasesMapperTest/testVersionedEvents/expectedResponseForVersionedEvents.json
  src/test/resources/Tests/cases/CasesMapperTest/testVersionedEvents/expectedResponseForVersionedEventsWithGroupedEventsIsCurrentSet.json
  src/test/resources/Tests/cases/CasesMapperTest/testVersionedEvents/expectedResponseForZeroIdVersionedEvents.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1689

#1686 DMP-3283 Defendant unallocated case regex check
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyDefendantNameIssues.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/CasesLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1686

#1693 DMP-3336 Fixing assigned transcripts query
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1693

#1690 DMP-3174: Admin event search
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthouseUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventsSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TransactionalUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/integrationTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapper.java
  src/main/java/uk/gov/hmcts/darts/event/model/EventSearchResult.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventSearchService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventSearchServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapperTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourthouseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourtroomTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1690

#1697 DMP-3054: Fixing courtroom doesn't exist when receiving darts event
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DartsEventNullHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1697

#1698 DMP-2723 GET /userstate to return 403 for users without an email address
  src/main/java/uk/gov/hmcts/darts/authorisation/controller/AuthorisationController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/controller/impl/AuthorisationControllerImpl.java
  src/test/java/uk/gov/hmcts/darts/authorisation/controller/impl/AuthorisationControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1698

#1673 DMP-3447 - populate Prod security roles
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityRoleEnum.java
  src/main/resources/db/migration/h2/V1_331_1__addProdSecurityRoles.sql
  src/main/resources/db/migration/postgres/V1_331_1__addProdSecurityRoles.sql
  src/main/resources/db/migration/postgres/V1_331_2__addProdSecurityRoles.sql
  src/main/resources/db/migration/postgres/V1_331_3__addProdSecurityRoles.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1673

#1699 DMP-3256 - add extra allowed media extensions
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioFileValidator.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidator.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1699

#1703 DMP-3302 set courtroom when linking transcription request to hearing(s)
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/MigratedTranscriptionSearchGivensBuilder.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntityTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1703

#1704 DMP-1550 Limit transcript request result size
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DateHelper.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1704

#1706 DMP-1550 Improve transcription integration tests
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DateHelper.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1706

#1708 DMP-3256 - add extra allowed media extensions
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioFileValidator.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidator.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1708

#1702 dmp-3562: update the case document filename to include extension
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentSingleCaseProcessorImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentSingleCaseProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1702

#1707 DMP-3387 Upgrade Java to version 21
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  Dockerfile
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundFileZipGeneratorHelperImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommandRunnerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1707

#1682 DMP-3364 Support user active state
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioV2IntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SuperAdminUserStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreHiddenTranscripts.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoCourtroom.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoUrgency.json
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CaseTranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/model/CaseTranscriptModel.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/common/model/TranscriptModel.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/HearingTranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/model/HearingTranscriptModel.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1682

#1711 Remove milliseconds from functional tests
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1711

#1714 Use OffsetDateTime for date limit and change max size to BigInt in Transcription query
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/util/TranscriptionUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1714

#1705 DMP-3388: Correct the title for error AUDIO_REQUESTS_102
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1705

#1718 DMP-3354 Reverting StopAndCloseHandler to use sync DAR stop notification
  src/main/java/uk/gov/hmcts/darts/event/exception/DarNotifyError.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1718

#1719 DMP-3174: Align POST /admin/events/search response with LLD
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventSearchService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventSearchServiceImpl.java
  src/main/resources/openapi/event.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1719

#1712 DMP-3470 improved logging for ATS processing
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1712

#1720 DMP-3312: Simplify computing a checksum for streams that can be fully…
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/FileContentChecksum.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/FileContentChecksumTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1720

#1723 Dmp 3574.mutlriple transcript request results
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1723

#1726 DMP-3501 - Advanced search - allow a courthouse and specific date to …
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1726

#1721 Dmp 3496: event flag processing
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/EventProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/CleanupCurrentFlagEventProcessor.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupCurrentEventTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualTaskService.java
  src/main/resources/db/migration/common/V1_332__add_task_cleanup_current_event.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/UnstructuredToArmProcessorFactoryTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CleanCurrentEventTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1721

#1731 DMP-3501 - allow advanced search with just courthouse and date range
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1731

#1735 Handle null dates
  src/main/java/uk/gov/hmcts/darts/util/DateTimeHelper.java
  src/test/java/uk/gov/hmcts/darts/util/DateTimeHelperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1735

#1727 DMP-3448 - populate security Groups
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/main/resources/db/migration/common/V1_333__insert_security_groups.sql
  src/main/resources/db/migration/postgres/V1_333_1__insert_security_groups.sql
  src/main/resources/db/migration/postgres/V1_333_2__insert_security_groups.sql
  src/main/resources/db/migration/postgres/V1_333_3__insert_security_groups.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1727

#1748 DMP-3638 Minor summary changes on retentions swagger doc
  src/main/resources/openapi/retentions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1748

#1750 DMP-3628 - add System User Accounts
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/resources/db/migration/common/V1_334__insert_user_accounts.sql
  src/main/resources/db/migration/local/V1_334_5__insert_user_accounts.sql
  src/main/resources/db/migration/local/afterMigrate.sql
  src/main/resources/db/migration/postgres/V1_334_1__insert_user_accounts.sql
  src/main/resources/db/migration/postgres/V1_334_2__insert_user_accounts.sql
  src/main/resources/db/migration/postgres/V1_334_3__insert_user_accounts.sql
  src/main/resources/db/migration/postgres/V1_334_4__insert_user_accounts.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1750

#1743 DMP-3649: Fixing event search
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventSearchServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1743

#1755 DMP-3612 - add production security group to courthouse associations.
  src/main/resources/db/migration/postgres/V1_335__insert_security_group_courthouses.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1755

#1758 Add new jitpack config to refer to java 21
  jitpack.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1758

#1761 DMP-3571-part2 removed no longer needed manual cleanup of test data …
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchUseInterpreterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/RetentionPolicyAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupManagementAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/UserManagementAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/UserQueryTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1761

#1762 dmp-3470: improve ats logs for dynatrace
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1762

#1764 DMP-3613 Timestamp an hour out on e-mail notification
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1764

#1756 dmp-3449: arm downloadblob and updatemetadata improvements
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1756

#1757 DMP-3658 - populate security_group_user_account_ae
  src/main/resources/db/migration/postgres/V1_336__insert_user_account_security_groups.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1757

#1763 DMP-3348 Uppercase judges name
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/resources/tests/cases/CaseControllerAdminSearchTest/testOk/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseDateRange.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseEventText.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseJudgeName.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesGetEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/allResults/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/hearingDateEndOnly/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/hearingDateStartAndEndOnly/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/hearingDateStartOnly/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/multipleFieldsExcludingHearingDate/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/usingCourthouseIds/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/usingEmptyCourthouseIds/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithCaseNumber/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithCourtroom/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithCourtroomJudge/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFrom/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFromTo/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeFromToSameDate/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeTo/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithDateRangeTo5/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithEventText/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithJudge/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdvancedSearchTest/getWithJudgeMultipleCourtHouses/expectedResponse.json
  src/integrationTest/resources/tests/cases/usingEmptyCourthouseIds/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoCourtroom.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoHearing.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoUrgency.json
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/JudgeTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1763

#1765 DMP-3664 - Add 4 new courthouses
  src/main/resources/db/migration/postgres/V1_337_1__add_4_new_courthouses.sql
  src/main/resources/db/migration/postgres/V1_337_2__add_4_new_courthouses.sql
  src/main/resources/db/migration/postgres/V1_337_3__add_4_new_courthouses.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1765

#1736 V71 Data model
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1736

#1737 V71.1 Data model
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/object_state_record.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1737

#1767 DMP-3303 Hide isHearingActual false cases from darts portal
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1767

#1747 DMP-3614: Utilise io streams for file upload to outbound storage for ATS
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/UnstructuredDataHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentSingleCaseProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/model/BlobClientUploadResponse.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/model/BlobClientUploadResponseImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentSingleCaseProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/model/BlobClientUploadResponseImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1747

#1772 DMP-3512: Fix flaky test testSummationWithConcurrency
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1772

#1732 DMP-3566: Checkin the integration tests around daily lisy run and remove obsolu…
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListHousekeepingControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListPostControllerTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailylist.yaml
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1732

#1768 DMP-3610: Update media request timestamp when changing from open to processing
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRequestRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1768

#1752 DMP-2875: Auditing audio admin
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/AudioAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/auditing/AuditExecutor.java
  src/main/java/uk/gov/hmcts/darts/audio/auditing/DartsEnversPostUpdateEventListener.java
  src/main/java/uk/gov/hmcts/darts/audio/auditing/HibernateEventListenerRegistryConfiguration.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidator.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/main/resources/db/migration/common/V1_339__insert_audio_audit_activities.sql
  src/main/resources/db/migration/common/V1_340__add_envers_media_request_table.sql
  src/test/java/uk/gov/hmcts/darts/audio/auditing/DartsEnversPostUpdateEventListenerTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1752

#1744 DMP-3292: Task that manages the inbound store transcription and annotation deletion
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/InboundAnnotationTranscriptionDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DatabaseDateSetter.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtroomStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtroomStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStubComposable.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/service/InboundAnnotationTranscriptionDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/InboundAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryQueryTypeEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualTaskService.java
  src/main/resources/db/migration/common/V1_341__add_task_inbound_transcription_annotation_deletion.sql
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1744

#1773 DMP-3661 - v71 database changes
  build.gradle
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectStateRecordEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/resources/db/migration/common/V1_338_1__v71.sql
  src/main/resources/db/migration/common/V1_338_2__v71.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1773

#1777 fix build
  src/main/resources/db/migration/common/V1_342_1__v71.sql
  src/main/resources/db/migration/common/V1_342_2__v71.sql
  src/main/resources/db/migration/common/V1_342__v71.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1777

#1778 Fixbuild chris
  src/main/resources/db/migration/common/V1_342_1__v71.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1778

#1781 DMP-3661 - add unique constraint on security_group(group_name)
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/main/resources/db/migration/common/V1_344_3__v71_3.sql
  src/main/resources/db/migration/common/V1_344__v71_3.sql
  src/main/resources/db/migration/postgres/V1_344_1__v71_3.sql
  src/main/resources/db/migration/postgres/V1_344_2__v71_3.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1781

#1782 DMP-3595 - make IDs of static data fixed
  src/main/resources/db/migration/common/V1_345__make_event_handler_have_fixed_ids.sql
  src/main/resources/db/migration/common/V1_346__make_audit_activity_have_fixed_ids.sql
  src/main/resources/db/migration/postgres/V1_345_1__make_event_handler_have_fixed_ids.sql
  src/main/resources/db/migration/postgres/V1_345_2__make_event_handler_have_fixed_ids.sql
  src/main/resources/db/migration/postgres/V1_345_3__make_event_handler_have_fixed_ids.sql
  src/main/resources/db/migration/postgres/V1_346_1__make_audit_activity_have_fixed_ids.sql
  src/main/resources/db/migration/postgres/V1_346_2__make_audit_activity_have_fixed_ids.sql
  src/main/resources/db/migration/postgres/V1_346_3__make_audit_activity_have_fixed_ids.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1782

#1785 fix DailyList processing
  src/main/resources/db/migration/postgres/V1_347__add_dailyList_system_user.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1785
