Repository hmcts/darts-api, pull requests merged in 2024-11, with the labels that each got.

#2181 DMP-4128 - UnstructuredAudioDeleterProcessorImpl failing to mark EODs…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DatabaseDateSetter.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/helper/SystemUserHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/config/AutomatedTaskConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/task/config/TaskSchedulerConfiguration.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2181

#2222 DMP-4156: Enhance add audio duplicate checking to use media_linked_case source
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2222

#2201 V72_1 Data model
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2201

#2155 Dmp 4081 inactive user check
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/TokenValidatorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsTokenAndJwksKey.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/DartsTokenGenerator.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBaseWithWiremock.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/TokenStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/authentication/component/impl/TokenValidatorImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/UserIdentity.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/util/EmailAddressFromTokenUtil.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiTrait.java
  src/test/java/uk/gov/hmcts/darts/authorisation/util/EmailAddressFromTokenUtilTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/MemoryLogAppender.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2155

#2226 DMP-4225: Flyway script to run automated tasks as different users
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/main/resources/db/migration/common/V1_403__automated_task_users.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2226

#2229 Flyway to add usernames and descriptions for automated task system users
  src/main/resources/db/migration/common/V1_404__update_usernames_for_automated_task_users.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2229

#2210 DMP-4165: Revert DMP-3201
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaRequestTestData.java
Labels: ns:darts-modernisation, prd:darts, ready_for_test, rel:darts-api-pr-2210

#2223 Dmp 4134 armrpo integrate get storage accounts
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmRpoClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArpRpoApiGetStorageAccountsIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/StorageAccountRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/StorageAccountResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetRecordManagementMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetStorageAccountsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2223

#2217 DMP-4135: Implement getProfileEntitlements for ARM RPO
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoGetProfileEntitlementsIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ProfileEntitlementResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/ArmRpoException.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProfileEntitlementsTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2217

#2193 DMP-4113: Use uppercase for Courthouse and Courtroom in logs
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/util/DataUtil.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/DataUtilTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2193

#2233 DMP-4259 - remove migration user
  src/main/resources/db/migration/common/V1_405__remove_dmadmin_account.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2233

#2231 DMP-3616: Implement addAsyncSearch for ARM RPO
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiAddAsyncSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ArmAutomatedTaskRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ArmAsyncSearchResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AddAsyncSearchRequestGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ArmAutomatedTaskRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/AddAsyncSearchRequestGeneratorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiAddAsyncSearchTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProfileEntitlementsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2231

#2232 DMP-4241 - Fix Performance of InboundAudioDeleterProcessor
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/datamanagement/service/InboundAnnotationTranscriptionDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/InboundAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SystemUsersEnum.java
  src/main/java/uk/gov/hmcts/darts/common/helper/SystemUserHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundAnnotationTranscriptionDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_406__tidy_system_accounts.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/helper/SystemUserHelperTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2232

#2196 DMP-4119: Trim Defendant, Prosecutor and Defender names
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CreateCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/util/DataUtil.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CreateCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/DataUtilTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2196

#2235 DMP-4267 Find courthouse by display name
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourthouseTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2235

#2149 DMP-2559: Fixed issue with transactions + General optimisations
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2149

#2236 DMP-4053 Enable the audio linking job
  src/main/resources/db/migration/common/V1_407__enable_audio_linking.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2236

#2094 DMP-2725: Transcription and media manual deletion audit
  .github/workflows/flyway-dupe-checker.yml
  .github/workflows/on-pr.yml
  bin/ci/flyway-dupe-checker.sh
  charts/darts-api/values.dev.template.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPostAdminApproveMediaMarkedForDeletionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostAproveDeletionIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditApi.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/db/migration/common/V1_408__manual_deletion_audit_activity.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplApproveMarkedForDeletionTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audit/service/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2094, ready_for_test

#2166 DMP-4105: When a transcription document or media entity is deleted I should not be able to view it via URl updates
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaIdValidator.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransientObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplApproveMarkedForDeletionTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, enable_darts_portal, rel:darts-api-pr-2166

#2134 DMP-3998 Enhance ApplyRetentionCaseAssociatedObjects task to handle versioned media
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2134

#2197 DMP-4072: CloseOldCasesProcessorImpl holding db transaction
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2197

#2053 DMP-3666 - An audit log must be kept for child objects of case deletion due to expiry
  charts/darts-api/values.dev.template.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/HasIntegerId.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/resources/db/migration/common/V1_409__associatedObjectDataExpiryDeletion_audit_activities.sql
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2053, ready_for_test, enable_darts_portal

#2204 DMP-4016: Anonymise text from all versions of event on case expiry
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventLinkedCaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/destroy, enable_darts_portal, prod/destroy, rel:darts-api-pr-2204

#2246 DMP-3806 (Dev Only) ARM RPO - Integrate getExtendedSearchesByMatter
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetExtendedSearchesByMatterIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArpRpoApiGetStorageAccountsIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AddAsyncSearchRequestGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/GetExtendedSearchesByMatterRequestGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArmRpoJsonUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/GetExtendedSearchesByMatterRequestGeneratorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedSearchesByMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/ArmRpoJsonUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2246

#2256 DMP-4140: Implement getProductionOutputFiles for ARM RPO
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetProductionOutputFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ProductionOutputFilesRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ProductionOutputFilesResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProductionOutputFilesTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2256

#2247 DMP-4267 case search courtroom issue
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesSearchRequest.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2247

#2133 Dmp 3928 audit trail for manual obfuscation
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPostAdminApproveMediaMarkedForDeletionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/EventLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/main/resources/db/migration/common/V1_410__manual_obfuscation_audit_activity.sql
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2133

#2255 Dmp 4142 armrpo integrate remove production
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiRemoveProductionIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/RemoveProductionRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/RemoveProductionResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiRemoveProductionTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2255

#2215 Dmp 3986.media linked case enhance
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataMediaLinkIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioAsyncService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioAsyncServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/converter/MediaLinkedCaseSourceTypeConverter.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/MediaLinkedCaseSourceType.java
  src/main/java/uk/gov/hmcts/darts/common/helper/MediaLinkedCaseHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioAsyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/AwaitabilityUtil.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/destroy, prod/destroy, rel:darts-api-pr-2215

#2239 DMP-3964 Using postgres v16 in docker
  README.md
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2239

#2257 DMP-4139 : Arm Rpo Integrate getExtendedProductionsByMatter
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetExtendedProductionsByMatterIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedProductionsByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/GetExtendedProductionsByMatterRequestGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/GetExtendedProductionsByMatterRequestGeneratorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedProductionsByMatterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2257

#2254 DMP-4241 - fix logging
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2254

#2228 DMP-4204: UnstructuredToArmDataStore - Add multi-threading to azcopy
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/config/UnstructuredToArmProcessorConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2228

#2253 DMP-4141 (Dev Only) ARM RPO - Integrate downloadProduction
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiDownloadProductionIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiDownloadProductionTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2253

#2266 DMP-4144 ARM RPO - Integrate all Endpoints for ARMRPOPollAutomatedTask
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ArmRpoExecutionDetailTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ArmRpoStateEntityTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ArmRpoStatusEntityTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/PersistableFactory.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestArmRpoExecutionDetailEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2266

#2261 Default darts-portal chart to not enabled
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2261

#2267 Applied review comments to PR#2248
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/datamanagement/service/InboundTranscriptionAnnotationDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentProcessor.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentForRetentionDateBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundTranscriptionAnnotationDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundTranscriptionAnnotationDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/config/AbstractAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/InboundTranscriptionAnnotationDeleterAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/ProcessE2EArmRpoPendingAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentForRetentionDateAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundTranscriptionAnnotationDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDetsToArmResponseAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/RemoveDuplicatedEventsAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_412__automated_task_batch_cron.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCourtCaseDocumentAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCourtCaseDocumentForRetentionDateAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/InboundTranscriptionAnnotationDeleterAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2267

#2264 DMP-2402: Upload audio to azure directly from DARTS Proxy
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2264

#2274 Improve logs for audio linking job
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2274

#2275 Adding darts-portal to docker-compose-local.yml
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2275

#2276 Fixing anonymize spelling
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2276

#2250 DMP-4221: (Dev Only)Remove ARM's single mode logic
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/ArmResponseFilesProcessSingleElement.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/CleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_414__drop_old_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplDeleteResponseBlobsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTaskTest.java
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testCreateRecordFileJson/CreateRecordFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testCreateRecordFileJson/CreateRecordFile_1_cr.rsp
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidInputFileJson/CreateRecordFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidInputFileJson/InvalidInputFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidLineFile/InvalidLineFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidLineFileJson/InvalidLineFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidUploadFileJson/InvalidUploadRecordFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testUploadFileJson/UploadRecordFile.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2250

#2285 DMP:4143: Correct response structure and logic for getStorageAccount …
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmRpoClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArpRpoApiGetStorageAccountsIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/StorageAccountResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetStorageAccountsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2285

#2282 Updated apply retention cron
  src/main/resources/db/migration/common/V1_415__apply_retention_cron.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2282

#2269 DMP-4119: Trim Defendant, Prosecutor and Defender names
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyWithSpaces.json
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/CitizenNameMapper.java
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/CitizenMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2269

#2270 DMP-4143: Implement ProcessE2EARMRPOPending automated task
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTaskIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmRpoService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/TriggerArmRpoSearchService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiAddAsyncSearchTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2270

#2283 DMP-2402: Upload audio to azure directly from DARTS Proxy
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2283

#2289 DMP-4315: Remove synchronous DETS Cleanup logic
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2289

#2288 DMP-4251: Introduce and use event obfuscation feature flag
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2288

#2284 DMP-4195: New Automated job to Replay objects for Missing ARM response files
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmMissingResponseCleanupImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceCommon.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/config/ArmMissingResponseReplayAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmMissingResponseReplayAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_416__ArmMissingResponseReplay_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/AbstractBatchCleanupArmResponseFilesServiceCommonTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmMissingResponseCleanupImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmMissingResponseReplayAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2284

#2286 DMP-3634: ARM RPO - Replay Failed ARM Objects
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/config/ArmRpoReplayAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/AutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_417__update_automated_task_user_emails.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2286

#2292 Dmp 3997 arm response dynamic invalid line files
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/model/blobs/ArmBatchResponses.java
  src/main/java/uk/gov/hmcts/darts/arm/model/blobs/ArmResponseBatchData.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2292

#2312 DMP-4374 Setting TRANSLATION_QA role as global access for transcriptions
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2312

#2304 DMP-4270 Add Is current to admin get medias by id endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaMapper.java
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2304

#2314 DMP-4390 Adding "is_current" to the GET /admin/medias endpoint response
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2314

#2305 DMP-4273: A large number of BadJwtExceptions are being thrown on staging
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/resources/db/migration/common/V1_418__functional_test_user.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2305

#2293 DMP-4199: Only expire event when all linked cases have expired
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2293

#2297 DMP-4304 Fixing hidden/deleted audio and transcripts still accessible
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloader.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearingTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloaderTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-2297

#2325 Updated PMD main rules
  build.gradle
  config/pmd/main-ruleset.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2325

#2298 DMP-4358: Add buffer time in CaseExpiryDeletion and AssociatedObjectDataExpiryDeletion
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/config/AssociatedObjectDataExpiryDeletionAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/CaseExpiryDeletionAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/CanReturnExternalObjectDirectoryEntities.java
  src/main/java/uk/gov/hmcts/darts/task/runner/HasRetention.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmMissingResponseReplayAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoPollingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/BatchCleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseUnfinishedTranscriptionsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DetsCleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DetsToArmPushAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentForRetentionDateAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundTranscriptionAnnotationDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ManualDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDetsToArmResponseAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/RemoveDuplicatedEventsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2298

#2310 Dmp 4373 dets to arm darts to arm invalid line files failing
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/ValidResponses/InvalidLineFile2.rsp
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArmResponseFilesUtil.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/test/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/ArmResponseFilesUtilTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2310

#2326 DMP-4413 ARM RPO Automated Tasks issues with feature flag PROCESS_E2E…
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoPollingAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2326

#2335 DMP-4427: Upgrade basic logging in TriggerArmRpoSearchServiceImpl to …
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2335
