Repository hmcts/darts-api, pull requests merged in 2024-03, with the labels that each got.

#1155 DMP-2439 Setting modified date time on case/hearing on daily list processing
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-1155

#1151 DMP-2207 Fixed mappings for user search only
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserSearchQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1151

#1158 Fix flyway migration checksum mismatch
  src/main/resources/db/migration/common/V1_230__update_audit_activity_standing_data.sql
  src/main/resources/db/migration/common/V1_279__update_audit_activity.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1158

#1159 Removed logging of account key secret and changed the process to only…
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1159

#1162 Update sonar config to point at DARTS
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1162

#1160 Removing default dar pc notification url
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1160

#1163 DMP-2181 Update ARM Manifest file fields - Transcription, Annotation …
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1163

#1148 DMP-2137 changed permissions for Translation QA
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupsIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/resources/db/migration/common/V1_278__setTranslationQA_Role_To_global_and_use_interpreter.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1148

#1126 DMP-1952 - daily job list logging
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/LogUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/util/MemoryLogAppender.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/DailyListTestData.java
  src/integrationTest/resources/application-intTest.yaml
  src/integrationTest/resources/logback-test.xml
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListCPP.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListXHB.json
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/DailyListLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/DailyListLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/util/DailyListLogJobReport.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/ProcessAllDailyListsTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/DailyListLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/util/DailyListLogJobReportTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1126

#1165 DMP-2157 Handling multiple cases for transcriptions
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntityTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1165

#1171 DMP-2137: bump up migration version for not yet applied migration
  src/main/resources/db/migration/common/V1_280__setTranslationQA_Role_To_global_and_use_interpreter.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1171

#1152 dmp 2152 add logging
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyDefendantNameOverflow.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/CasesLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1152

#1094 dmp 2046 add config
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/annotation/controller/AnnotationController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/controller/RootController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/task/config/AutomatedTaskConfigurationStrategy.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-1094

#1164 DMP-2283 modified admin/security-groups to handle option filter crite…
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1164

#1176 Dmp 2488 annotation document entity persist and merge
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationUploadServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/main/java/uk/gov/hmcts/darts/annotation/builders/AnnotationMapper.java
  src/main/java/uk/gov/hmcts/darts/annotation/persistence/AnnotationPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1176

#1172 DMP-2337 remove patch cases endpoint
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerPatchCaseTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/validator/PatchCaseRequestValidator.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/validator/PatchCaseRequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1172

#1177 DMP-2440 updated DETS connection calls to use new sas endpoint builde…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/DataManagementAzureClientFactory.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DataManagementAzureClientFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/dets/config/DetsDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/dets/service/impl/DetsApiServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/dets/DetsManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1177

#1179 Setting DARTS_GATEWAY_URL to http
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1179

#1173 dmp 2338 has data
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/resources/openapi/courthouse.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1173

#1170 DMP-2367 Add Region data
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/resources/db/migration/common/V1_282__add_regions.sql
  src/main/resources/db/migration/common/V1_283__courthouse_region.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1170

#1184 DMP-2051: Fixing annotations and deleting from correct container
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/builders/AnnotationDocumentBuilder.java
  src/main/java/uk/gov/hmcts/darts/annotation/builders/ExternalObjectDirectoryBuilder.java
  src/main/java/uk/gov/hmcts/darts/annotation/persistence/AnnotationPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagement.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/annotation/builders/AnnotationDocumentBuilderTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/builders/ExternalObjectDirectoryBuilderTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagementTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1184

#1185 Dmp 2490 Files are not moving from Unstructured to ARM for Transcription types
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1185

#1182 DMP-2404 Update security data: Super User & Controller Authorisation
  README.md
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SuperUserStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AnyEntityIdControllerAuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityRoleEnum.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/resources/db/migration/common/V1_284__update_security_data_super_user.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/main/resources/openapi/annotations.yaml
  src/main/resources/openapi/common.yaml
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/AnnotationIdControllerAuthorisationImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1182

#1186 dmp-2506 : To use Dynamic Azure Tenant
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1186

#1189 dmp-2506 : Add ITHC jenkins config
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1189

#1196 DMP-2293 Modify transcription case relationship.
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1196

#1197 Adding `role_name` to GET /admin/security-roles endpoint
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1197

#1188 DMP-2083 Refactor to reduce code complexity
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriptionRequestDetailsValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1188

#1180 DMP-2465 DMP-2306 - Fix retrieval of media from any repository.
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dets/DetsDataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagement.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/BlobContainerDownloadable.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacade.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DownloadableExternalObjectDirectories.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/enums/DatastoreContainerType.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/helper/StorageOrderHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/exception/FileNotDownloadedException.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dets/api/impl/DetsDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/dets/config/DetsDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/dets/service/DetsApiService.java
  src/main/java/uk/gov/hmcts/darts/dets/service/impl/DetsApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloader.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/local/afterMigrate.sql
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagementTest.java
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/component/DownloadableExternalObjectDirectoriesTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/component/FileBasedDownloadResponseMetaDataTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dets/DetsManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloaderTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1180

#1199 DMP-2339: patch courthouses
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthousePatchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthouseUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TransactionalAssert.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/RegionTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/component/validation/BiValidator.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdateMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidator.java
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/common/entity/CourthouseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseEntityToAdminCourthouseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdatePatchToEntityMapperTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1199

#1169 DMP-2137: update search API to consider use interpreter flag
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchUseInterpreterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CaseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/HearingTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountCourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/compositeid/UserCourtCaseId.java
  src/main/resources/db/migration/common/V1_285__user_account_court_case_view.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1169

#1213 Suppress CVE-2023-36052 (azure-core)
  config/owasp/suppressions.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1213

#1183 DMP-2279: Implement POST /admin/courthouses
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBody400_MissingCourthouseDisplayName.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBody400_MissingCourthouseName.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBodyHaverfordwest.json
  src/integrationTest/resources/tests/CourthousesTest/courthousesPostEndpoint/requestBodyTest.json
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/model/SecurityGroupModel.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/StringUtils.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/java/uk/gov/hmcts/darts/courthouse/mapper/CourthouseToCourthouseEntityMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidator.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/api/UserManagementApi.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/api/impl/UserManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/validation/impl/SecurityGroupCreationValidation.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/StringUtilsTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1183

#1198 dmp-617 added logging
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/NotificationLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/NotificationLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/NotificationLoggerServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1198

#1209 DMP-2468 Update deleteBlobData to avoid ERROR seen in logs - AzureDeleteBlobException: Failed to delete from...
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/testutil/ArmTestUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/TransientObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/ExternalInboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/ExternalOutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/OutboundExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/ExternalUnstructuredDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalInboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1209

#1208 DMP-2339: Fixing response codes when security groups and regions are not found
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidator.java
  src/test/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1208

#1200 DMP-2262 reset audio request to open if audio is present in inbound b…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1200

#1220 DMP-1559 New audio-requests endpoints
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1220

#1204 dmp 1244 removed endpoint
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1204

#1225 DMP-2339: Flushing so that we get the latest last modified timestamp
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1225

#1227 DMP-2530 Get retention policy types
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetAllPolicesTest.java
  src/integrationTest/resources/tests/retention/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionPolicyMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionServiceImpl.java
  src/main/resources/db/migration/common/V1_260__retention_policies.sql
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionPolicyMapperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionGetPolicyTypesServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1227

#1229 DMP-2515 added additional optional filters to security group get endp…
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1229

#1231 DMP-2030 fix retention policy table
  src/integrationTest/resources/tests/retention/expectedResponse.json
  src/main/resources/db/migration/common/V1_260__retention_policies.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1231

#1219 Dmp 2204 auto task close old cases
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessor.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_286__close_old_cases_automated_task.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1219

#1232 DMP-2517 GET /admin/security-groups/{security_group_id}
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupWithIdAndRoleAndUsersMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1232

#1194 DMP-2249 - Populate missing createdBy and lastModifiedBy fields
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/HearingStub.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/NodeRegisterEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/JudgeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-1194

#1236 DMP-2429 Update darts env var names (5 starting with AAD_B2C) for secret mappings - remove _KEY ending
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/resources/application-functionalTest.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1236

#1239 DMP-2518: Catch json parse exception and throwing darts specific exception
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1239

#1238 DMP-2536 Set TESTING_SUPPORT_ENDPOINTS_ENABLED to false by default
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1238

#1240 DMP-2531 Get Retention Policy Type by id
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetPolicyByIdTest.java
  src/integrationTest/resources/tests/retention/expectedResponsePolicyTypeId.json
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionPolicyMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionGetPolicyTypesServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1240

#1230 dmp 2528 bug fix for inbound to unstructured
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/main/resources/db/migration/common/V1_287__failure_empty_file.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1230

#1237 DMP-2557: preview audio redis caching
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewWithSendServerEventsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/ExternalLocationTypeTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/ExternalObjectDirectoryTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/ObjectRecordStatusTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/RegionTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/enums/AudioPreviewStatus.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioPreview.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioPreviewService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioPreviewServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/CachingAudioPreviewEncoder.java
  src/main/java/uk/gov/hmcts/darts/audio/util/StreamingResponseEntityUtil.java
  src/main/java/uk/gov/hmcts/darts/common/config/AudioPreviewCacheConfig.java
  src/main/java/uk/gov/hmcts/darts/common/config/SimpleCacheConfig.java
  src/main/java/uk/gov/hmcts/darts/common/service/RedisService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RedisServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/sse/SentServerEventsHeartBeatEmitter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/CachingAudioPreviewEncoderTest.java
  src/test/java/uk/gov/hmcts/darts/common/sse/SentServerEventsHeartBeatEmitterTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-1237

#1248 Downgrade azurerm version
  infrastructure/providers.tf
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-1248

#1235 DMP-2374 only return authorised courthouses in get courthouses endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1235

#1245 ATS mode config fix
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1245

#1250 postgres_app_v65_sec_v20_ret_v8
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1250

#1251 object_state_record ( at v2 )
  src/main/resources/db/reference/object_state_record.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1251

#1252 DMP-2262 ATS KEDA re-process ordering fix
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1252

#1253 dmp 2528 check actual filesize is not zero
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1253

#1255 postgres_app_v66_sec_v20_ret_v8
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1255

#1244 DMP-2537 PATCH /admin/security-groups/{security_group_id}
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-1244

#1262 DMP-2322 change RetrieveCoreObjectService
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1262

#1265 dmp-2693: Justice AD integration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1265

#1161 dmp-2479 : Change ARM blob storage directory
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1161
