Repository hmcts/darts-api, pull requests merged in 2024-06, with the labels that each got.

#1518 DMP-2593: Auditing user and group management
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthouseAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionAdminApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionRejectedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionWithTranscriberIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupManagementAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/UserManagementAuditTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/persistence/AnnotationPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditApi.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloader.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotifications.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/SecurityGroupUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/UserAccountUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/db/migration/common/V1_305__add_user_management_audit_activities.sql
  src/main/resources/db/migration/common/V1_306__advanced_auditing_users_and_groups.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdateAuditActivityProviderTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotificationsTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/auditing/SecurityGroupUpdateAuditActivityProviderTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/auditing/UserAccountUpdateAuditActivityProviderTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/ParameterisedTestDataGenerator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1518

#1513 Dmp 2847.admin search transcription
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AdminMediaSearchRequestValidator.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/AdminMediaSearchRequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1513

#1523 DMP-3245 - Fix for daily list unable to process times after noon.
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1523

#1519 dmp-3218: Object Retrieval Queue missing mandatory fields
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1519

#1511 DMP-3211 - Apply fix for transformed media search
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/TransformedMediaRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/RepositoryBase.java
  src/integrationTest/resources/application-postgres.yaml
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1511

#1524 dmp-3242: Add Audio missing External Location and Checksum
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1524

#1528 DMP-3209 - remove temp dailyList v2 endpoint
  ModernisedDarts.postman_collection.json
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailylist.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1528

#1514 Dmp 1373 - patch media requests
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAdminPatchMediaRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetTransformedMediaDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AudioMediaPatchRequestValidator.java
  src/main/java/uk/gov/hmcts/darts/common/validation/IdRequest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/validator/UserDeactivateNotLastInSuperAdminGroupValidator.java
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validator/AudioMediaPatchRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/validator/UserDeactivateNotLastInSuperAdminGroupValidatorTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1514

#1530 Update repo public swagger
  index.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1530

#1525 DMP-3105: Initial checkin of get transcription document by id endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransactionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/AdminTranscriptionSearchService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionSearchServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionSearchServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1525

#1533 DMP-3254 - correct /admin/medias error messages
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/AdminMediaSearchRequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1533

#1539 Changing default ATS max replicas to 5
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1539

#1538 DMP-2899: Implement GET /admin/hidden-reasons API
  src/functionalTest/java/uk/gov/hmcts/darts/common/HiddenReasonFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/testutil/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/HiddenReasonApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/controller/HiddenReasonsController.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectHiddenReasonEntity.java
  src/main/java/uk/gov/hmcts/darts/common/mapper/HiddenReasonMapper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectHiddenReasonRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/HiddenReasonsService.java
  src/main/resources/openapi/common.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1538

#1537 DMP-3217 Remove seconds from the getCases response
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1537

#1540 DMP-3131 Do not reopen closed cases
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1540

#1542 Dmp 3183 integrate arm authentication endpoints
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmTokenClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/AvailableEntitlementProfile.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmApiConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1542

#1548 Apply postman tests for DMP-3104, DMP-3105, DMP-2845, DMP-2208
  ModernisedDarts.postman_collection.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1548

#1549 dmp-3248: Null check during ARM checksum validation
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1549

#1551 DMP-3126 use azcopy to push raw data from unstructured to arm
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractUnstructuredToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1551

#1552 DMP-3098 Handle null subtype when editing event mappings
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerDeleteEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerPostEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingWithEmptySubtypeAndRevisionTruePost.json
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1552

#1554 dmp-3204: ATS multiple pods execution issue
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1554

#1543 DMP-2891- Dmp 2891 transcription document hide
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/MigratedTranscriptionSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/ModernisedTranscriptionSearchTest.java
  src/main/java/uk/gov/hmcts/darts/common/enums/HiddenReason.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/AdminTranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentIdValidator.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentIdValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1543

#1536 DMP-2799: Auditing transcription workflows
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionWorkflowAuditTest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionCommentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/auditing/TranscriptionUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/SecurityGroupUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/UserAccountUpdateAuditActivityProvider.java
  src/main/resources/db/migration/common/V1_309__add_transcription_workflow_audit_activities.sql
  src/main/resources/db/migration/common/V1_310__advanced_auditing_transcription_workflow.sql
  src/test/java/uk/gov/hmcts/darts/transcriptions/auditing/TranscriptionUpdateAuditActivityProviderTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionWorkflowTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1536

#1553 DMP-3169: Implement GET /admin/medias/<id>
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AdminMediaService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1553

#1550 DMP-3171: Adding extra fields to transcription doc response
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectHiddenReasonEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectHiddenReasonRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/util/EntityIdPopulator.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ObjectAdminActionTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ObjectHiddenReasonTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionDocumentTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1550

#1560 DMP-3192: Removing sorting from view hearing_reporting_restrictions
  src/main/resources/db/migration/common/V1_311__remove_sorting_from_view.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1560

#1534 DMP-1657: Add /admin/user functional tests
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1534

#1573 Dmp 3091 ats dont process hidden media
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1573

#1562 dmp-3273: Increment ARM Transfer Attempt for INVALID file scenario
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1562

#1546 Dmp 2927.arm batch cleanup
  src/integrationTest/java/uk/gov/hmcts/darts/arm/mapper/ArmResponseUploadFileMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/BatchCleanupArmResponseFilesServiceIntTest.java
  src/integrationTest/resources/tests/arm/mapper/ArmResponseUploadFileMapperTest/parseFailInputBlank.json
  src/integrationTest/resources/tests/arm/mapper/ArmResponseUploadFileMapperTest/parseFailInputJson.json
  src/integrationTest/resources/tests/arm/mapper/ArmResponseUploadFileMapperTest/parseOk.json
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmBatchCleanupConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/UnableToReadArmFileException.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/ArmResponseFileHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/ArmResponseUploadFileMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/ArmResponseUploadFileRecordObjectMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/model/EodIdAndAssociatedFilenames.java
  src/main/java/uk/gov/hmcts/darts/arm/model/InputUploadAndAssociatedFilenames.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseEodFile.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseUploadFileRecordObject.java
  src/main/java/uk/gov/hmcts/darts/arm/service/BatchCleanupArmResponseFilesService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/CleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArmResponseFilesUtil.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectRecordStatusRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/BatchCleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualTaskService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_312__add_ARM_batch_Cleanup_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/BatchCleanupArmResponseFilesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1546

#1556 DMP-2891: Add support to return a 501 if the reason specified is marked for del…
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidator.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1556

#1578 dmp-3090: Dont show hidden media on Hearing screen
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1578

#1579 DMP-3318 - resolve issue with hearing_media_ae_pk constraint violation
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1579

#1577 DMP-2800 - Add code to populate courthouse and courtroom created_by a…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtroomStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AddAudioRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/DartsStringUtils.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdateMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseUpdateMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/resources/db/migration/common/V1_313__addNonNullToCourtroomCourthouse.sql
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/DartsStringUtilsTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseEntityToAdminCourthouseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdatePatchToEntityMapperTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourthouseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourtroomTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1577

#1585 Update standing data script
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1585

#1586 Dmp 3318.duplicate hearing media pk
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1586

#1580 Dmp 3320: apply authorisation to add audio endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1580

#1557 DMP-2808: auditing retention policy activities
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMediaRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/RetentionPolicyAuditTest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RetentionPolicyTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionPolicyTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/auditing/RetentionPolicyUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPolicyTypeServiceImpl.java
  src/main/resources/db/migration/common/V1_314__add_retention_policy_audit_activities.sql
  src/main/resources/db/migration/common/V1_315__advanced_auditing_retention_policy.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/retention/auditing/RetentionPolicyUpdateAuditActivityProviderTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionGetPolicyTypesServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventHandlerTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/RetentionPolicyTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1557

#1555 Dmp 1663 admin media hide
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerAdminPostMediaIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidator.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaIdValidator.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/MediaResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validator/MediaHideOrShowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1555

#1591 DMP-2799: Redoing audit activities db migrations
  src/main/resources/db/migration/common/V1_316__adding_aud_act_resetting_pks.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1591

#1592 Adding delete scripts, for reference
  src/main/resources/db/reference/delete/delete_by_case_number.sql
  src/main/resources/db/reference/delete/delete_case_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1592

#1588 DMP-3192 Amending hearing_reporting_restrictions view for performance
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/compositeid/HearingReportingRestrictionsId.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/db/migration/common/V1_317__remove_id_from_view.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1588

#1587 DMP-3260: Fix transcriber-view query to consider only latest transcri…
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1587

#1595 Remove extra save from event logic
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1595

#1596 DMP:3346: Pluralise transcription hide endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1596

#1597 DMP-3266 implement POST /admin/cases/search
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/HearingStub.java
  src/integrationTest/resources/tests/cases/CaseControllerAdminSearchTest/testOk/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/allResults/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/hearingDateEndOnly/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/hearingDateStartAndEndOnly/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/hearingDateStartOnly/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/multipleFieldsExcludingHearingDate/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/usingCourthouseIds/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseServiceAdminSearchTest/usingEmptyCourthouseIds/expectedResponse.json
  src/integrationTest/resources/tests/cases/usingEmptyCourthouseIds/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdminCasesSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdminCasesSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AdminCasesSearchResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1597

#1606 DMP-2799: Adding overloaded audit method to record case
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionWorkflowAuditTest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditApi.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1606

#1600 DMP-3199 - hide transcripts on GET /hearings/{hearing_id}/transcripts
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreHiddenTranscripts.json
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1600

#1598 Dmp 2858 audit admin job activities
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminRunAutomatedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminUpdateAutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AuditRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AutomatedTaskRepository.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/resources/db/migration/common/V1_318__automated_task_auditing.sql
  src/main/resources/db/migration/common/V1_319__insert_automated_task_activity.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1598

#1599 DMP-3276: Set interpreter flag true when creating TRANSLATION_QA groups
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupMapper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1599

#1607 DMP-3349 temporarily logging az copy error output
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1607

#1608 DMP-3350 Upgrade open api to v7.6
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1608

#1609 DMP-3197 Hiding transcripts for get by case ID response
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1609

#1602 DMP-3231: Support check for full name and email address presence on user activation
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/validator/UserActivateValidator.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/validator/UserActivateValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1602

#1571 Dmp 2828 audit for event mapping
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerDeleteEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerPostEventMappingTest.java
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingPost.json
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventHandlerEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AuditRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/db/migration/common/V1_320__insert_event_handler_auditing.sql
  src/main/resources/db/migration/common/V1_321__event_handler_auditing.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1571

#1615 DMP-3349_part2 added logging of full command
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1615

#1618 DMP-3349 added 's2s-preserve-access-tier' flag to azcopy
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1618

#1621 dmp-3359: Ignore unwanted attributes from ARM token endpoint
  src/main/java/uk/gov/hmcts/darts/arm/client/model/ArmTokenResponse.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1621

#1616 DMP-3200 Hidden transcripts should not be visible on Your Transcripts screen
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1616

#1620 DMP-3338 Hidden transcripts should not be visible in Completed tab on Your Work (Transcriber flow)
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1620

#1567 Audio preview error response
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1567

#1625 Attempting to fix flakey test
  src/testCommon/java/uk/gov/hmcts/darts/test/common/AwaitabilityUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1625

#1617 DMP-3305: Add DARTS role and group, rename JUDGE role and hide system…
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateTransformedMediaLastAccessedTimestampIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/annotation/controller/AnnotationController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityRoleEnum.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/resources/db/migration/common/V1_322__insert_darts_role_and_group.sql
  src/main/resources/db/migration/common/V1_323__rename_judge_role.sql
  src/main/resources/db/migration/common/V1_324__hide_roles_and_groups.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/annotation/validators/UserAuthorisedToDeleteAnnotationValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/AnnotationIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/AnyEntityIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/CaseIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/HearingIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/MediaRequestIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/TranscriptionIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/component/impl/TransformedMediaIdControllerAuthorisationImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/UserStateRoleTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/util/SecurityGroupUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1617

#1623 dmp-3359: Format ARM bearer token
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1623

#1593 DMP-2896: Add support for media search based on media start and end data
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/TransformedMediaRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/HearingStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/MediaSearchData.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AdminMediaService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/SearchMediaValidator.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validator/SearchMediaValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1593

#1628 DMP-3305: Add DARTS role to controller methods
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetByCaseIdTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/controller/AnnotationController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1628

#1610 DMP-3096: Add group and role, media_in_perpetuity and media_accessor
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/OpenInViewUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformedMediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityGroupEnum.java
  src/main/resources/db/migration/common/V1_325__media_in_perpetuity.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/UserAccountEntityTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1610

#1629 dmp-3359: Enable FEIGN Full Logging
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1629

#1624 DMP-2974 :Add active state to user state object
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SuperAdminUserStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/GetAuthorisationResult.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserStateRole.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationCommonControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/UserStateTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1624

#1631 Dmp 3175: hearing search
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingRespositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingSubStringQueryEnum.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerAdminPostTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/HearingStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/HearingStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/authorisation/model/GetAuthorisationResult.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/exception/HearingApiError.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/AdminHearingSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/AdminHearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingsServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/AdminHearingSearchResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingServiceTest.java
  src/test/java/uk/gov/hmcts/darts/testutils/ExternalObjectDirectoryTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1631

#1627 DMP-3184 use eod checksum for ARM pull checksum validation
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/UnstructuredToArmProcessorFactoryTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1627

#1626 Dmp 3053.media linked table
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioUploadService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/helper/MediaLinkedCaseHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/resources/db/migration/common/V1_327_2__copyCaseNumbersToMediaLinkedCase.sql
  src/main/resources/db/migration/postgres/V1_327_1__copyCaseNumbersToMediaLinkedCase.sql
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1626

#1636 DMP-2927 - add logging at introduce limit to SQL query
  src/main/java/uk/gov/hmcts/darts/arm/helper/ArmResponseFileHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/arm/service/BatchCleanupArmResponseFilesServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1636

#1632 DMP-3354 Fixing StopAndCloseHandler not saving event if DAR notification fails
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1632

#1640 V70 Data Model
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1640

#1644 Add files via upload
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1644

#1642 DMP-3096: Using entity graph to force load lazy fields
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1642
