Repository hmcts/darts-api, pull requests merged in 2024-05, with the labels that each got.

#1393 DMP-2810: Returning all automated tasks
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTasksTest.java
  src/main/java/uk/gov/hmcts/darts/task/controller/AutomatedTasksController.java
  src/main/java/uk/gov/hmcts/darts/task/service/AdminAutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/resources/openapi/tasks.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1393

#1388 DMP-2735: Transcription search
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AnnotationTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CaseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CourthouseTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/CourtroomTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/RegionTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/SecurityGroupTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/TranscriptionTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/TranscriptionWorkflowTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/UserAccountTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/MigratedTranscriptionSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/ModernisedTranscriptionSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/TranscriptionSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/MigratedTranscriptionSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/ModernisedTranscriptionSearchTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionIdsAndLatestWorkflowTs.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionSearchResult.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/AdminTranscriptionSearchService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionSearchQuery.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionSearchQueryImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionSearchServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1388

#1380 DMP-1731 (Dev Only) Integration tests for ATS - Playback
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SystemCommandExecutorStubImpl.java
  src/integrationTest/resources/application-intTest.yaml
  src/integrationTest/resources/tests/audio/WithViqHeader/viq0001min.mp2
  src/integrationTest/resources/tests/audio/testAudio.mp2
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/SystemCommandExecutorImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1380

#1378 DMP-2748 Move store retention details
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/CaseManagementRetentionService.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CaseManagementRetentionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/CaseManagementRetentionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1378

#1398 DMP-2952: Add code to hide system users from admin operation endpoints
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersByIdIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/validation/UserTypeValidator.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1398

#1396 DMP-791 Removing usages of event.event_name column
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/service/GetHearingResponseMapperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionReportingRestrictionsMapperTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AnnotationXmlGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingReportingRestrictionsEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/resources/db/migration/common/V1_296__fix_event_name_in_hearing_reporting_restrictions_view.sql
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1396

#1399 DMP-2743 - align the hearing search with the case search so that the …
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1399

#1397 DMP-2812: Returning automated task by id
  bin/db-stg-to-local.sh
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTasksByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/task/controller/AutomatedTasksController.java
  src/main/java/uk/gov/hmcts/darts/task/exception/AutomatedTaskApiError.java
  src/main/java/uk/gov/hmcts/darts/task/service/AdminAutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTasksMapper.java
  src/main/resources/db/migration/common/V1_297__add_users_and_timestamps_to_automated_tasks.sql
  src/main/resources/openapi/tasks.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1397

#1402 DMP-3015 null check on optional param
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionWorkflowsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1402

#1400 DMP-2970 fixed broken transcription document max size validation
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/annotation/validators/FileTypeValidator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptFileValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1400

#1403 DMP-2205 - add pending retention to auto closed cases.
  .idea/codeStyles/Project.xml
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/api/RetentionApi.java
  src/main/java/uk/gov/hmcts/darts/retention/api/impl/RetentionApiImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPostService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1403

#1408 Fixing sql bug
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1408

#1406 DMP-2811: trigger task endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminRunAutomatedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AutomatedTaskRepository.java
  src/main/java/uk/gov/hmcts/darts/task/controller/AutomatedTasksController.java
  src/main/java/uk/gov/hmcts/darts/task/exception/AutomatedTaskApiError.java
  src/main/java/uk/gov/hmcts/darts/task/service/AdminAutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/AutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskRunner.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/openapi/tasks.yaml
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1406

#1413 DMP-3033: Fixing sql query for transcriptions without courtrooms or court cases.
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1413

#1405 Dmp 1731 ATS integration tests playback
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceIntTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1405

#1391 V68 and 69 of database script
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1391

#1417 DMP-2767: Adding standing data to audit table
  src/main/resources/db/migration/common/V1_298__add_courthouse_audit_activities.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1417

#1418 DMP-3014 further cleanup after removing ARM_URL secret
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1418

#1404 Dmp 2135 remove unused urgency field transcriptions
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberViewSummaryRowMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsSummaryRowMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityAutomated.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityNoHearing.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithRequestor.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1404

#1419 DMP-3014 configure env var ARM_URL
  charts/darts-api/Chart.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1419

#1409 Dmp 2831.v67 v68 v69 data model
  .gitignore
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseOverflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectAdminActionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectRetrievalQueueEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ReportEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/resources/db/migration/common/V1_299_1__v67_v68_v69_database_updates.sql
  src/main/resources/db/migration/h2/V1_299_2__v67_v68_v69_database_updates.sql
  src/main/resources/db/migration/postgres/V1_299_2__v67_v68_v69_database_updates.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1409

#1420 No notifications to requestor of automatic transcriptions
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotifications.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotificationsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1420

#1423 DMP-3056 Remove in-memory cache
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1423

#1424 DMP-2744 Remove from field from Transcriptions endpoint
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponseNoUrgency.json
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityAutomated.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityNoHearing.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithRequestor.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1424

#1414 Dmp 2694 arm batchsize db driven
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/local/afterMigrate.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/UnstructuredToArmProcessorFactoryTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1414

#1415 DMP-2813: Adding endpoint to patch automated tasks
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminPatchAutomatedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminUpdateAutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/AwaitabilityUtil.java
  src/main/java/uk/gov/hmcts/darts/task/controller/AutomatedTasksController.java
  src/main/java/uk/gov/hmcts/darts/task/service/AdminAutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/resources/openapi/tasks.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1415

#1325 Dmp 2772 - manage duplicate audio upload
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/MediaEntityTreeNodeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/Tree.java
  src/main/java/uk/gov/hmcts/darts/common/util/TreeNode.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/TreeTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1325

#1421 DMP-3005 Adding test for failed automated task log entry
  .github/workflows/ci.yml
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1421

#1422 DMP-2868 ARM Push and Retention Date calculation - link transcription…
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1422

#1432 DMP-2819 Implement GET event mappings endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventsMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventHandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventMappingService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1432

#1433 dmp-2889: Fetch Event Date for ARM Manifest file
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1433

#1410 DMP-2514 support disabling user
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SecurityGroupStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SuperAdminUserStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/UserQueryTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityGroupEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepository.java
  src/main/java/uk/gov/hmcts/darts/common/validation/UserQueryRequest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupIdMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/validator/AuthorisedUserPermissionsValidator.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/validator/UserDeactivateNotLastInSuperAdminGroupValidator.java
  src/main/resources/openapi/common.yaml
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/SecurityRoleMatcher.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/validator/UserActivationPermissionsValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/validator/UserDeactivateNotLastInSuperAdminGroupValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1410

#1435 DMP-2571 Updating usages of DARTS stub services to HTTP
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1435

#1430 DMP-2978 preview message if media is archived in ARM
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryResultRowMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioBeingProcessedFromArchiveQueryResult.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1430

#1437 Fixing sonar issue
  src/main/java/uk/gov/hmcts/darts/usermanagement/validator/UserDeactivateNotLastInSuperAdminGroupValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1437

#1439 DMP-2308 add missing blob to object retrieval queue table
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectRetrievalQueueRepository.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1439

#1441 DMP-2818 Event mappings post endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerPostEventMappingTest.java
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingDuplicatePost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingPayloadMinimumRequiredFieldsPost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingPayloadMissingHasRestrictionsRequiredFieldPost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingPayloadMissingNameRequiredFieldPost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingPayloadMissingTypeRequiredFieldPost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingPost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingRevisionFalsePost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingUnknownHandlerPost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingWithExistingTypeAndNewSubtypePost.json
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventMappingService.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/EventHandlerEnumerator.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1441

#1443 DMP-3098 Edit event mappings
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerPostEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingRevisionTruePost.json
  src/integrationTest/resources/tests/events/EventControllerPostEventMappingTest/createEventMappingUnknownMappingForRevisionPost.json
  src/main/java/uk/gov/hmcts/darts/common/repository/EventHandlerRepository.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1443

#1449 DMP-2816 Get event handlers endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventHandlersTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/openapi/event.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1449

#1431 DMP-2941 Update Security Group endpoints to hide system users
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupWithIdAndRoleAndUsersMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1431

#1442 DMP-3079: Configure tasks for manual execution
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/AutomatedTaskService.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualTaskService.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1442

#1452 DMP-2817 Get event mappings endpoint
  README.md
  src/functionalTest/java/uk/gov/hmcts/darts/events/EventMapperFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingsTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventMappingService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1452

#1445 Dmp 2208 - get transcriptions admin endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SuperAdminUserStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/AdminTranscriptionSearchService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionSearchServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1445

#1453 DMP-3114 Populate has_events field for the GET /admin/event-mappings/id endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingByIdTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1453

#1455 DMP-2820 - admin endpoint to delete event handlers
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerDeleteEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingByIdTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventMappingService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1455

#1460 DMP-3051 Updated /admin/transcription-workflows endpoint to return migrated comments
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionWorkflowsIntTest.java
  src/integrationTest/resources/tests/transcriptions/transcription_workflow/expectedAllWorkflowResponse.json
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionCommentRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceGetWorkflowsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1460

#1461 DMP-2818 Minor tweak to empty handler logic
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapper.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1461

#1466 dmp-3140: Temporary log change to ARM token
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1466

#1457 Dmp 3031 ats edge case
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1457

#1459 DMP-3128 Change ARM batch size
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_300__update_arm_automated_tasks_batch_size.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1459

#1468 Dmp 3140 arm logs
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1468

#1444 Dmp 2994 add translationqa role
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchUseInterpreterTest.java
  src/main/resources/db/migration/common/V1_301__alter_user_account_court_case_view.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1444

#1467 Renovate/ch.qos.logback logback classic 1.x2
  build.gradle
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/LastAccessedDeletionDayCalculatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1467

#1469 DMP-3143 Remove batch size from application.yml and use DB for ARM automated tasks
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractUnstructuredToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/UnstructuredToArmProcessorFactoryTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1469

#1474 DMP-2208: Apply fix to sql so that we dont fail when working against postgres
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1474

#1473 DMP-2767: Auditing admin courthouse operations
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthouseAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthouseUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/CreatedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/CreatedModifiedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/UserAccountServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidator.java
  src/main/resources/application-h2db.yaml
  src/main/resources/db/migration/common/V1_302__add_advanced_auditing_tables.sql
  src/main/resources/db/migration/postgres/V1_0_0__create_schema.sql
  src/test/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1473

#1475 DMP-2844 Implement GET /admin/transformed-medias/{id}
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/TransformedMediaDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/TransformedMediaMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/TransformedMediaMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1475

#1480 Adding migration comments back in, broke the checksum in master
  src/main/resources/db/migration/postgres/V1_0_0__create_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1480

#1477 Dmp 2845 - transformed media search
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAdminGetTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/TransformedMediaRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/TransformedMediaSubStringQueryEnum.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransformedMediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAudioRequestResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetTransformedMediaDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/TransformedMediaDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/GetTransformedMediaDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1477

#1476 DMP-2880: Find media request by id
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMediaRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaRequestTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1476

#1491 DMP-3196 ARM event date calculation automated task is not updating the metadata
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1491

#1492 DMP-3035 Update support email address
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1492

#1454 DMP-3002 - Proposal for preventing duplicate daily list records
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListCPP.json
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/CitizenNameMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/dailylist/util/CitizenNameComparator.java
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/CitizenMapperTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/util/CitizenNameComparatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1454

#1496 DMP-3208 - fix Add Audio media type filter to allow files from mid-tier
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioFileValidator.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1496

#1499 Dmp 3209.daily list request body
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListPatchControllerV2Test.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListPostControllerV2Test.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListPostRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/model/DailyListPostRequestInternal.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListService.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidator.java
  src/main/resources/openapi/dailylist.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1499

#1484 DMP-3060: Updating event handlers
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerDeleteEventMappingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/main/resources/db/migration/common/V1_303__update_event_andler_mappings.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1484

#1500 Dmp 3204 ats parallel run check
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1500

#1502 DMP-2765 Allowing spring graceful shutdown timeout to be configured
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1502

#1458 DMP-3132-Commit to reduce audio complexity
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioMessageDigest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioMessageDigestImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfiguration.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioUploadService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1458

#1506 DMP-3161 Type 3 DAR notify for all events
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventHandlersTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/HandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1506

#1505 DMP-3060: set updcase handler to null handler
  src/main/resources/db/migration/common/V1_304__update_updcase_handler.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1505

#1490 DMP-3103 - Handle a duplicate automatic transcription event gracefully.
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandler2Test.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1490
