Repository hmcts/darts-api, pull requests merged in 2024-12, with the labels that each got.

#2336 Added additional logs / timeouts to async process
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/util/AsyncUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2336

#2309 DMP-4198: Populate data_anonymisation table
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/DataAnonymisationRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2309

#2313 DMP-4157: Duplicated MediaLinkedCase creation logic
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioAsyncServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/helper/MediaLinkedCaseHelper.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioAsyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/helper/MediaLinkedCaseHelperTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2313

#2345 Added some temporary logs to investigate issue
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmApiClient.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2345

#2306 DMP-4219: Run automated tasks as different users
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/UnstructuredAnnotationTranscriptionDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/datamanagement/service/InboundTranscriptionAnnotationDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTaskIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundTranscriptionAnnotationDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_419__update_automated_task_user_emails.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2306

#2344 DMP-4144 ARM RPO - Integrate all Endpoints for ARMRPOPollAutomatedTask
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2344

#2342 DMP-4256 CR and IL files are not getting deleted
  bin/generateBatchArmResponses.sh
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2342

#2337 DMP-4376 Add ARM RPO logs for Dynatrace
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTaskIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/ArmLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/ArmLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/ArmLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2337

#2346 Removed temp logging
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2346

#2352 DMP-4461: ArmMissingResponseFile Task not processing any EOD records
  src/main/java/uk/gov/hmcts/darts/arm/helper/ArmResponseFileHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmMissingResponseCleanupImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceCommon.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsBatchCleanupArmResponseFilesServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/AbstractBatchCleanupArmResponseFilesServiceCommonTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmMissingResponseCleanupImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DartsBatchCleanupArmResponseFilesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsBatchCleanupArmResponseFilesServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2352

#2356 DMP-4462 ARM RPO createExportBasedOnSearchResultsTable failing
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiCreateExportBasedOnSearchResultsTableIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetExtendedSearchesByMatterIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiCreateExportBasedOnSearchResultsTableTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedSearchesByMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2356

#2357 DMP-4351 Do not change is_current status on legacy events
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2357

#2358 Dmp 4219 log automated task user
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2358

#2364 DMP-4466 ARM RPO: Remove_production failing
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2364

#2347 DMP-4352: Move duplicated event logic to event receipt
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/helper/CurrentTimeHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/RemoveDuplicateEventsProcessor.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/AsyncEventProcessor.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/config/RemoveDuplicatedEventsAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/RemoveDuplicatedEventsAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_420__delete_remove_duplicate_events_task.sql
  src/test/java/uk/gov/hmcts/darts/event/service/impl/AsyncEventProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2347

#2360 DMP-4465 Update the bash scripts that generate batch IU files to use the new format
  bin/generateBatchArmILResponses.sh
  bin/generateBatchArmResponses.sh
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2360

#2359 DMP-4388 Removing case list for add audio duplicate check
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioWithMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2359

#2351 DMP 4161 Darts API should only accept uppercase courthouse and courtroom from Portal
  README.md
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/noderegistration/NodeRegistrationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionPolicyTypeFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAdminGetTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/CourthousePatchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListPatchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListPostControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerSearchTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/util/CourtValidationUtils.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/resources/openapi/audiorequests.yaml
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CourtValidationUtilsTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2351

#2338 DMP-4122: ARM Response - Update EOD objects with ARM_MISSING_RESPONSE for missing ARM Response files
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseInputUploadFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/ArmLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/ArmLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/util/DurationUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/ArmLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/DurationUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2338

#2320 DMP-2724: Inform ARM to delete unstructured data for a manual deletion request
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/java/uk/gov/hmcts/darts/task/model/RetConfReason.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2320

#2365 DMP-4430 Auditing for unhiding audio
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_421__insert_hiding_unhiding_audit_activities.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ObjectAdminActionTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2365

#2367 DMP-4445 ARM Pull response file - Remove saving response files to Tempworkspace
  src/integrationTest/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchPushProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2367

#2370 DMP-4253 Return distinct list of medias from GET /admin/medias
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2370

#2376 Using pre-built images in docker-compose-local.yml
  bin/dcup
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2376

#2355 V72.2 Data model
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2355

#2377 DMP-4483 : Extra logs for ARM RPO troubleshoot
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2377

#2373 Removed dead code
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArchiveRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2373

#2380 DMP-4487: The IU file is not getting processed by the ProcessARMResponse job
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseInputUploadFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/test/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseInputUploadFileRecordTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2380

#2379 DMP-4480 ARM-RPO - Objects are not marked as stored
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/util/CsvFileUtil.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2379

#2381 DMP-4376 Add ARM RPO logs for Dynatrace
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2381

#2383 Dmp 4144 armrpo integrate endpoints reconcile tests
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoServiceIntTest.java
  src/integrationTest/resources/tests/arm/rpo/armRpoCsvData.csv
  src/integrationTest/resources/tests/arm/rpo/armRpoCsvDataNotFoundEods.csv
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2383

#2387 DMP-4501 : Additional Userstate criteria to load Authorisation
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2387

#2372 DMP-4475: Flyway Migrations for v72.2 Datamodel Update
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryProcessDetailEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/validator/UserActivateValidator.java
  src/main/resources/db/migration/common/V1_422__v72_2.sql
  src/main/resources/db/migration/h2/V1_422_1__v72_2.sql
  src/main/resources/db/migration/postgres/V1_422_1__v72_2.sql
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/GetTransformedMediaDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/testutils/UserAccountTestData.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/validator/UserActivateValidatorTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/UserAccountTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2372

#2391 DMP-2542 Unlink expired cases from media
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaLinkedCaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/api/HearingApi.java
  src/main/java/uk/gov/hmcts/darts/hearings/api/impl/HearingApiImpl.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2391

#2393 DMP-4510: Populate courthouse_object_id and folder_path
  src/main/resources/db/migration/common/V1_423__populate_courthouse_legacy_details.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2393

#2394 DMP-4509: Populate security_group group_display_name
  src/main/resources/db/migration/common/V1_424__populate_security_group_legacy_display_name.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2394

#2397 DMP-4492 : ARM Missing Response files bug fix
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2397

#2390 dmp-4393-amend-get-media-by-id
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/MediaLinkedCaseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/ObjectActionMapper.java
  src/main/java/uk/gov/hmcts/darts/common/config/ObjectMapperConfig.java
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2390

#2398 DMP-4386 Handle zero second audio on preview
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioPreviewServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaIdValidator.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/validation/MediaIdValidatorTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2398
