Repository hmcts/darts-api, pull requests merged in 2024-08, with the labels that each got.

#1786 DMP-3632 Fix index out of bounds error on empty transcription workflows
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionWorkflowsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceGetWorkflowsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1786

#1787 DMP-3713: Fix bug whereby automated ats user should be used
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/helper/SystemUserHelper.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/helper/SystemUserHelperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1787

#1794 DMP-3624 Set is_current to true for transcriptions
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1794

#1792 DMP-3365: Using created_ts to sort events
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1792

#1791 DMP-1036: replace hearingRepository.getReferenceById with service call
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1791

#1776 DMP-3673: GET /userstate globalAccess fix
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/controller/AuthorisationControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/controller/impl/AuthorisationControllerImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/GetAuthorisationResult.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/openapi/common.yaml
  src/test/java/uk/gov/hmcts/darts/authorisation/controller/impl/AuthorisationControllerTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1776

#1793 feat-pgsql-trgm
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-1793

#1805 DMP-3494 Uploading Large Annotation Documents Fails with 'There is a Problem with the Service' Error
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1805

#1801 DMP-3720 fixed 'caseDocumentGenerationDays' property not being populated
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/UnstructuredToArmProcessorFactoryTest.java
  src/test/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1801

#1804 DMP-3303 Hide judges when hearing is actual false
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1804

#1796 DMP-3540 RCC - Update ARM Manifest file to include 2 new attributes
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/RecordMetadata.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/invalid_properties_path/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/invalid_properties_path/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/invalid_properties_path/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/invalid_properties_path/expectedResponse.a360
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1796

#1803 DMP-3704 - set isCurrent flag when receiving new audio
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/resources/db/migration/common/V1_349__v71_add_media.is_current.sql
  src/main/resources/db/migration/postgres/V1_349_1__v71_add_media.is_current.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1803

#1807 DMP-3594: Set requested by field when transcription request submitted
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1807

#1808 DMP-3508: Update Admin transcription search to map createdBy to requestedBy
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1808

#1810 DMP-3746: Add support for marking media for deletion
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerAdminPostMediaIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidator.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1810

#1812 DMP-3748 Populate empty fields in audio file download ReadMe file
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorHelperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundFileZipGeneratorHelperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1812

#1795 DMP-3473 - increase advanced search performance
  src/main/java/uk/gov/hmcts/darts/audio/helper/PostAdminMediasSearchHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdminCasesSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/resources/db/migration/postgres/V1_350_1__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_2__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_3__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_4__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_5__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_6__add_trigram_indexes.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-1795

#1816 make new indexes instead of replacing old ones
  src/main/resources/db/migration/postgres/V1_350_1__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_2__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_3__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_4__add_trigram_indexes.sql
  src/main/resources/db/migration/postgres/V1_350_5__add_trigram_indexes.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1816

#1811 DMP-2839 Write to log - Track ARM Push-Pull flow
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractUnstructuredToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/ArmLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/ArmLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplDeleteResponseBlobsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/UnstructuredToArmProcessorFactoryTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testCreateRecordFileJson/CreateRecordFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testCreateRecordFileJson/CreateRecordFile_1_cr.rsp
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidUploadFileJson/InvalidUploadRecordFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testUploadFileJson/UploadRecordFile.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1811

#1813 dmp-3626: ARM Pull response log error in DB
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/InvalidResponses/UploadFile.rsp
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1813

#1815 DMP-3705 - only get audio that isCurrent
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1815

#1821 DMP-2839 Write to log - Track ARM Push-Pull flow
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractUnstructuredToArmProcessor.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1821

#1814 DMP-2954:Correctly fetch transcription requester for migrated cases
  src/main/java/uk/gov/hmcts/darts/common/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/util/TranscriptionUtil.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/util/TranscriptionUtilTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityAutomated.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityNoCourtroom.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityNoHearing.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1814

#1802 DMP-2894: Implement GET /admin/medias/marked-for-deletion
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMarkedForDeletionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ObjectAdminActionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ObjectHiddenReasonStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMarkedForDeletionMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMediaMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/CourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/CourtroomMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/ObjectActionMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AdminMediaService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/ObjectActionMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1802

#1809 DMP-3535 set retention confidence attributes on case and case retent…
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceCategoryEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceCategoryEnumConverter.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceReasonEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceScoreEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceScoreEnumConverter.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1809

#1806 Add code to pass confidence attributes to arm
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/ArmHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ConfidenceAware.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1806

#1822 DMP-3651: Ensure courthouse display name is used in data returned from APIs
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestResponseMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventEntityToCourtLogMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestResponseMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1822

#1826 DMP-3398 changed audio requests download endpoint to return "Content-length" header
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1826

#1824 DMP-3513: Removing transactional from integration tests
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentForRetentionDateBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CasesControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchUseInterpreterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/RetentionPolicyTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetAllStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupManagementAuditTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreHiddenTranscripts.json
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourthouseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourtroomTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/SecurityGroupTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/SecurityRoleTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1824

#1833 feat-psql-sku
  infrastructure/test.tfvars
  infrastructure/variables.tf
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1833

#1837 feat-psql-sku
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1837

#1838 DMP-3674: Fix PATCH /admin/security-groups/<id> to correctly remove unassigned courthouses
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SecurityGroupStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1838

#1839 feat-psql-sku-version
  infrastructure/test.tfvars
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1839

#1841 DMP-3784 - add missing non-null constraints, part 7
  src/main/resources/db/migration/common/V1_351__add_missing_FK_constraints_part7.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1841

#1842 Feat-pgsql-SKU
  infrastructure/test.tfvars
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-api-pr-1842

#1836 DMP-3292: Make correction to only match on either annotation or transcription
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/InboundAnnotationTranscriptionDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/UnstructuredAnnotationTranscriptionDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1836

#1853 DMP-3614: Increase chart value function.job.activeDeadlineSeconds to …
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1853

#1834 DMP-3670: Enable not-null constraints on security_group table
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/controller/AuthorisationControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SecurityGroupStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/MandatoryCreatedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/MandatoryCreatedModifiedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/SecurityGroupUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/db/migration/common/V1_352__enable-constraints-on-security_group-table.sql
  src/test/java/uk/gov/hmcts/darts/common/entity/UserAccountEntityTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/auditing/SecurityGroupUpdateAuditActivityProviderTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/SecurityGroupTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1834

#1840 DMP-3690: Add not null constraints to created/last_modified_by
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/db/migration/common/V1_353__not_null_constraints_notifications.sql
  src/test/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1840

#1850 Dmp 3292 fix inbound annotation query
  build.gradle
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/InboundAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1850

#1844 Dmp 3696 enable not null constraints part1
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/AuditCreatedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/AuditCreatedModifiedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/db/migration/common/V1_355_1__update_annotation_tables.sql
  src/main/resources/db/migration/common/V1_355_2__update_audit_tables.sql
  src/main/resources/db/migration/common/V1_355_3__update_automated_task_tables.sql
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/AnnotationTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1844

#1854 DMP-3700 Enable not-null constraints on various tables - part 5
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/NodeRegisterStub.java
  src/main/resources/db/migration/common/V1_356__add_missing_constraints_part5a.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1854

#1856 DMP-3763 fixed slow find event duplicates query
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/resources/db/migration/common/V1_358__add_event_event_id_index.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1856

#1835 DMP-3779 - Prevent null pointer on confidence score
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1835

#1858 DMP-3651: Fix Your audio table to use displayName
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1858

#1861 DMP-3735 attempt to fix slow query by forcing a specific SQL query using IN operator
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1861

#1860 Added script to create arm response files in single mode to test DMP-3292
  .gitignore
  bin/generateSingleArmResponses.sh
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1860

#1859 DMP-3765 create unique index on user_account.user_email_address
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStubComposable.java
  src/main/resources/db/migration/postgres/V1_360__add_unique_email_index_tables.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1859

#1870 DMP-3010 - make case numbers case-sensitive
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1870

#1863 DMP-3783 automated_task_aud table has created and last_modified fields
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/AuditCreatedBaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/AuditCreatedModifiedBaseEntity.java
  src/main/resources/db/migration/common/V1_361_1__drop_automated_task_aud_constraints.sql
  src/main/resources/db/migration/common/V1_361_2__drop_automated_task_aud_columns.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1863

#1800 DMP-3623 Only display transcriptions where is_current = true
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/mapper/TranscriptionMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/TranscriptionMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1800

#1873 flyway fix
  src/main/resources/db/migration/postgres/V1_360__add_unique_email_index_tables.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1873

#1879 DMP-2701: Part 6 changes
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/CaseManagementRetentionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/repository/CaseRetentionRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTasksByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTasksTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/RetentionPolicyAuditTest.java
  src/main/resources/db/migration/common/V1_362__constraint_transcription_part6.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1879

#1878 DMP-3698 Adding flyway script for missing not null constraints
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchUseInterpreterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceGetEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/EventProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/event/enums/EventStatus.java
  src/main/resources/db/migration/common/V1_363__not_null_constraints_part3.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1878

#1886 DMP-3808 - update object_state_record columns to bigint
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectStateRecordEntity.java
  src/main/resources/db/migration/common/V1_365__update_object_state_record.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1886

#1881 DMP-3700: adding flyway script V1_357
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/resources/db/migration/common/V1_366__add_missing_constraints_part5b.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1881

#1884 DMP-3699: not null constraints flyway only part 4
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/BatchCleanupArmResponseFilesServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMarkedForDeletionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerAdminPostMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerPostAdminMediasSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/RetentionPolicyTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EodRepositoryHasMediaNotBeenCopiedFromInboundStorageIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/AudioAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/resources/db/migration/common/V1_367__adding_not_null_constraints_part_4.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1884

#1889 sonar line coverage
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1889

#1890 DMP-3687 - more database corrections
  src/main/resources/db/migration/common/V1_368__missing_db_changes.sql
  src/main/resources/db/migration/postgres/V1_368_1__missing_db_changes.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1890

#1882 DMP-3626 Added script to generate ARM IL response files
  bin/generateSingleArmILResponses.sh
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1882

#1894 change renovate schedule
  .github/renovate.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1894

#1896 DMP-3687 - missing db constraints
  .github/renovate.json
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/CourtCaseDocumentMapperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/casedocument/model/EventCaseDocument.java
  src/main/java/uk/gov/hmcts/darts/casedocument/model/EventHandlerCaseDocument.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventHandlerEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/resources/db/migration/common/V1_369_1__missing_db_changes.sql
  src/main/resources/db/migration/postgres/V1_369_2__missing_db_changes.sql
  src/main/resources/db/migration/postgres/V1_369__missing_db_changes.sql
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/object_state_record.sql
  src/main/resources/db/reference/retention.sql
  src/main/resources/db/reference/security.sql
  src/test/java/uk/gov/hmcts/darts/annotation/validators/UserAuthorisedToDeleteAnnotationValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/util/SecurityGroupUtilTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/CourthouseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseEntityToAdminCourthouseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseUpdatePatchToEntityMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventHandlerMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupIdMapperTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventHandlerTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1896

#1900 add new case_retention_audit_heritage table
  src/main/resources/db/migration/common/V1_370__add_case_retention_audit_heritage.sql
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1900

#1904 additions to case_retention_audit_heritage table
  src/main/resources/db/migration/common/V1_371__alter_case_retention_audit_heritage.sql
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1904

#1901 DMP-3252 Return 404 if no hearings actual for case
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/resources/Tests/cases/CaseServiceTest/testGetCasesById/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1901

#1906 DMP-3821: Re-enable annotation tests
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationUploadServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/repository/AnnotationDocumentRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/GenerateCaseDocumentProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TransactionalUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseRetrieval.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EntityGraphPersistence.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/AnnotationDocumentTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/AnnotationTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1906

#1918 additional DETS changes
  src/main/resources/db/migration/common/V1_372__add_extra_columns_to_object_state_record.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1918

#1917 DMP-3323: Standardise to use springboot Transactional
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TransactionalUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseRetrieval.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EntityGraphPersistence.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/annotation/persistence/AnnotationPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/UnstructuredDataHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseManagementRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseUpdateMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidator.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1917

#1912 DMP-3323: Fix unique constraint violations during event processing - Part 1
  src/main/java/uk/gov/hmcts/darts/common/service/CreateCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CreateCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CreateCoreObjectServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1912

#1920 DMP-3809 updated permissions for SuperUser user
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1920

#1921 DMP-3809 updated permissions for SuperUser user
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1921

#1922 DMP-3809 updated permissions for SuperUser user
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMediaRequestTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1922

#1916 NO_JIRA: log Darts feign clients requests/responses full details on Demo
  charts/darts-api/Chart.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmTokenClientIntTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1916

#1924 DMP-3848 , DMP-3849 - Fix xhibit and cp user display names
  src/main/resources/db/migration/common/V1_373__update_xhbit_cpp_names.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1924

#1915 DMP-3821: Re-enable audio tests part 1
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAdminGetTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMarkedForDeletionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMediaRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtroomStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransformedMediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStubComposable.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/DefenceTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/DefendantTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ExternalObjectDirectoryTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/JudgeTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaRequestTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ProsecutorTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1915

#1933 dmp-3777: remove redundant hardcoding of isarchive
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1933

#1931 DMP-3862 Fixing case search returning hearings for incorrect dates
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTempTest.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1931

#1934 DMP-3774 disabled sending notifications in ATS_MODE
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1934

#1935 DMP-3873 Courthouse not found Dynatrace fix
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1935

#1938 DMP-3860 - remove column length limits from envers tables
  src/main/resources/db/migration/common/V1_374__remove_envers_constraints.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1938
