Repository hmcts/darts-api, pull requests merged in 2024-04, with the labels that each got.

#1260 Dmp 2244 Unstructured To Arm Batch Processor
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/FileOperationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/component/ArchiveRecordFileGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/AnnotationArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/CaseArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/MediaArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/TranscriptionArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ExternalObjectDirectoryService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractUnstructuredToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArchiveRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/FileOperationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
  src/test/resources/Tests/arm/component/expectedResponseMultipleArchiveRecords.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1260

#1272 DMP-2637 add courthouseId to endpoint responses
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapperTest.java
  src/test/resources/Tests/cases/CaseServiceTest/testGetCasesById/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCase/expectedResponse.json
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCaseWithReportingRestriction/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1272

#1254 DMP-2470 Move data to unstructured
  src/main/java/uk/gov/hmcts/darts/audio/helper/UnstructuredDataHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1254

#1259 Dmp 2591 remove audit search endpoint
  src/functionalTest/java/uk/gov/hmcts/darts/audit/AuditSearchFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/AuditApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/audit/AuditSearchQueryValidator.java
  src/main/java/uk/gov/hmcts/darts/audit/config/AuditConfiguration.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/AuditController.java
  src/main/java/uk/gov/hmcts/darts/audit/controller/mapper/AuditDtoMapper.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/exception/AuditApiError.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AuditRepository.java
  src/main/resources/openapi/audit.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1259

#1267 Dmp 2662.database updates
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagement.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AuditHeritageEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectHiddenReasonEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/base/ModifiedBaseEntity.java
  src/main/resources/db/migration/common/V1_288_1__v63_v64_v65_database_updates.sql
  src/main/resources/db/migration/common/V1_288_3__v63_v64_v65_database_updates.sql
  src/main/resources/db/migration/common/V1_289_1__v66_database_updates.sql
  src/main/resources/db/migration/common/V1_289_2__v66_database_updates.sql
  src/main/resources/db/migration/h2/V1_288_2__v63_v64_v65_database_updates.sql
  src/main/resources/db/migration/postgres/V1_288_2__v63_v64_v65_database_updates.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1267

#1273 DMP-2658 Update apply retention
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1273

#1275 DMP-2701: Users not being removed from group
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1275

#1279 DMP-2636 - add GET /userstate endpoint
  ModernisedDarts.postman_collection.json
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationCommonController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationCommonControllerImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationCommonControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1279

#1282 DMP-2249 Setting created/lastModified by columns on daily list
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1282

#1278 DMP-2532: Implement POST /admin/retention-policy-types
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionPolicyTypeFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerCreateRetentionPolicyTypeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerReviseRetentionPolicyTypeIntTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionPolicyTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionPolicyMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionPolicyTypeMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPolicyTypeService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPolicyTypeServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/CreateOrRevisePolicyTypeValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/CreatePolicyTypeValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/PolicyDurationValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/RevisePolicyTypeValidator.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionPolicyMapperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionGetPolicyTypesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/validation/PolicyDurationValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1278

#1285 DMP-2636 Set produces JSON for userstate endpoint
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationCommonController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1285

#1284 DMP-2617 Audio file validation
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1284

#1280 DMP-2609: Persisting messageId when receiving daily lists
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/model/DailyListPostRequest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidator.java
  src/main/resources/openapi/dailylist.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1280

#1276 DMP-2262 skip ATS processing if media files haven't been copied to u…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/repository/EodRepositoryHasMediaNotBeenCopiedFromInboundStorageIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ExternalObjectDirectoryService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1276

#1286 DMP-2645: Add created by for node registration
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1286

#1289 DMP-2575 changed deletion of unstructured eod to be based on unstruc…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1289

#1288 DMP-2730 Remove file size validation
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1288

#1268 DMP-2582 - increase advanced search performance
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/AdvancedSearchNoResultsException.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesSearchRequest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/util/RequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1268

#1291 DMP-2717 bug: timestamp on hearing and courtcases for daily list
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1291

#1287 DMP-2369 - Add suport for TRANSLATION_QA to the POST /admin/security-…
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityRoleEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityGroupRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/validation/impl/SecurityGroupCreationValidation.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1287

#1294 V4 Database Indexes
  src/main/resources/db/reference/modernised_darts_indexes.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1294

#1296 DMP-2609: Enabling message_id validation
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidator.java
  src/test/java/uk/gov/hmcts/darts/dailylist/validation/DailyListPostValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1296

#1293 DMP-2661: Filtering GET /admin/user by user_ids
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/service/UserQueryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/UserManagementQuery.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserManagementQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserQuerySpecifications.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/UserManagementService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1293

#1290 DMP-2660 Security Groups to include userIds
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1290

#1305 DMP-2660-security-groups-include-userids-fix
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1305

#1295 DMP-2631 - Fix Daily List processed status
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1295

#1301 DMP-2742 - applv indexes v4
  src/main/resources/db/migration/postgres/V1_291__indexes_v4.sql
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, rel:darts-api-pr-1301

#1298 DMP-2664: Disabling scheduled notifications when in ATS mode
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1298

#1300 DMP-2670: Moving daily lists to automated tasks framework
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceHousekeepingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListService.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/db/migration/common/V1_292__add_dailylist_housekeeping_cron.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/DailyListHouseKeepingAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1300

#1310 DMP-2704 Manifest Files - All operations should be in separate lines
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/test/resources/Tests/arm/component/expectedResponseMultipleArchiveRecords.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1310

#1309 DMP-2533: Implement PATCH /admin/retention-policy-types
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionPolicyTypeFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerCreateRetentionPolicyTypeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPatchRetentionPolicyTypeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerReviseRetentionPolicyTypeIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionPolicyTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPolicyTypeService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPolicyTypeServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/CreateOrRevisePolicyTypeValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/LivePolicyValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/PolicyDisplayNameIsUniqueValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/PolicyHasNoPendingRevisionValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/PolicyNameIsUniqueValidator.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/PolicyStartDateIsFutureValidator.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionGetPolicyTypesServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1309

#1234 DMP-2247 ARM BAU Batch - Pull Response files
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/testutil/ArmTestUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/InvalidResponses/CreateRecord.rsp
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/InvalidResponses/InvalidLineFile.rsp
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/InvalidResponses/UploadFile.rsp
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/ValidResponses/CreateRecord.rsp
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/ValidResponses/InvalidLineFile.rsp
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/ValidResponses/UploadFile.rsp
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/model/ResponseFilenames.java
  src/main/java/uk/gov/hmcts/darts/arm/model/blobs/ArmBatchResponses.java
  src/main/java/uk/gov/hmcts/darts/arm/model/blobs/ArmResponseBatchData.java
  src/main/java/uk/gov/hmcts/darts/arm/model/blobs/ContinuationTokenBlobs.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/UploadNewFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ExternalObjectDirectoryService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArmConstants.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/BatchUploadFileFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/BatchMetadataFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1234

#1318 dmp-2805: Update Manifest file structure
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceIntTest.java
  src/integrationTest/resources/tests/arm/properties/annotation-record.properties
  src/integrationTest/resources/tests/arm/properties/case-record.properties
  src/integrationTest/resources/tests/arm/properties/live/case-record.properties
  src/integrationTest/resources/tests/arm/properties/media-record.properties
  src/integrationTest/resources/tests/arm/properties/nle/annotation-record.properties
  src/integrationTest/resources/tests/arm/properties/nle/media-record.properties
  src/integrationTest/resources/tests/arm/properties/nle/transcription-record.properties
  src/integrationTest/resources/tests/arm/properties/transcription-record.properties
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/nle/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/nle/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/live/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/nle/expectedResponse.a360
  src/main/resources/application.yaml
  src/main/resources/properties/arm/annotation-record.properties
  src/main/resources/properties/arm/case-record.properties
  src/main/resources/properties/arm/live/case-record.properties
  src/main/resources/properties/arm/media-record.properties
  src/main/resources/properties/arm/nle/annotation-record.properties
  src/main/resources/properties/arm/nle/media-record.properties
  src/main/resources/properties/arm/nle/transcription-record.properties
  src/main/resources/properties/arm/transcription-record.properties
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/resources/Tests/arm/properties/annotation-record.properties
  src/test/resources/Tests/arm/properties/case-record.properties
  src/test/resources/Tests/arm/properties/media-record.properties
  src/test/resources/Tests/arm/properties/nle/annotation-record.properties
  src/test/resources/Tests/arm/properties/nle/case-record.properties
  src/test/resources/Tests/arm/properties/nle/media-record.properties
  src/test/resources/Tests/arm/properties/nle/transcription-record.properties
  src/test/resources/Tests/arm/properties/transcription-record.properties
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/nle/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/nle/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/nle/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/nle/expectedResponse.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1318

#1314 DMP-2747 Improve the logs for automated jobs to provide more details …
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1314

#1299 Dmp 2057 arm event date calculation
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/ArmRetentionEventDateCalculator.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_293__arm_event_date_calculator_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1299

#1313 DMP-2627 Implemented apply retention to medias associated to a court case Automated Task
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EodRepositoryHasMediaNotBeenCopiedFromInboundStorageIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/repository/CaseRetentionRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseRetentionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EntityIdOnly.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessor.java
  src/main/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessor.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_294__add_task_case_object_apply_retention.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1313

#1316 Add files via upload
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1316

#1327 dmp 2204 fails if only one event
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1327

#1328 DMP-2803-FixTempWorkspaceSaving
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/BatchInputUploadFileFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/CreateRecordFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/InputUploadFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/InvalidLineFileFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/UploadFileFilenameProcessor.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/BatchInputUploadFileFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/CreateRecordFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/InputUploadFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/InvalidLineFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/UploadFileFilenameProcessorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1328

#1319 DMP-2410 Fetching Courtroom details via Hearing table
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, rel:darts-api-pr-1319

#1332 DMP-2750 Fixing swagger schema for /userstate endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserStateRole.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationCommonControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/UserStateRoleTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/model/UserStateTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1332

#1339 dailyList fix NPE when no prosecutors
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1339

#1340 Daily list defender fix
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1340

#1342 add extra logging for dailyList processing
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1342

#1346 Strip spaces in time marking note
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1346

#1343 DMP-2884 ARM Synchronous Deletion - IU file deletion
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1343

#1331 DMP-2627 apply retention to case annotations, transcriptions and court cases
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/repository/AnnotationDocumentRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1331

#1348 DMP-2898 Add logging of ARM manifest contents
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1348

#1349 DMP-2869 - revert change to AddCase so that it no longer creates a he…
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/expectedResponseForNoCourtroom.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBody.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCaseNumberMissing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCaseUpdate.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyCourthouseMissing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyDefendantNameOverflow.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyForCaseWithoutHearing.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyOnlyCourthouseProvided.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyWithNonExistingCourtroom.json
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyWithoutCourtroom.json
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1349

#1353 DMP-2903 Change ARM manifest hearing date from date to date time
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/resources/Tests/arm/component/ArchiveAnnotationMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveCaseMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveMediaMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveTranscriptionMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/expectedResponseMultipleArchiveRecords.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1353

#1337 DMP-2878 ARM Batch Pull Failing to Update EOD where EOD does not exist
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1337

#1317 DMP-2574: Logging automated task statuses
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/AutomatedTaskLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AutomatedTaskLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseUnfinishedTranscriptionsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AutomatedTaskLoggerServiceTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/DailyListHouseKeepingAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1317

#1359 DMP-2915 MD5 checksum issue
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1359

#1360 Update notification cron to run every minute
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1360

#1333 DMP-2726 Refactor code - If No Media exist against the Media Request
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/SystemCommandExecutorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1333

#1362 Enable shedlock logging
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1362

#1367 DMP-2754: Bumping springboot
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
Labels: ns:darts-modernisation, prd:darts

#1374 DMP-1731 (Dev Only) Integration tests for ATS - Playback
  .github/workflows/ci.yml
  README.md
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1374

#1379 Fix indeterminate assertion
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionPolicyTypeFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1379

#1384 DMP-489 Reduce health endpoint sampling in appinsights
  lib/applicationinsights.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1384

#1385 DMP-2761 use UPPER(...) to lookup user_account.email_address
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourthouseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserQuerySpecifications.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserSearchQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1385

#1386 Log midtier event
  src/main/java/uk/gov/hmcts/darts/log/enums/EventSource.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1386

#1377 Dmp 2737 get admin transcription workflows
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionWorkflowsIntTest.java
  src/integrationTest/resources/tests/transcriptions/transcription_workflow/expectedAllWorkflowResponse.json
  src/integrationTest/resources/tests/transcriptions/transcription_workflow/expectedCurrentWorkflowResponse.json
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceGetWorkflowsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1377

#1354 DMP-715 Refactored notify() method
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1354

#1368 DMP-2670: Removing cron after migrating to db
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1368

#1392 DMP-2981 - fix unique constraint issue when another pod has already c…
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/SecurityGroupStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1392

#1387 ATS status update fix
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1387

#1366 DMP-2696-populate-last-modifiedBy
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/builders/AnnotationDocumentBuilder.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/migration/common/V1_295__alter_tables_for_lastModifiedBy_nonNull.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1366

#1363 DMP-1868 - Add the request and file upload thresholds from the vault
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/InMemoryMultipart.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationPerClassBase.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/common/config/ObjectMapperConfig.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1363
