Repository hmcts/darts-api, pull requests merged in 2024-01, with the labels that each got.

#865 dmp 1587 reporting restrictions for hearings
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/service/GetHearingResponseMapperTest.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-865

#861 DMP-1625-ARM-CreateMediaManifestFile
  README.md
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/resources/Tests/arm/component/ArchiveAnnotationMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveTranscriptionMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-861

#874 DMP-1724 Part 1 - Schema updates: ObjectRecordStatusEnum / MediaEntity
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AddAudioRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/TransientObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/ExternalInboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/InboundExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/ExternalOutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/OutboundExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/ExternalUnstructuredDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/UnstructuredExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectRecordStatusRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/AddAudioRequestMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalInboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-874

#872 DMP-1625-ARM-CreateMediaManifestFile
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-872

#878 Dmp 1625 arm manifest file fix created date
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-878

#880 DMP-1625-ARM-CreateMediaManifestFile
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-880

#875 DMP-1136 Notification routing for transcription uploaded and available
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotifications.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotificationsTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-875

#873 DMP-1397 - dont show automatic transcriptions
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CasesControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreAutomaticTranscripts.json
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/LastAccessedDeletionDayCalculator.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-873

#881 DMP-1681 - Add logging
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-881

#844 Dmp 1717 gap in audio playback
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioFileInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioOperationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-844

#882 DMP-1625-ARM-CreateMediaManifestFile
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationRepository.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-882

#892 DMP 1937 add error code
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-892

#890 Dmp 1854 correctly implement add daily list json transfer api
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailylist.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-890

#889 DMP 1822 changed int to string
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/resources/openapi/dailylist.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-889

#893 DMP-1724 Change the ATS Download logic
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/enums/AudioRequestOutputFormat.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-893

#884 DMP 1712 reopen case for new hearing
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-884

#894 DMP-2011 - specify audio encoding rate to same as source.
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-894

#891 Handle multiple reporting restrictions for transcriptions
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBaseWithGatewayStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/TranscriptionTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionReportingRestrictionsMapperTest.java
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/common.yaml
  src/main/resources/openapi/hearings.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionMapperTranscriptionTypeTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceGetTranscriptionUrgencyTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityAutomated.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityNoHearing.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-891

#900 DMP-1625-ARM-CreateMediaManifestFile
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-900

#901 Chart updates
  charts/darts-api/Chart.yaml
  charts/darts-api/values.demo.template.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-901

#902 Dmp 1632 restrict duplicate audio requests
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-902

#903 Fix for issue with transcription handler date time
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/TranscriptionRequestHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-903

#899 DMP-1873 Added check for well formed audio
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioFileInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/model/ChannelAudio.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-899

#904 Adding function back into chart
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-904

#870 Update User Management API spec per latest LLD
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-870

#909 DMP-1625-ARM-CreateMediaManifestFile
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-909

#910 Correcting-api-field-name
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/service/GetHearingResponseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionReportingRestrictionsMapperTest.java
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/resources/openapi/hearings.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapperTest.java
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseNoStatusSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntity.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityAutomated.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityNoHearing.json
  src/test/resources/Tests/transcriptions/mapper/TranscriptionResponseMapper/expectedResponseSingleEntityWithWorkflow.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-910

#908 DMP-1855 Added filesize and format to transformed_media
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/TransientObjectDirectoryServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransformedMediaStub.java
  src/main/java/uk/gov/hmcts/darts/audio/enums/AudioRequestOutputFormat.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAudioRequestResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/TransformedMediaDetailsDto.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformedMediaEntity.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-908

#911 Secrets and local blob storage improvements
  README.md
  bin/secrets-stg.sh
  docker-compose-local.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-911

#914 DMP-1832 Download & Playback Audio using Transformed Media Id
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransformedMediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/main/resources/db/migration/common/V1_254__update_transient_object_directory_schema.sql
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-914

#916 DMP-1875-ITHC-Test-Envs
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-916

#913 dmp 1352 post search
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseDateRange.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseEventText.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseJudgeName.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-913

#922 Add files via upload
  src/main/resources/db/reference/modernised_darts_indexes.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-922

#885 postgres_app_v60_sec_v19_ret_v6
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-885

#912 DMP-1853: SAS Tokens for Auth
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/resources/application-functionalTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/dao/impl/ArmDataManagementDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/dao/ArmDataManagementDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-912

#928 Update usermanagement api spec to include user last modified and crea…
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/UserManagementService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-928

#930 DMP-2063 - v59 and v60 flyway changes
  src/main/resources/db/migration/common/V1_255_1_1_v59_v60_updates_annotation.sql
  src/main/resources/db/migration/common/V1_255_2_1_v59_v60_updates_case_document_overflow.sql
  src/main/resources/db/migration/common/V1_255_2_3_v59_v60_updates_case_document_overflow.sql
  src/main/resources/db/migration/common/V1_255_3_1_v59_v60_updates_user_account.sql
  src/main/resources/db/migration/postgres/V1_255_1_2_v59_v60_updates_annotation.sql
  src/main/resources/db/migration/postgres/V1_255_2_2_v59_v60_updates_case_document_overflow.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-930

#932 DMP-1632 Fixing error for duplicate audio requests
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-932

#915 DMP-1788: Introduced listing_courthouse for dailylists
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListHousekeepingControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceHousekeepingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/DailyListTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DailyListStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessor.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/resources/db/migration/common/V1_255__introduce_listing_courthouse_on_daily_lists_.sql
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpSaveDailyListTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/ProcessAllDailyListsForCourthouseTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/ProcessAllDailyListsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-915

#917 DMP-1856 - Mark audios to be deleted from Outbound data store [Task Automation]
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/AudioTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransientObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransientObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-917

#920 DMP-1792: Lift-and-shift validation logic from TranscriptionController
  src/main/java/uk/gov/hmcts/darts/common/component/validation/Validator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriptionRequestDetailsValidator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/validation/Validator.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/validation/impl/SecurityGroupCreationValidation.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/validation/DuplicateEmailValidator.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/validation/UserAccountExistsValidator.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriptionRequestDetailsValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-920

#939 DMP-2063 update schema and objects
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/resources/db/migration/common/V1_256__update_case_retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-939

#937 DMP-483 initial implementation
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-937

#929 postgres_app_v61_sec_v19_ret_v7
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-929

#931 V7 Retention data model
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-931

#921 DMP-1816 Source and test updated to add new fields
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/RetentionPolicyTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/CaseStatus.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/Policy.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/enums/PolicyTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-921

#935 Dmp 2072.annotation changes
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsWithTranscriberStatusOnlyIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseOverflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/resources/db/migration/common/V1_257_1_1__v59_v60_updates_annotation.sql
  src/main/resources/db/migration/common/V1_257_2_1__v59_v60_updates_case_document_overflow.sql
  src/main/resources/db/migration/common/V1_257_2_3__v59_v60_updates_case_document_overflow.sql
  src/main/resources/db/migration/common/V1_257_3_1__v59_v60_updates_user_account.sql
  src/main/resources/db/migration/h2/V1_257_1_2__v59_v60_updates_annotation.sql
  src/main/resources/db/migration/h2/V1_257_2_2__v59_v60_updates_case_document_overflow.sql
  src/main/resources/db/migration/postgres/V1_257_1_2__v59_v60_updates_annotation.sql
  src/main/resources/db/migration/postgres/V1_257_2_2__v59_v60_updates_case_document_overflow.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-935

#942 DMP-1569 Change MediaId Authorisation to use Hearing
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-942

#925 DMP 1817 get retention history
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/admin/test/TestSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionPolicyTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-925

#945 DMP-1549 Adding script to restore the staging database locally
  README.md
  bin/db-stg-to-local.sh
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-945

#944 dmp 2017 v46 changes
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/resources/db/migration/common/V1_258__v46_updates.sql
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-944

#948 DMP-2042 Daily list courtroom string fix
  ModernisedDarts.postman_collection.json
  src/functionalTest/resources/DailyList-Document.json
  src/functionalTest/resources/DailyListRequest.json
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/resources/tests/DailyListTest/dailyListAddDailyListEndpoint/requestBody.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListCPP.json
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListXHB.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/DailyListRequest2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_invalidCourthouse/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/DailyListRequest.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/ok_saveDl_xml_then_json/document.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/update_courthouse_ok/DailyListRequest.json
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/resources/openapi/dailylist.yaml
  src/test/resources/Tests/dailylist/DailyListServiceImplTest/processIncomingDailyList/DailyListRequest.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyListMissingTimeMarkNote.json
  src/test/resources/Tests/dailylist/dailyListProcessorTest/dailyList_NonExistingCourthouse.json
  src/test/resources/Tests/dailylist/mapper/DailyListMapperTest/mapToExistingDailyListEntity_success/DailyListRequest.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-948

#926 DMP-1758: event-handler-for-sentencing-remarks
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/SecurityGroupTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/SecurityRoleTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/UserAccountTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionReportingRestrictionsMapperTest.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/TranscriptionRequestDetailsMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/resources/db/migration/common/V1_259__update_sentencing_remarks_handler_name.sql
  src/test/java/uk/gov/hmcts/darts/event/mapper/TranscriptionRequestDetailsMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-926

#949 Dmp 2032 retention policies
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/RetentionPolicyTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RetentionPolicyTypeEntity.java
  src/main/resources/db/migration/common/V1_260__retention_policies.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-949

#950 DMP-2044 Update getAudioMetadata: only fetch media from channel 1
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-950

#951 Dmp 1818.retention
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/RetentionPolicyTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseRetentionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AnnotationXmlGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/util/SecurityGroupUtil.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseManagementRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseOverflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/helper/CurrentTimeHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseOverflowRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/DateConverterUtil.java
  src/main/java/uk/gov/hmcts/darts/common/util/DateConverters.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/CaseRetentionStatus.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/Policy.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionPolicy.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPostService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/validation/RetentionsPostRequestValidator.java
  src/main/resources/db/migration/common/V1_261__retention_missing_columns.sql
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/authorisation/util/SecurityGroupUtilTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/DateConverterUtilTest.java
  src/test/java/uk/gov/hmcts/darts/retention/enums/PolicyTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/validation/RetentionsPostRequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-951

#956 DMP-1994 - Add GET /admin/security-roles
  ModernisedDarts.postman_collection.json
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/MediaCreateArchiveRecordMetadata.java
  src/main/java/uk/gov/hmcts/darts/authorisation/config/AuthorisationAspect.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityRoleMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityRoleService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityRoleServiceImpl.java
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-956

#958 DMP-1470 New email template: Audio Request Being Processed From Archive
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/AudioRequestBeingProcessedFromArchiveQuery.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryResultRowMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioRequestBeingProcessedFromArchiveQueryResult.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/notification/api/NotificationApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-958

#959 Don't remove retention policy types in functional test cleanup
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-959

#966 V7 of Retention Data Model
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-966

#933 DMP-1908: Downloading transcription documents from the latest location
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/JudgeTestData.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloader.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloaderTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-933

#962 DMP-2069: Setting whether an event is a log entry from the mid-tier
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/component/impl/DartsEventMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/component/impl/DartsEventMapperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-962

#969 DMP-1729: Removing redundant api field
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/resources/openapi/cases.yaml
  src/test/resources/Tests/cases/CasesMapperTest/testMapToSingleCaseWithReportingRestriction/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-969

#973 dmp 2032 correct values for retention
  src/main/resources/db/migration/common/V1_262__retention_policies_update.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-973

#971 DMP-1804: Remove search endpoint
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/hearings/HearingsGetEventsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchGetTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-971

#972 DMP-1833_ATS Endpoint updated to remove patch and delete
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateLastAccessedTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-972

#954 DMP-1374_UserManagement getUser functionality added
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/UserManagementQuery.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserManagementQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/UserController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/UserManagementService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/usermanagement/service/UserManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-954

#852 DMP-1737 ARM - Pull Response files from ARM
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/testutil/ArmTestUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/FileOperationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/resources/tests/arm/service/ArmResponseFilesProcessorTest/createRecord/6a374f19a9ce7dc9cc480ea8d4eca0fb_a17b9015-e6ad-77c5-8d1e-13259aae1895_0_cr.rsp
  src/integrationTest/resources/tests/arm/service/ArmResponseFilesProcessorTest/createRecord/6a374f19a9ce7dc9cc480ea8d4eca0fb_a17b9015-e6ad-77c5-8d1e-13259aae1895_1_cr.rsp
  src/integrationTest/resources/tests/arm/service/ArmResponseFilesProcessorTest/uploadFile/6a374f19a9ce7dc9cc480ea8d4eca0fb_04e6bc3b-952a-79b6-8362-13259aae1895_0_uf.rsp
  src/integrationTest/resources/tests/arm/service/ArmResponseFilesProcessorTest/uploadFile/6a374f19a9ce7dc9cc480ea8d4eca0fb_04e6bc3b-952a-79b6-8362-13259aae1895_1_uf.rsp
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/UploadNewFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseCreateRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseUploadFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/UploadNewFileRecordMetadata.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArchiveConstants.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/CreateRecordFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/InputUploadFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/UploadFileFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalObjectDirectoryDeletedFinder.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/FileOperationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_263__arm_response_files_processor_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/CreateRecordFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/InputUploadFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/UploadFileFilenameProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalInboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ViqHeaderServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTaskTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-852

#976 DMP-2068 (Dev only) Fix flaky tests
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-976

#968 dmp 1995 update admin user patch for email
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-968

#980 Dmp 1737 arm pull response files extra logging
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-980

#981 dmp 2167 fix bug and added test
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionTest.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-981

#983 DMP-1737-ARM-PullResponseFiles
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-983

#960 DMP 1251 get security groups
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/UserManagementFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/SecurityGroupTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupsIntTest.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/SecurityGroupService.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-960

#985 DMP-1737-ARM-PullResponseFiles
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-985

#984 DMP-2068 (Dev only) Fix flaky tests
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-984

#970 Dmp 2040 add viq header in audio files
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/OutboundFileZipGeneratorHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorHelperImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioFileInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/model/ViqHeader.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/model/ViqHeaderTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundFileZipGeneratorHelperImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-970

#974 DMP-2151: Implement ArmTokenClient
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmClientIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmTokenClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/config/ArmClientConfig.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/ArmTokenRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/ArmTokenResponse.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/client/ArmClientConfigTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-974

#986 DMP-2142 - Audio not linking to hearings within 3m period before and …
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-986

#987 DMP-1818 change
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-987

#979 Dmp 2158.retention v7
  src/functionalTest/java/uk/gov/hmcts/darts/retention/RetentionFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/RetentionPolicyTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseRetentionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseManagementRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RetentionPolicyTypeEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionPolicyTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionPolicy.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionPolicyEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/resources/db/migration/common/V1_265_1__retention_v7.sql
  src/main/resources/db/migration/postgres/V1_265_2__retention_v7.sql
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-979

#989 Dmp 1818.comments
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-989

#988 Add files via upload
  src/main/resources/db/reference/drop_darts_schema.sql
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
  src/main/resources/db/reference/security.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-988

#990 DMP-2175: Updating last_modified_by for transformed media
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-990

#992 DMP-1737-ARM-PullResponseFiles
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-992

#995 Revert "DMP-1833_ATS Endpoint updated to remove patch and delete"
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-995

#993 Dmp 2176.v62 database changes
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/service/GetHearingResponseMapperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/EventTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/SecurityGroupTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtroomStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionReportingRestrictionsMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseManagementRetentionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/SecurityGroupEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupMapper.java
  src/main/resources/db/migration/common/V1_266_1__v62_database_updates.sql
  src/main/resources/db/migration/postgres/V1_266_2__v62_database_updates.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-993

#998 Dmp 1737 arm pull response files fix row locking
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-998

#997 DMP-1912 ARM integrate Disposition endpoint
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmApiClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmTokenClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmApiClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmTokenClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/ArmTokenResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmApiConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/darts/SampleSmokeTest.java
  src/smokeTest/resources/application-smoke.yaml
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/LastAccessedDeletionDayCalculatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-997

#1003 dmp 1817 truncated date format
  src/main/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapper.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/mapper/RetentionMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1003
