Repository hmcts/darts-api, pull requests merged in 2024-09, with the labels that each got.

#1930 DMP-3323 refactor retrieve core object service
  src/main/java/uk/gov/hmcts/darts/common/service/CaseCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/CourthouseCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/CourtroomCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/HearingCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/JudgeCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CaseCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CourthouseCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CourtroomCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/HearingCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/JudgeCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CaseCommonServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CommonTransactionalServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CourthouseCommonServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/CourtroomCommonServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/HearingServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/JudgeCommonServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/RetrieveCoreObjectServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1930

#1939 DMP-3007 - add case Type parameter
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/integrationTest/resources/tests/cases/CaseControllerTest/casesPostEndpoint/requestBodyForCaseWithType.json
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1939

#1941 DMP-2933 - Added validation for CASE_RETENTION_PASSED when updating retention date
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1941

#1929 DMP-3821: re-enable audio tests part 2
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationDeleteTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationUploadServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMediaRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDeleteTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerAdminPostMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerPostAdminMediasSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/TransformedMediaRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioPreviewTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/UnstructuredAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTempTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/courthouse/AudioAuditTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventsSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/service/GetHearingResponseMapperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransientObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/ModernisedTranscriptionSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionReportingRestrictionsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/AudioTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourtroomTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ExternalObjectDirectoryTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaRequestTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ProsecutorTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TransformedMediaTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TransientObjectDirectoryTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1929

#1948 Dmp 3887.unstructured to arm fix
  src/integrationTest/java/uk/gov/hmcts/darts/arm/helper/UnstructuredToArmHelperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/UnstructuredToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/resources/db/migration/local/afterMigrate.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1948

#1946 DMP-3794: Change daily list duplicate check to take into account created_ts also
  build.gradle
  src/main/java/uk/gov/hmcts/darts/common/repository/DailyListRepository.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/ProcessAllDailyListsTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1946

#1936 Dmp 3407 - get event details by event id
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/validation/EventIdValidator.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1936

#1947 Dmp 3825 tune automated tasks
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/resources/db/migration/common/V1_375__update_automated_tasks_default_values.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1947

#1950 DMP-3886 Ensure relevant automated tasks are disabled/enabled at go live
  src/main/resources/db/migration/common/V1_376__disable_automated_tasks_for_go_live.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1950

#1952 DMP-3900 - Audio should be linked via all events, not just courtlog ev…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1952

#1953 DMP-3345 Amending /dailylists/run to SUPER_ADMIN
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1953

#1942 DMP-3773 - remove jobs_list
  src/main/java/uk/gov/hmcts/darts/audio/helper/UnstructuredDataHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1942

#1949 DMP-3892 - Ensure event cleanup current flag job only cleans events linked to same hearing
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1949

#1956 DMP-3907 Allowing SUPER_USER access to view event details
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1956

#1951 DMP-3827: courtroom_name searches need to be case-sensitive
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CourtroomCommonServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1951

#1954 DMP-3872 - change point where darNotify is async
  src/main/java/uk/gov/hmcts/darts/event/helper/DarNotifyAsyncHelper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1954

#1955 DMP-3821: Renable remaining audio tests
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestNonAccessedCountIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaRequestTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/Persistable.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1955

#1961 dmp-3917: remove access tier flag from azcopy
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1961

#1960 DMP-3899 Objects that fail to push to ARM should not have entries in the Manifest File when processed in BATCH Mode
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1960

#1963 DMP-3908 - Judges and Defendants showing 'multiple' when case has hearing_is_actual flag set to false
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapper.java
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/fourWithTwoSameCase/expectedResponse.json
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/twoSameCase/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1963

#1966 dmp-3922: revert remove access tier flag from azcopy
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1966

#1962 DMP-3786 - fix audio operations to enforce bitrate to stop file size …
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceIntTest.java
  src/integrationTest/resources/tests/audio/WithViqHeader/1_to_2m.mp2
  src/integrationTest/resources/tests/audio/WithViqHeader/viq0001min.mp2
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1962

#1967 DMP-3884 Add Batch logic on Automated Task - Case Document Generation
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentForRetentionDateBatchProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1967

#1971 DMP-3875 - add hearing_is_Actual criteria to advanced search
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTempTest.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1971

#1973 DMP-3882 - Set hearing_is_actual when audio is received.
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1973

#1972 DMP-3903 - add is_hidden to GET /admin/medias response
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapper.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1972

#1974 DMP-3907 Allowing SUPER_USER access to view event mappings
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingsTest.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1974

#1968 Dmp 3885 add batch logic to automated task close old case
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessor.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualTaskService.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1968

#1940 Dmp 2895 transcription documents mark for deletion
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionDocumentTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1940

#1975 DMP-3909 - extend shedlock timeout and add logging if breached.
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/LockServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/LockServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1975

#1959 DMP-3901 - Remove validation restricting specific times for Transcript Requests
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriptionRequestDetailsValidator.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriptionRequestDetailsValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1959

#1976 DMP-3889: Add logging for CloseOldCasesProcessorImpl job
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1976

#1983 Updated getCurrentEventIdsToBeProcessed() to exclude duplicate event_ids with unique hearing ids
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1983

#1984 DMP-3932 - (Dev Only) -> Refactor Manual Task Service to use spring dependency injection
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutoloadingManualTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/BatchCleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupCurrentEventTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseUnfinishedTranscriptionsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentForRetentionDateAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/RemoveDuplicatedEventsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualTaskService.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1984

#1987 Updated getTheLatestCreatedEventPrimaryKeyForTheEventId to take into …
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1987

#1988 DMP-3933 - (Dev Only) -> Refactor automated task service to use spring dependency injection
  src/main/java/uk/gov/hmcts/darts/task/runner/AutoloadingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionCaseAssociatedObjectsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRetentionEventDateCalculatorAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/BatchCleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupCurrentEventTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseOldCasesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CloseUnfinishedTranscriptionsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/GenerateCaseDocumentForRetentionDateAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/OutboundAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDailyListAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/RemoveDuplicatedEventsAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredAudioDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/UnstructuredToArmAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1988

#1985 DMP-3876 Inbound Store Deleter Job - Replace ARM RPO with Unstructured criteria
  src/integrationTest/java/uk/gov/hmcts/darts/datamanagement/service/InboundAnnotationTranscriptionDeleterProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundAnnotationTranscriptionDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/InboundAnnotationTranscriptionDeleterAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1985

#1996 DMP-2543 - Automated task to remove Personally Identifiable Information from case on expiry
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/CanAnonymized.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_377__caseExpiryDeletion_task.sql
  src/test/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/DefenceEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/DefendantEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/EventEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntityTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1996

#1990 DMP-3544 RCC - Confidence Reason - JSON structure
  src/main/java/uk/gov/hmcts/darts/retention/model/CaseRetentionConfidenceReason.java
  src/test/java/uk/gov/hmcts/darts/retention/model/CaseRetentionConfidenceReasonTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1990

#1995 No jira: Add audio linked event status
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/event/enums/EventStatus.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventPersistenceService.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1995

#2003 DMP-3923 - Hide CaseExpiryDeletion task if disabled by feature flag
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/CanAnonymized.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/DefenceEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/DefendantEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/EventEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntityTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2003

#1999 DMP-3023 - Close active transcript workflow when case expires
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntity.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionWorkflowEntityTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1999

#2001 DMP-2544 - An audit log must be kept for case deletion due to expiry
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/resources/db/migration/common/V1_378__caseExpiryDeletion_audit_activity.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2001

#2000 DMP-2559 - Write to log when a case is deleted due to expiry for Dynatrace purposes
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2000

#1994 Amending DAR notification log messages
  src/main/java/uk/gov/hmcts/darts/event/helper/DarNotifyAsyncHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1994

#2006 DMP-3897 - fix POST /audio performance when more than 50 connections …
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2006

#2007 DMP-3645 - Prevent expired case URLs from being accessed
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/CaseCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2007

#2012 Removed allow-automated-tasks in favour for automated-tasks-pod
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2012

#2011 DMP-3890 Log full ARM error response body
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2011

#1997 Dmp 3536 calculate confidence for associated object
  src/main/java/uk/gov/hmcts/darts/retention/mapper/CaseRetentionConfidenceReasonMapper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/retention/mapper/CaseRetentionConfidenceReasonMapperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ExternalObjectDirectoryTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1997

#2013 Refactor of data anonymisation
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefenceEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DefendantEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/CanAnonymized.java
  src/main/java/uk/gov/hmcts/darts/task/runner/IsNamedEntity.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/DefenceEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/DefendantEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/EventEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/ProsecutorEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionCommentEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2013

#2016 DMP-3947 - Add 2 new Archive Retention Policies
  src/integrationTest/resources/tests/retention/expectedResponse.json
  src/main/resources/db/migration/common/V1_379__added_additional_retention_policy_type.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2016

#2018 DMP-3942 - Translation QA should be able to view and download transcripts
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2018

#1998 dmp-3915: Add Anonymisation details in Event Search operation
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapper.java
  src/main/java/uk/gov/hmcts/darts/event/model/EventSearchResult.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1998

#2017 DMP-3706 Fixed Flaky Test in SetReportingRestrictionEventHandlerTest and various integration tests improvements
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmApiClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmTokenClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LoginOrRefreshIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/LogoutIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/ResetPasswordIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/bankholidays/BankHolidayServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/HandlerTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandler2Test.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBaseWithGatewayStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBaseWithWiremock.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationPerClassBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/testCommon/java/uk/gov/hmcts/darts/test/common/AwaitabilityUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2017

#2024 DMP-3955 Fixing transcriber transcripts count endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2024

#2025 DMP-3947 - add new archive retention policies
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionPolicyEnum.java
  src/main/resources/db/migration/common/V1_380__added_additional_retention_policy_type.sql
  src/main/resources/db/migration/postgres/V1_380_1__added_additional_retention_policy_type.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2025

#2014 DMP-3867 Investigation and testing for case retention without CMR record
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2014

#2029 DMP-3959 - Set is_anonymised on events and transcription comments when case expiry job runs
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2029

#2032 DMP-3201 - Expire transformed media when original audio is hidden
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2032

#2034 DMP-3915: renamed event search result property `is_manually_anonymise…
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapper.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2034

#2035 DMP-3890: logging EOD id
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2035

#2037 Updating DB delete scripts
  src/main/resources/db/reference/delete/delete_case_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2037

#2010 DMP-2892: Implement POST /admin/transcription-document/<trd_id>/approve-deletion
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostAproveDeletionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/AdminTranscriptionService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionApproveMarkForDeletionValidator.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionApproveMarkForDeletionValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2010

#2039 DMP-3966 - allow ATS to go into a loop if multiple requests to process.
  src/integrationTest/java/uk/gov/hmcts/darts/audio/repository/MediaRequestRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioTransformationServiceProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2039

#2040 DMP-3969/DMP-3827 - AddAudio slow due to not using index.
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2040

#2038 DMP-3908 - Revert "DMP-3908 - Judges showing 'multiple' when case has hearing_is_actual flag set to false"
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapper.java
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/fourWithTwoSameCase/expectedResponse.json
  src/test/resources/Tests/cases/AdvancedSearchResponseMapperTest/twoSameCase/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2038

#2043 Updating DB delete script for courthouses/courtrooms
  src/main/resources/db/reference/delete/delete_case_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2043

#2046 DMP-2666: Temporary change to automated tasks for testing of the DMP-2666 ticket
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2046

#2050 Revert #2046
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2050

#2049 DMP-3874 - Update cases int tests to include anonymisation fields in API responses
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/resources/tests/cases/CaseControllerAdminSearchTest/testOkIsAnonymised/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2049

#2044 DMP-3636 - Automated task to remove all unstructured data at the end of their retention period from all data stores
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaRequestStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransientObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/ExternalDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/entity/MediaRequestEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/SoftDelete.java
  src/main/java/uk/gov/hmcts/darts/task/runner/SoftDeleteRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/resources/db/migration/common/V1_381__associated_object_data_expiry_deletion_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2044

#2051 DMP-3974 - Update admin event payloads
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapper.java
  src/main/java/uk/gov/hmcts/darts/event/model/EventSearchResult.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2051

#2047 DMP-3892 - Fixed issue where distinct would ignore order by
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImplTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2047

#2045 DMP-3662: Amend values in object hidden table
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/HiddenReasonApiTest.java
  src/main/resources/db/migration/common/V1_382__amend_object_hidden_reason_values.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2045

#2036 DMP-3960 Swap batch logic - automated_task vs application.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/config/UnstructuredToArmProcessorConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/UnstructuredToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_383__update_batch_size_for_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2036

#2015 DMP-2893 Implement POST /admin/medias/<media_id>/approve-deletion
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPostAdminApproveMediaMarkedForDeletionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AdminMediaService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaApproveMarkForDeletionValidator.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplApproveMarkedForDeletionTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/AudioMediaPatchRequestValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/MediaApproveMarkForDeletionValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/SearchMediaValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2015

#2064 DMP-3969 - Performance test - audio linking by event taking too long
  src/main/resources/db/migration/common/disabled.V1_384__additional_indexes_for_performance.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2064

#2068 DMP-4002 Reword logging in UserIdentityImpl.userHasGlobalAccess so its clear if user has guid but no email address
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2068

#2052 DMP-3479 - (Dev Only) Create DETSToARM Pull Response automated job framework
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutoloadingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutoloadingManualTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDetsToArmResponseAutomatedTask.java
  src/main/resources/db/migration/common/V1_384__process_DETSToArm_response_automated_task.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2052

#2060 DMP-2559: Write to log when a case is deleted due to expiry
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/CasesLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2060

#2061 DMP-3984 (Dev Only) Fully implement continuation token
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/testutil/ArmTestUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2061

#2056 DMP-535 - Pre-deletion report - DBA query
  report-queries/case-pre-deletion-report.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2056

#2057 DMP-536 - Post deletion report - DBA query
  report-queries/case-post-deletion-report.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2057

#2072 DMP-4001: Reenable tests
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/controller/DailyListPostControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventsSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessor.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/ProcessDailyListOnDemandTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedOnDemandTask.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/controller/DailyListProcessEndpointTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/ProcessAllDailyListsTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/AwaitabilityUtil.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/MediaIdMatcher.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2072

#2075 Adding "created_at" to admin get event endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2075

#2065 DMP-3988 Delete ARM's Response file when EOD is no longer available in DARTS
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2065
