Repository hmcts/darts-api, pull requests merged in 2024-02, with the labels that each got.

#1002 DMP-1876-Test-Env
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1002

#1008 Update github swagger file
  index.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1008

#1010 Dmp 1889 GET /hearings/{hearing-id}/annotations endpoint
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetAnnotationsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/transcriptions/transcription/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetAnnotationsResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/LastAccessedDeletionDayCalculatorTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/common/util/TestUtils.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetAnnotationsResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-1010

#991 update user_roles_courthouses view
  src/main/resources/db/migration/common/V1_267__user_roles_courthouse_view_update.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-991

#1006 Revert "Temp use of distroless-debug base image"
  Dockerfile
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1006

#1017 DMP-2160 - add validate_only to endpoint
  .idea/codeStyles/Project.xml
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPostService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1017

#1018 DMP-2194 - When "last_accessed_ts" or "created_ts" is set on the date for Saturday or Sunday, it does not get picked up by automated job on Tuesday.
  src/main/resources/db/migration/common/V1_268__update_outbound_deleter_automated_task_updated.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1018

#1021 DMP-2184 - Show last automated retention date
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1021

#1024 DMP-2180 - Max retention Date
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1024

#1023 Remove overly restrictive regex constraint from usermanagement openapi
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1023

#1025 DMP-2166 ATS DOWNLOAD trim start and end of sessions (if applicable)
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioFileInfo.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioSession.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundFileZipGeneratorHelperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1025

#1029 Remove unnecessary sleep that was contributing to a large increase in…
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1029

#1007 Dmp 1887 create annotation with file upload
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/SecurityGroupTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/UserAccountTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/annotation/component/AnnotationDocumentBuilder.java
  src/main/java/uk/gov/hmcts/darts/annotation/component/AnnotationMapper.java
  src/main/java/uk/gov/hmcts/darts/annotation/component/AnnotationValidator.java
  src/main/java/uk/gov/hmcts/darts/annotation/component/ExternalObjectDirectoryBuilder.java
  src/main/java/uk/gov/hmcts/darts/annotation/controller/AnnotationController.java
  src/main/java/uk/gov/hmcts/darts/annotation/errors/AnnotationApiError.java
  src/main/java/uk/gov/hmcts/darts/annotation/persistence/AnnotationPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/AnnotationService.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/config/AuthorisationAspect.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/resources/openapi/annotations.yaml
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationDocumentBuilderTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationMapperTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationServiceTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/ExternalObjectDirectoryBuilderTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1007

#1034 DMP-2058 Update AbstractUserController#handleOauthCode to update user_account.last_login_ts
  src/integrationTest/java/uk/gov/hmcts/darts/common/service/UserAccountServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/UserAccountService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/UserAccountServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1034

#1016 Dmp 1737.transactional fix
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/resources/tests/arm/service/ArmResponseFilesProcessorTest/uploadFile/6a374f19a9ce7dc9cc480ea8d4eca0fb_04e6bc3b952a79b6836213259aae1895_1_uf.rsp
  src/main/java/uk/gov/hmcts/darts/arm/component/ArmResponseFilesProcessSingleElement.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/test/java/uk/gov/hmcts/darts/arm/component/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidInputFileJson/InvalidInputFile.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1016

#1038 latch was not being reset when new heartbeats were created.
  src/main/java/uk/gov/hmcts/darts/common/sse/SentServerEventsHeartBeatEmitter.java
  src/test/java/uk/gov/hmcts/darts/common/sse/SentServerEventsHeartBeatEmitterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1038

#1022 DMP-1888 Get case annotations
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesAnnotationMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesAnnotationMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1022

#1031 Correction so that integration tests get run after checks
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1031

#1049 DMP-1887: Adding created by to annotation entity
  src/main/java/uk/gov/hmcts/darts/annotation/component/AnnotationMapper.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1049

#1009 DMP - 2039 api problem responses
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/exception/ExceptionHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriptionTranscriberCountsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/ArchiveRecordApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationError.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/cases/exception/CaseApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/AuditApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiError.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/java/uk/gov/hmcts/darts/dailylist/exception/DailyListError.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/hearings/exception/HearingApiError.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/exception/NodeRegistrationApiError.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/task/exception/AutomatedTaskSetupError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/audiorequests.yaml
  src/main/resources/openapi/audit.yaml
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/common.yaml
  src/main/resources/openapi/courthouse.yaml
  src/main/resources/openapi/dailylist.yaml
  src/main/resources/openapi/event.yaml
  src/main/resources/openapi/hearings.yaml
  src/main/resources/openapi/noderegistration.yaml
  src/main/resources/openapi/retentions.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/main/resources/openapi/usermanagement.yaml
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriptionRequestDetailsValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1009

#1035 DMP-2005 Adding event received log entry for Dynatrace
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/enums/EventSource.java
  src/main/java/uk/gov/hmcts/darts/log/service/EventLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1035

#1033 DMP-2029 - Add retention functionality to the StopAndCloseHandler
  .idea/codeStyles/Project.xml
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SetReportingRestrictionEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseManagementRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/event/model/CreatedHearingAndEvent.java
  src/main/java/uk/gov/hmcts/darts/event/model/stopandclosehandler/PendingRetention.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DartsEventNullHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/retention/api/RetentionApi.java
  src/main/java/uk/gov/hmcts/darts/retention/api/impl/RetentionApiImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelper.java
  src/main/resources/db/migration/common/V1_269__retentionEventHandler.sql
  src/test/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1033

#1051 DMP-706 - add node registration lookup
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStopHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/InterpreterUsedHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/NodeRegisterStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/wiremock/DartsGatewayStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/repository/NodeRegisterRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/NodeRegistrationRepository.java
  src/main/java/uk/gov/hmcts/darts/event/model/CreatedHearingAndEvent.java
  src/main/java/uk/gov/hmcts/darts/event/model/DarNotifyApplicationEvent.java
  src/main/java/uk/gov/hmcts/darts/event/model/DarNotifyEvent.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1051

#1040 DMP-2245 - move validate_only to query param
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/controller/RetentionController.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPostService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-1040

#1048 DMP-2259 Move @Transactional to single iteration of OutboundAudioDeleter automated task
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransformedMediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TransientObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessorSingleElement.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TransientObjectDirectoryEntity.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1048

#1055 DMP-2304 Is Archived false
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1055

#1052 DMP-2159 Running gradle assemble before demo DB migration
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1052

#1054 DMP-2140 Added invalid line file handling
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseInvalidLineRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArchiveConstants.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/InvalidLineFileFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/resources/db/migration/common/V1_270__failure_arm_response_manifest_file_failed.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/files/InvalidLineFilenameProcessorTest.java
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidInputFileJson/InvalidLineFile.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1054

#1058 DMP-1899 - implement default retention policy
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1058

#1053 Adding correct validation to annotation open api spec
  .idea/codeStyles/codeStyleConfig.xml
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationControllerTest.java
  src/main/resources/openapi/annotations.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1053

#1059 DMP-1993 - make use of new LogApi
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStartHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DarStopHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/DartsEventNullHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/InterpreterUsedHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SetReportingRestrictionEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/TranscriptionRequestHandler.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/EventLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1059

#1047 Dmp 2026 - Created/updated columns not always populated
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/ExternalInboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/ExternalOutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/ExternalUnstructuredDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/helper/SystemUserHelper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_271__system_dailylist_processor_insert_guid.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalInboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/helper/SystemUserHelperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1047

#1041 DMP-2047: fetch object dynamically
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dets/DetsDataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/BlobContainerDownloadable.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacade.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/DataManagementAzureClientFactory.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DataManagementAzureClientFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DownloadableExternalObjectDirectories.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/enums/DatastoreContainerType.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ExternalLocationTypeEnum.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/dao/DataManagementDao.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/dao/impl/DataManagementDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/enums/DatastoreContainerType.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dets/api/DetsDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/dets/api/impl/DetsDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/dets/config/DetsDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/dets/service/DetsApiService.java
  src/main/java/uk/gov/hmcts/darts/dets/service/impl/DetsApiServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/component/DataManagementAzureClientFactoryImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/component/DownloadableExternalObjectDirectoriesTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/component/FileBasedDownloadResponseMetaDataTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/dao/DataManagementDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dets/DetsManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1041

#1066 DMP-2327 - change LocalDateTime to OffsetDateTime
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalServiceAuthTokenEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1066

#1060 DMP-2089 - indexes v1, v2 and v3
  src/main/resources/db/migration/postgres/V1_272__indexes_v1_v2_v3.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1060

#1064 Adding annotations to GitHub Swagger file
  index.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1064

#1065 DMP-1907 ATS processing/result logging
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/AtsLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AtsLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AtsLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1065

#1068 DMP-1905 added log of audio requests to ats logging service
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AtsLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AtsLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1068

#1071 Feat-darts-test-db-migration
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1071

#1063 DMP-2277 Fixing request transcription duplicate checking logic
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionStatusEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/DuplicateRequestDetector.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/DuplicateRequestDetectorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1063

#1069 DMP-2334 - Update case last modified by and only set the total senten…
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelper.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1069

#1073 DMP-2353 Case all transcriptions fix
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1073

#1084 Dmp 2144 change to hard delete
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/ExternalDataStoreDeleterImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/inbound/ExternalInboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/outbound/ExternalOutboundDataStoreDeleter.java
  src/main/java/uk/gov/hmcts/darts/audio/deleter/impl/unstructured/ExternalUnstructuredDataStoreDeleter.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalInboundDataStoreDeleterImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/ExternalOutboundDataStoreDeleterImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1084

#1085 NOJIRA: moved to new Gradle API to reduce configuration time. Marked …
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1085

#1086 DMP-2358 Fixing authorisation check for dailylists POST
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/DailyListEntityTest.java
  src/main/java/uk/gov/hmcts/darts/dailylist/controller/DailyListController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1086

#1088 DMP-2353 Hearing transcriptions count fix
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearingTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1088

#1091 Align template to match language in other templates
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1091

#1070 DMP-2045 ARM Response folder clean up - Synchronous
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/enums/UserStateEnum.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/resources/db/reference/modernised_darts_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplDeleteResponseBlobsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmServiceImplTest.java
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidLineFile/InvalidLineFile.json
  src/test/resources/Tests/arm/component/ArmResponseFilesProcessSingleElement/testInvalidLineFileJson/InvalidLineFile.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1070

#1089 DMP-2359 - Fix permissions lookup for advanced search
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/UserIdentity.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserRolesCourthousesEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/compositeid/UserRoleCourthouseId.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserRolesCourthousesRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/base/ReadOnlyRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1089

#1072 DMP-2078 - throw error when multiple retention policies
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CaseRetentionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionPolicyTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelper.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/helper/RetentionDateHelperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1072

#1078 DMP-2264 - add is_available to /audio/hearings/{hearing_id}/audios re…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1078

#1093 DMP-2026 Always set last modified datetime on case/hearing entities
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/base/EventHandlerBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1093

#1056 Dmp 2139 arm clean up job asynchronous
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmResponseFilesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/CleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArchiveConstants.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArmResponseFilesHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_273__cleanup_arm_response_files_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CleanupArmResponseFilesAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/testutils/data/ExternalLocationTypeTestData.java
  src/test/java/uk/gov/hmcts/darts/testutils/data/ExternalObjectDirectoryTestData.java
  src/test/java/uk/gov/hmcts/darts/testutils/data/ObjectRecordStatusTestData.java
  src/test/java/uk/gov/hmcts/darts/testutils/data/UserAccountTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1056

#1050 dmp 1840 apply retention
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/CaseRetentionStatus.java
  src/main/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionProcessor.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_274__add_task_apply_retention.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ApplyRetentionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1050

#1105 DMP-2235 Alter EOD sequence
  src/main/resources/db/migration/common/V1_275__alter_eod_sequence.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1105

#1062 DMP-1890-download-annotation-document
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/annotation/component/UserAuthorisedToDownloadAnnotationValidator.java
  src/main/java/uk/gov/hmcts/darts/annotation/controller/AnnotationController.java
  src/main/java/uk/gov/hmcts/darts/annotation/controller/dto/AnnotationResponseDto.java
  src/main/java/uk/gov/hmcts/darts/annotation/errors/AnnotationApiError.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/AnnotationService.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/resources/openapi/annotations.yaml
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationDownloadServiceTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1062

#1106 DMP-2370 fixed bug with processing inbound transcription documents
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EntityIdOnly.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElement.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1106

#1108 Remove exception thrown when ATS fails - prevent pod restart
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1108

#1096 Origin/dmp 2282 implement get admin courthouses courthouse
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RegionEntity.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/mapper/AdminCourthouseToCourthouseEntityMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1096

#1112 dmp-2236 : Upload Transcript to Unstructured Datastore
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/DataManagementConstants.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1112

#1113 Schedule notifications to invalid addresses in database
  src/integrationTest/java/uk/gov/hmcts/darts/notification/service/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/notification/service/impl/NotificationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1113

#1114 fix to handle multiple eod Entities.
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationDownloadServiceTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1114

#1117 DMP-2379- add some missing admin roles
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPreviewIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1117

#1118 DMP-2394 Removed `@Transactional` from some tests, and fixed producti…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceHandleKedaInvocationForMediaRequestsTest.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1118

#1119 DMP-1890 Annotation document download error fix
  src/main/java/uk/gov/hmcts/darts/annotation/errors/AnnotationApiError.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationServiceImpl.java
  src/main/resources/openapi/annotations.yaml
  src/test/java/uk/gov/hmcts/darts/annotation/AnnotationDownloadServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1119

#1124 DMP-2282_DMP-2296_ implement_get_admin_courthouses_and_extar_parameters
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RegionEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1124

#1121 DMP-2248 Remove GET /audio-requests endpoint
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1121

#1109 DMP-656 Download Transcript: Fetch from Unstructured or DETS or ARM
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/BlobContainerDownloadable.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DownloadableExternalObjectDirectories.java
  src/main/java/uk/gov/hmcts/darts/dets/config/DetsDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionController.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/DownloadTranscriptResponse.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloader.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloaderTest.java
Labels: no-changes, ns:darts-modernisation, prd:darts, rel:darts-api-pr-1109

#1127 DMP-2419 - allow node register to auto create the courtroom
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/resources/openapi/noderegistration.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1127

#1129 Dmp 2281 admin get regions
  src/functionalTest/java/uk/gov/hmcts/darts/courthouses/CourthousesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/RegionStub.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RegionRepository.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/mapper/AdminRegionToRegionEntityMapper.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1129

#1132 enable pg-stat-statements
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-api-pr-1132

#1140 DMP-656 Add missing @Service annotation needed to support DETS BlobContainerDownloadable
  src/main/java/uk/gov/hmcts/darts/dets/api/impl/DetsDataManagementApiImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1140

#1122 DMP-782: Implement streams for first phase of add audio flow to impro…
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/FileContentChecksum.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/DataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/api/impl/DataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/FileContentChecksumTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1122

#1125 DMP-2280_Update_GET_courthouses_to_include_region_id
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourthouseEntity.java
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1125

#1138 Dmp 1910 download annotation facade
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/controller/AnnotationController.java
  src/main/java/uk/gov/hmcts/darts/annotation/controller/dto/AnnotationResponseDto.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagement.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDownloadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagementTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDownloadServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1138

#1143 Improve logging for DAR PC notifications that are ignored
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1143

#1144 DMP-2459: Allow existing user descriptions to be removed
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PatchUserIntTest.java
  src/main/resources/openapi/usermanagement.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1144

#1134 DMP-1986: Added logging when audio uploaded
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/AudioLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1134

#1141 dmp 1919 change to single query
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/data/MediaTestData.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElement.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1141

#1145 Using standard error patterns for courthouse not found
  src/main/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesController.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/resources/openapi/courthouse.yaml
  src/test/java/uk/gov/hmcts/darts/courthouse/controller/CourthousesControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1145

#1137 DMP-2003: Added logging when get cases requested by dar pc
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/CasesLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/CasesLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1137

#1149 Added logging before deleteing blob data
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1149

#1131 dmp-1072 annotation upload audit
  src/main/java/uk/gov/hmcts/darts/annotation/persistence/AnnotationPersistenceService.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/resources/db/migration/common/V1_230__update_audit_activity_standing_data.sql
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1131

#1150 DMP-2181 Update ARM Manifest file fields - Transcription, Annotation …
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-1150
