Repository hmcts/darts-api, pull requests merged in 2024-10, with the labels that each got.

#2074 DMP-4010 - Added support for dynamic AutomatedTask enablement based on Spring SpEL
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2074

#2058 DMP-3985 - Last modified date not being set when events updated
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/EventProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2058

#2081 DMP-4011 - Remove Transactional from AbstractLockableAutomatedTask
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2081

#2082 DMP-2630 DETS to ARM
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectStateRecordRepository.java
  src/test/java/uk/gov/hmcts/darts/dets/service/impl/DetsManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2082

#2083 Dmp 4001 reenable integration tests
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2083

#2084 DMP-3963 - add media Linked case entries to addAudio, and make async
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/AudioAsyncHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioUploadService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2084

#2069 DMP-3989 - Introduce and use manual deletion feature flag
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidator.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/HiddenReasonsService.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidator.java
  src/main/resources/application.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplApproveMarkedForDeletionTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplAdminMediaSearchTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/HiddenReasonsServiceTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/no-changes, rel:darts-api-pr-2069

#2062 DMP-3830 : Stream cleanup and test file cleanup
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dets/DetsDataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/annotation/AnnotationGetTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/FileOperationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagement.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/dets/service/impl/DetsApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloader.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagementTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/component/FileBasedDownloadResponseMetaDataTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloaderTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/FileStore.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2062

#2073 DMP-2925: Automated task to delete data marked for manual deletion
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectAdminActionRepository.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ManualDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/ManualDeletionProcessor.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_385__manual_deletion_automated_task.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ManualDeletionAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2073

#2085 Fixed issue with transactions
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2085

#2088 DMP-3984 Add more logging
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2088

#2089 fix Flakey tests
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2089

#2087 Fixed issue with functional tests on master
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2087

#2091 Updated Readme to contain environment variable export
  README.md
  bin/secrets-stg-environment.sh
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2091

#2055 DMP-2652: Add Dets to Arm task
  src/main/java/uk/gov/hmcts/darts/arm/service/DetsToArmProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DetsToArmAutomatedTask.java
  src/main/resources/db/migration/common/V1_386__detsToArmTask.sql
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/DetsToArmAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2055

#2090 DMP-3994 - Hide ManualDeletion task if disabled by feature flag
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2090

#2092 DMP-4023 - dailylist - default hearing to 9am if not provided
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioAsyncService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioAsyncServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioAsyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
  src/test/resources/Tests/dailylist/DailyListUpdaterTest/handlesNoTimeMarkingNote.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2092

#2098 DMP-4027 RCC - When 'ApplyRetention' automated task runs, update the Court Case ret_conf_updated_ts field
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2098

#2063 dmp-3976: Update ARM Updatemetadata Retention Attributes
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/integrationTest/resources/tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/metadata/RecordMetadata.java
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateAnnotationArchiveRecord/invalid_properties_path/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateCaseArchiveRecord/invalid_properties_path/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateMediaArchiveRecord/invalid_properties_path/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/all_properties/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/expectedResponse.a360
  src/test/resources/Tests/arm/service/testGenerateTranscriptionArchiveRecord/invalid_properties_path/expectedResponse.a360
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2063

#2093 DMP-2626 moved ARM process response flow to a template class t…
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2093

#2116 Adding redirect_uri query param to handleoauthcode endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/HandleOAuthCodeIntTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/AzureDao.java
  src/main/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/AuthenticationService.java
  src/main/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationExternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/controller/impl/AuthenticationInternalUserControllerTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/dao/impl/AzureDaoImplTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/service/impl/AuthenticationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2116

#2109 Update CODEOWNERS
  .github/CODEOWNERS
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2109

#2101 DMP-4014 - Remove relation from hearing_event_ae table when event is …
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/EventProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventStub.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2101

#2108 Dev environment improvements
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
  Jenkinsfile_CNP
  bin/ci/db-pr-base-to-pr.sh
  bin/db-stg-to-pr-base.sh
  bin/db-stg-to-pr.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  src/main/resources/db/migration/dev/afterMigrate.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2108

#2123 Restoring dev DB data from PR base schema
  Jenkinsfile_CNP
  src/main/resources/application-dev.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2123

#2102 DMP-4030 - Transcription workflows endpoint errors when legacy commen…
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2102

#2147 Update values.stg.template.yaml
  charts/darts-api/Chart.yaml
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2147

#2140 DMP-4070 - Fix to stop AddAudio wrapping CoreObjectService in a trans…
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioNoSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourthouseStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2140

#2152 Removing DARTS portal dev deployment
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2152

#2138 NO-JIRA: performance fix around loading of eod statuses from DB
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2138

#2141 Add platops back as codeowners
  .github/CODEOWNERS
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2141

#2148 PR/Dev environment enhancements
  Jenkinsfile_CNP
  bin/ci/db-stg-to-pr.sh
  bin/ci/run-flyway-pr-db.sh
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2148

#2131 dmp-4067: Viq Header not inserted if TRIM is not performed
  README.md
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileZipGeneratorHelperImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundFileZipGeneratorHelperImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2131

#2163 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2163

#2126 DMP-3978: Return Batch Size in GET /automated-tasks/{task_id}
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTasksByIdTest.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTasksMapper.java
  src/main/resources/openapi/tasks.yaml
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTasksMapperTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2126

#2132 DMP-3979 Add Update Batch Size in PATCH /automated-tasks/{task_id}
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminPatchAutomatedTaskTest.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/resources/openapi/tasks.yaml
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2132

#2114 DMP-3996 - Manual obfuscation of event text endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/common/service/DataAnonymisationService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2114, ready_for_test

#2125 DMP-3967 : Add some tests to verify event to hearings results
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerCourtLogsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2125

#2145 DMP-4068 Changes to transcriber SQL queries
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2145

#2159 Re-introducing DARTS portal deployment on dev
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2159

#2124 DMP-3647
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/CleanupArmResponseFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/main/resources/db/migration/common/V1_387__add_arm_rpo_pending_ors.sql
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArmResponseFilesProcessSingleElementImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/BatchCleanupArmResponseFilesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/CleanupArmResponseFilesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2124

#2172 DMP-3996: Common Error Codes
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidator.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidator.java
  src/main/resources/openapi/common.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/MediaHideOrShowValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/validator/TranscriptionDocumentHideOrShowValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2172

#2122 DMP-4055 Retention Attributes Not Applied to Media, Annotations, Transcriptions, and Case Document
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentForRetentionDateBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/GenerateCaseDocumentProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentSingleCaseProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentSingleCaseProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2122

#2171 DMP-4088: Requester receiving approval email for their own requests
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerRequestTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/AuthorisationApi.java
  src/main/java/uk/gov/hmcts/darts/authorisation/api/impl/AuthorisationApiImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotifications.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionNotificationsTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2171

#2115 Dmp 3915 include anonymisation details
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventsSearchGivensBuilder.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapper.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapperTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2115

#2142 DMP-4075: Case retention should be calculated from 7 days from case closure and not 7 days from retention event receipt
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionProcessorImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2142

#2097 DMP-1715 - Job to link cases to audio through events
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/validation/EventIdValidator.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_388__audio_linking_task.sql
  src/test/java/uk/gov/hmcts/darts/common/entity/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2097, ready_for_test

#2168 DMP-4076: Debug logging for investigation of duplicates in media_link…
  src/main/java/uk/gov/hmcts/darts/common/helper/MediaLinkedCaseHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2168

#2194 Add files via upload
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2194

#2200 DMP-3807: Update automated task names
  src/main/resources/db/migration/common/V1_393__update_task_names.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2200

#2170 DMP-3830 fixes to the new auto-cleanup mechanism
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ArmServiceStubImpl.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DataManagementServiceStubImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2170, enable_darts_portal

#2113 DMP-2626: implemented DETS to ARM pull response processing flow
  src/functionalTest/java/uk/gov/hmcts/darts/dets/DetsDataManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/ExternalDataStoreDeleterTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/files/BatchInputUploadFileFilenameProcessor.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/dets/api/DetsDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/dets/config/DetsDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDetsToArmResponseAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2113

#2188 DMP-4107 Enhance auditing for admin task automation activities
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminRunAutomatedTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminUpdateAutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditApi.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditService.java
  src/main/java/uk/gov/hmcts/darts/audit/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2188

#2208 DMP-4190 - Populate security_group.dm_group_s_object_id column in flyway
  src/main/resources/db/migration/common/V1_397__process_arm_rpo_pending_automated_task.sql
  src/main/resources/db/migration/common/V1_398__populate_security_group.dm_group_s_object_id.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2208

#2206 DMP-4184: Apply v72.1 datamodel updates
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/resources/db/migration/common/V1_399__v72_1.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2206

#2195 Dmp 3805 armrpo endpoint integration layer prerequisite
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg-environment.sh
  bin/secrets-stg.sh
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
  docker-compose-local.yml
  src/functionalTest/resources/application-functionalTest.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmApiClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmTokenClient.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmApiAuthenticationUrlConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmApiConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmApiUrlPathConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/AbstractMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/ArmAsyncSearchResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/ExtendedProductionsByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/IndexesByMatterIdResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/MasterIndexFieldByRecordClassSchemaResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/ProfileEntitlementResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/RecordManagementMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/ResponseStatusMessage.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/StorageAccountResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmRpoService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiAddAsyncSearchTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiCreateExportBasedOnSearchResultsTableTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiDownloadProductionTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedProductionsByMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedSearchesByMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetIndexesByMatterIdTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetMasterIndexFieldByRecordClassSchemaTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProductionOutputFilesTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProfileEntitlementsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetRecordManagementMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetStorageAccountsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiRemoveProductionTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiSaveBackgroundSearchTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2195

#2164 DMP-4104: When the ManualDeletion automated task runs deletedBy and deletedTimestamp should be set
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2164

#2185 Upgrade postgres to v16 and skus to v5
  infrastructure/main.tf
  infrastructure/test.tfvars
  infrastructure/variables.tf
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2185

#2139 DMP-4017: Move cleanup is_current event task to async process on event receipt
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DartsEventNullHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/EventProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/AutomatedTaskProcessorFactory.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/AutomatedTaskProcessorFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/AsyncEventsConfig.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/main/java/uk/gov/hmcts/darts/event/service/CleanupCurrentFlagEventProcessor.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImpl.java
  src/main/java/uk/gov/hmcts/darts/task/api/AutomatedTaskName.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CleanupCurrentEventTask.java
  src/main/resources/db/migration/common/V1_401__drop_CleanupCurrentEvent.sql
  src/main/resources/db/migration/common/disabled.V1_384__additional_indexes_for_performance.sql
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/CleanCurrentEventTaskTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2139

#2190 DMP-4061: InboundToUnstructured - Introduce Batch
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/InboundToUnstructuredProcessorIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessor.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/InboundToUnstructuredAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/util/AsyncUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/common/V1_402__inbound_to_unstructured_batch_size.sql
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, ready_for_test, rel:darts-api-pr-2190

#2209 Dmp 4132 armrpo integrate get record management matter
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmRpoClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArpRpoApiGetRecordManagementMatterIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/AbstractMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ArmAsyncSearchResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedProductionsByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/IndexesByMatterIdResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/MasterIndexFieldByRecordClassSchemaResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ProfileEntitlementResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/RecordManagementMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ResponseStatusMessage.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/StorageAccountResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmRpoConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/ArmRpoException.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/ArmRpoHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/model/rpo/StorageAccountResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/helper/ArmRpoHelperMocks.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetRecordManagementMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2209

#2216 DMP-4203: Performance - slow running sql in AddAudio
  src/main/java/uk/gov/hmcts/darts/common/repository/CourtLogEventRepository.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, ready_for_test, rel:darts-api-pr-2216

#2220 Improvements to optional DARTS portal instance on dev env
  Jenkinsfile_CNP
  README.md
  bin/ci/process-pr-labels.sh
  charts-dev-overrides/README.md
  charts-dev-overrides/enable_darts_portal/Chart.yaml
  charts-dev-overrides/enable_darts_portal/values.dev.template.yaml
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-2220
