Repository hmcts/darts-api, pull requests merged in 2025-01, with the labels that each got.

#2401 Fix transactional on CaseExpiryDeletionAutomatedTask
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2401

#2371 DMP-4467: Stage 1 - Performance Testing - Automated Tasks - UnstructuredToArmDataStore - Running a batch size of 50,000 you cannot see error until transaction completed or failed
  src/integrationTest/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/ArchiveRecordFileGenerator.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/FileOperationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2371

#2406 DMP-4370: Amend case search validation
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2406

#2411 DMP-4455: DEV ONLY: Sonar no longer reporting DARTS API code coverage
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2411

#2408 DMP-4385 Filter out 0 second audios from ATS processing
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2408

#2419 DMP-4167 Update audio notification templates with courthouse
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/main/java/uk/gov/hmcts/darts/notification/helper/GovNotifyRequestHelper.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2419

#2414 Rename daily list housekeeping job
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/task/config/DailyListHousekeepingAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/DailyListHousekeepingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/DailyListHouseKeepingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2414

#2405 DMP-4324: Dev Only: Resolve Flaky Embedded Wiremock Integration Tests
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmRpoClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBaseWithWiremock.java
  src/integrationTest/resources/application-intTest.yaml
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/CreateExportBasedOnSearchResultsTable.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/SaveBackgroundSearch.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/addAsyncSearch.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/downloadProduction.csv
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getExtendedProductionsByMatter.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getExtendedSearchesByMatter.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getIndexesByMatterId.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getMasterIndexFieldByRecordClassSchema.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getProductionOutputFiles.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getProfileEntitlements.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getRecordManagementMatter.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getStorageAccounts.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/removeProduction.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/CreateExportBasedOnSearchResultsTable.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/CreateExportBasedOnSearchResultsTable_searchStillRunning.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/SaveBackgroundSearch.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/addAsyncSearch.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/downloadProduction.csv
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getExtendedProductionsByMatter.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getExtendedSearchesByMatter.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getIndexesByMatterId.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getMasterIndexFieldByRecordClassSchema.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getProductionOutputFiles.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getProfileEntitlements.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getRecordManagementMatter.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/getStorageAccounts.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/removeProduction.json
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/MasterIndexFieldByRecordClassSchemaResponse.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2405

#2426 DMP-4539 ARM RPO - Token Endpoint changes
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmTokenClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmTokenClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/config/ArmClientConfig.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/ArmTokenRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/client/ArmClientConfigTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2426

#2413 DMP-4538 ARM RPO - Endpoint changes
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmRpoClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetExtendedSearchesByMatterIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getExtendedSearchesByMatter.json
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/ArmRpoGetExtendedSearchesByMatterIdException.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/TriggerArmRpoSearchService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/config/ProcessE2EArmRpoPendingAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedSearchesByMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2413

#2427 DMP-4566: Flyway updates for migration tranche 2
  src/main/resources/db/migration/postgres/V1_423_DMP-4566.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2427

#2425 DMP-4499: Performance Testing - Automated Tasks - DetsToArm - SELECT darts takes 4.5 minutes
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchPushProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/main/java/uk/gov/hmcts/darts/task/config/DetsToArmPushAutomatedTaskConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
  src/test/java/uk/gov/hmcts/darts/util/LogUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2425

#2429 Fixed flyway issues
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/resources/db/migration/common/V1_425__DMP-4566.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2429

#2409 DMP-4366: Add and adjust admin portal API validations
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/audiorequests.yaml
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/courthouse.yaml
  src/main/resources/openapi/event.yaml
  src/main/resources/openapi/hearings.yaml
  src/main/resources/openapi/transcriptions.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2409

#2433 DMP-4571 Reading of IU File failure
  bin/generateBatchArmResponses.sh
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/ValidResponses/InputUploadFile.rsp
  src/main/java/uk/gov/hmcts/darts/arm/config/ArmDataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseInputUploadFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts

#2435 DMP-4577: Flyway changes to courthouse_region_ae and security_group
  src/main/resources/db/migration/common/V1_426__assign_region_to_burnley_mags.sql
  src/main/resources/db/migration/common/V1_427__unset_object_id_for_moj_language_shop.sql
Labels: ns:darts-modernisation, prd:darts

#2421 Dmp 4547 armrpo modify extended searches by matter response search item
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetExtendedSearchesByMatterIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/getExtendedSearchesByMatter.json
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ExtendedSearchesByMatterResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/TriggerArmRpoSearchServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedSearchesByMatterTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2421

#2436 Query optimisations
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
Labels: ns:darts-modernisation, prd:darts

#2382 DMP-3534: Retention Confidence
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/RetentionConfidenceCategoryMapperRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/RetentionConfidenceCategoryMapperEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/RetentionConfidenceCategoryMapperRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/retention/api/RetentionApi.java
  src/main/java/uk/gov/hmcts/darts/retention/api/impl/RetentionApiImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceScoreEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionPostService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/RetentionService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPostServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/PersistableFactory.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/RetentionConfidenceCategoryMapperTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestRetentionConfidenceCategoryMapperEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2382

#2415 DMP-4318: fix default sorting on tables on DARTS portal
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerGetYourAudioV2IntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CasesControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceGetEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetAnnotationsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerGetByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerSearchGetTest/casesSearchGetEndpoint/expectedResponseMultiple.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreAutomaticTranscripts.json
  src/integrationTest/resources/tests/hearings/HearingsControllerGetTranscriptsTest/ignoreHiddenTranscripts.json
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetAnnotationsResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetEventsResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2415

#2442 Dmp 4579 change arm endpoint spec
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmRpoClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoGetProfileEntitlementsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArpRpoApiGetRecordManagementMatterIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/ProcessE2EArmRpoPendingAutomatedTaskIntTest.java
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/expectedResponse/addAsyncSearchRM.json
  src/integrationTest/resources/tests/arm/client/ArmRpoClientIntTest/mocks/addAsyncSearchRM.json
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmRpoClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/ArmTokenClient.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/CreateExportBasedOnSearchResultsTableRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/EmptyRpoRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProfileEntitlementsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetRecordManagementMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts

#2444 Added log message for ARM retention event date calculation
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
Labels: ns:darts-modernisation, prd:darts

#2412 DMP-4316: fix default sorting on tables on admin portal
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAdminGetTransformedMediaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerPostAdminMediasSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventControllerGetEventMappingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerAdminPostTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AdminGetAutomatedTaskServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/MigratedTranscriptionSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/ModernisedTranscriptionSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/integrationTest/resources/tests/cases/CaseControllerAdminSearchTest/testOk/expectedResponseMultiple.json
  src/integrationTest/resources/tests/retention/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/arm/exception/UnableToReadArmFileException.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/PostAdminMediasSearchHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/RetentionPolicyTypeServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/component/impl/UserSearchQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventSearchMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/RetentionGetPolicyTypesServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2412

#2443 DMP-4593 : Missing OSR is failing the ARM's Missing IU Response flow
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts

#2454 Minor update to log message in StopAndCloseHandler
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
Labels: ns:darts-modernisation, prd:darts

#2455 DMP-4612 Envers auditing for node register and arm automated task table
  src/main/java/uk/gov/hmcts/darts/common/entity/ArmAutomatedTaskEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/NodeRegisterEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/NodeRegisterRepository.java
  src/main/resources/db/migration/common/V1_428__node_register_arm_automated_task_auditing.sql
Labels: ns:darts-modernisation, prd:darts

#2452 DMP-4381: Automatically update createdBy and lastModifiedBy when persisting entities to the database
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImplTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/UserIdentity.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/common/entity/listener/UserAuditListener.java
Labels: ns:darts-modernisation, prd:darts

#2468 DMP-4602 : DETS SAS token issue
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DataManagementAzureClientFactoryImpl.java
Labels: ns:darts-modernisation, prd:darts

#2451 Dmp 4471 ARM IU file cleanup set status
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/resources/tests/arm/service/ArmBatchResponseFilesProcessorTest/InvalidResponses/InputUploadFile.rsp
  src/main/java/uk/gov/hmcts/darts/arm/model/record/armresponse/ArmResponseInputUploadFileRecord.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
Labels: ns:darts-modernisation, prd:darts

#2473 DMP-4602 : DETS SAS token issue
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/DataManagementAzureClientFactoryImpl.java
Labels: ns:darts-modernisation, prd:darts

#2463 DMP-4619: Courthouse search results look to default sorting to last updated date
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseServiceImpl.java
Labels: ns:darts-modernisation, prd:darts

#2475 DMP-4593 : Missing-Arm-Response-File
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
Labels: ns:darts-modernisation, prd:darts

#2461 DMP-4616: Flyway Updates : Add new role MEDIA_IN_PERPETUITY
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityGroupFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/usermanagement/SecurityRoleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/SecurityRoleRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleControllerIntTest.java
  src/integrationTest/resources/tests/usermanagement/SecurityGroupControllerGetTest/securityGroupsGetEndpointAllReturned.json
  src/main/resources/db/migration/common/V1_431__added_role_MEDIA_IN_PERPETUITY.sql
Labels: ns:darts-modernisation, prd:darts

#2453 DMP-4368: Automated tasks locks can be released twice (Once at max lock once when execution finishes)
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/util/AsyncUtil.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/util/LogUtil.java
Labels: ns:darts-modernisation, prd:darts

#2474 DMP-4615: (Dev only) Create an initial snapshot into the envers tables for the tables that modernised darts (not legacy) is responsible for
  src/main/resources/db/migration/common/V1_433__initital_audit_snapshot.sql
Labels: ns:darts-modernisation, prd:darts

#2445 DMP-4467: Performance Testing - Automated Tasks - UnstructuredToArmDataStore - Running a batch size of 50,000 you cannot see error until transaction completed or failed
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/config/UnstructuredToArmProcessorConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/util/AsyncUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts

#2467 DMP-4607: Eliminate magic numbers in favour of RetentionConfidenceScoreEnum
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AnnotationStubComposable.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/api/ArmDataManagementApi.java
  src/main/java/uk/gov/hmcts/darts/arm/api/impl/ArmDataManagementApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmApiService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ConfidenceAware.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestAnnotationDocumentEntity.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestCaseDocumentEntity.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestMediaEntity.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestTranscriptionDocumentEntity.java
Labels: ns:darts-modernisation, prd:darts

#2460 DMP-4358: Add buffer time in CaseExpiryDeletion and AssociatedObjectDataExpiryDeletion
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts

#2483 DMP-4655 ARM RPO Amendments
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/BaseRpoResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ResponseStatusMessage.java
  src/main/java/uk/gov/hmcts/darts/arm/enums/ArmRpoResponseStatusCode.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/ArmRpoHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/util/ArmRpoUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiAddAsyncSearchTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiCreateExportBasedOnSearchResultsTableTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetExtendedSearchesByMatterTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetIndexesByMatterIdTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProductionOutputFilesTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiGetProfileEntitlementsTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiRemoveProductionTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/util/ArmRpoUtilTest.java
Labels: ns:darts-modernisation, prd:darts

#2491 DMP-4175 Update transcript notifications
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts

#2482 DMP-4380: Dev Only: Flakey tests - DataIntegrityViolationException: could not execute statement [ERROR: update or delete on table "media" violates foreign key constraint "eod_media_fk" on table "external_object_directory"
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/TestUtils.java
Labels: ns:darts-modernisation, prd:darts

#2477 DMP-4590: ATS request is failing when the audio is only in ARM
  src/main/java/uk/gov/hmcts/darts/audio/helper/UnstructuredDataHelper.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/component/impl/FileBasedDownloadResponseMetaData.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2477

#2499 DMP-4682: Associated object automated task should add 100 years when comparing event date with retain until date
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2499

#2497 DMP-4596: Update daily list isExisting checks to convert JSON to DB format instead of DB to JSON
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/resources/tests/dailyListProcessorTest/dailyListMissingForename.json
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/CitizenNameMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
  src/main/java/uk/gov/hmcts/darts/dailylist/util/CitizenNameComparator.java
  src/main/java/uk/gov/hmcts/darts/task/runner/IsNamedEntity.java
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/CitizenMapperTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdaterTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/util/CitizenNameComparatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2497

#2504 DMP-4680: Fix Maple House courthouse data
  src/main/resources/db/migration/common/V1_434__fix_maple_house_courthouse_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2504

#2493 Data model 72.3 and 72.4
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/object_state_record.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2493

#2512 DMP-4694 PUSH to ARM Fails with error INGESTION_READ_ERROR
  src/functionalTest/java/uk/gov/hmcts/darts/dets/DetsDataManagementServiceTest.java
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2512

#2516 DMP-4570: Flyway scripts for v72.3 and v72.4 datamodel
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ArmRpoExecutionDetailEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CaseOverflowEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ExternalObjectDirectoryProcessDetailEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectRetrievalQueueEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/UserAccountEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseOverflowRepository.java
  src/main/resources/db/migration/common/V1_435__v72_3_v72_4_schema.sql
  src/main/resources/db/migration/common/V1_436__v7_object_state_record.sql
  src/main/resources/db/migration/common/V1_437__v17_retention.sql
  src/main/resources/db/migration/common/V1_438__v11_indexes.sql
  src/main/resources/db/migration/h2/V1_437_1__v17_retention_primary_keys.sql
  src/main/resources/db/migration/postgres/V1_437_1__v17_retention_primary_keys.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2516

#2518 DMP-4168 Fixing logic for archived audio email
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EodRepositoryHasMediaNotBeenCopiedFromInboundStorageIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioRequestBeingProcessedFromArchiveQueryResultRowMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/model/AudioRequestBeingProcessedFromArchiveQueryResult.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2518

#2509 DMP-4678: Correct and update the 42 NULL entries for security groups -> Courthouses
  src/main/resources/db/migration/postgres/V1_439__added_courthouse_securitygroup_links.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2509, Priority

#2505 DMP-4679: Make corrections to the courthouse data
  src/main/resources/db/migration/common/V1_440__corrections_to_courthouse_data.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2505, Priority

#2520 DMP-4703: Correct the security groups for the Wolverhampton courts
  src/main/resources/db/migration/common/V1_441__update_security_groups_for_wolverhampton.sql
Labels: ns:darts-modernisation, prd:darts, Priority, rel:darts-api-pr-2520

#2500 DMP-4651: ATS - Hearing Screen Wrong Message shown on the portal
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2500

#2498 Dmp 4667 armrpo get extended productions by matter change polling logic
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiCreateExportBasedOnSearchResultsTableIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArpRpoApiGetMasterIndexFieldByRecordClassSchemaIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApi.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/config/ArmRpoPollAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoPollingAutomatedTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiCreateExportBasedOnSearchResultsTableCheckTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/ArmRpoApiCreateExportBasedOnSearchResultsTableTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoPollAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2498
