Repository hmcts/darts-api, pull requests merged in 2025-07, with the labels that each got.

#2998 DMP-4486
  infrastructure/test.tfvars
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2998

#2969 DMP-5140: When running the OutboundAudioDeleterProcessorImpl the Job fails due to LazyLoad errors
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessorSingleElement.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorSingleElementImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2969

#2944 DMP-3393 Get node registrations endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerGetNodeRegistrationDevicesTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerPostRegisterDevicesTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/main/java/uk/gov/hmcts/darts/common/entity/NodeRegisterEntity.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationController.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/NodeRegistrationService.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
  src/main/resources/openapi/hearings.yaml
  src/main/resources/openapi/noderegistration.yaml
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/noderegistration/service/impl/NodeRegistrationServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/NodeRegisterTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/PersistableFactory.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestNodeRegisterEntity.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2944, enable_darts_portal:pr-2091

#2974 DMP-5076 Use retention date from latest retention record if multiple exist
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-2974

#2978 DMP-5153 : update retention confidence score
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminGetCaseByIdIntTest.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceScoreEnum.java
  src/main/resources/db/migration/common/V1_478__update_retention_confidence_score.sql
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-2978

#2980 DMP-4998: Deviation between legacy and modernised when only channel 4 audio is available
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, enable_darts_portal, rel:darts-api-pr-2980
