Repository hmcts/darts-api, pull requests merged in 2025-04, with the labels that each got.

#2747 DMP-4605: Performance Testing - Automated Tasks - InboundTounstructured - Select darts takes 2.3 minutes
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/resources/db/migration/postgres/V1_469__new_indexs_for_InboundToUnstructuredDataStore.sql
  src/test/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, flyway, rel:darts-api-pr-2747

#2767 DMP-4865: Performance Testing - Soap Peak Test - JWT - "Too Many Requests"
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2767

#2751 Add files via upload
  src/main/resources/db/reference/object_state_record.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2751

#2756 DMP-4876: (Dev only) Use cas_id for linked case tables
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/EventLinkedCaseStub.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2756

#2762 DMP-4953 Your transcript screen can show the same transcript multiple times
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediaVersionsByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsLegacyIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2762

#2771 DMP-4805 DEV ONLY: Add functional tests to verify blob is deleted on failure for addAudio
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/arm/ArmServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/audio/AudioFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dailylist/DailylistFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/dets/DetsDataManagementServiceTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/CourtlogsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/EventMapperFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/events/PostEventsFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2771

#2770 DMP-4795: DataIntegrityViolationException when deleting duplicate events
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/casedocument/mapper/CourtCaseDocumentMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventLinkedCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventEntityToCourtLogMapper.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundFileZipGeneratorHelperImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/helper/MediaLinkedCaseHelperTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestEventEntity.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestHearingEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2770

#2779 DMP-4795: DataIntegrityViolationException when deleting duplicate events
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2779

#2773 DMP-4975: Handle transcription documents marked for deletion linked through case_transcription_ae
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2773

#2761 DMP-4944: Work out correct index sequences for all environments
  src/main/resources/db/migration/postgres/V1_470__sequences.sql
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2761

#2785 DMP-4892 DMP-4989 Fixing handheld audio courtroom check for audio linking
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2785

#2772 DMP-4961: Add case_id to admin transcription search responses
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionDocumentResult.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionSearchResult.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2772

#2754 DMP-4796: ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl failing as No retentions found.
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/retention/service/ApplyRetentionCaseAssociatedObjectsProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2754

#2778 DMP-4959: Previously is_current=true audio is not set to false when new version added
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/util/MediaEntityTreeNodeImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/Tree.java
  src/main/java/uk/gov/hmcts/darts/common/util/TreeNode.java
  src/test/java/uk/gov/hmcts/darts/common/util/TreeTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-2778

#2789 DMP-4759 Improve AssociatedObjectDataExpiryDeletionAutomatedTask
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskITest.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2789

#2800 DMP-4832: Validate "isHidden: null" in hide media request
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerAdminPostMediaIntTest.java
  src/main/resources/openapi/audio.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2800

#2797 DMP-4911 Include batch size into automated tasks logs
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceCommon.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredAnnotationTranscriptionDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/UnstructuredAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundTranscriptionAnnotationDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/AutomatedTaskLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AutomatedTaskLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/CaseExpiryDeletionAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ExternalDataStoreDeleterAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmRpoPendingAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/ManualDeletionProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionsProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AutomatedTaskLoggerServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2797

#2809 DMP-4759 Improve AssociatedObjectDataExpiryDeletionAutomatedTask
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/AssociatedObjectDataExpiryDeleterService.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/AssociatedObjectDataExpiryDeleterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/impl/AssociatedObjectDataExpiryDeleterServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AssociatedObjectDataExpiryDeletionAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2809

#2804 DMP-4915: update backend to make is_data_anonymised and event_status available on the FE eventID screen
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2804

#2799 DMP-2787: Remove the "request_type" from the endpoints: POST /audio-requests/PLAYBACK and POST /audio-requests/DOWNLOAD. Also remove the endpoint POST /audio-requests.
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2799

#2803 DMP-4912: Remove courthouse field from advanced search payload
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTempTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceAdvancedSearchTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesSearchRequest.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/darts/cases/util/RequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2803

#2811 DMP-5000 ARM Reconciliation Amendment
  src/integrationTest/java/uk/gov/hmcts/darts/arm/component/StubbedArmRpoDownloadProductionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/StubbedArmRpoDownloadProductionImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/AddAsyncSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/CreateExportBasedOnSearchResultsTableServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/DownloadProductionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetExtendedProductionsByMatterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetExtendedSearchesByMatterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetIndexesByMatterIdServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetMasterIndexFieldByRecordClassSchemaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetProductionOutputFilesServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetProfileEntitlementsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetRecordManagementMatterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetStorageAccountsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/RemoveProductionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/SaveBackgroundSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/StubbedArmRpoDownloadProductionImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestExternalObjectDirectoryEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2811

#2810 DMP-4993: Hide completed transcripts where is current = FALSE from user and admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/TransientObjectDirectoryServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2810

#2817 DMP-5001 increase cores on darts-api
  infrastructure/prod.tfvars
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2817

#2798 DMP-4946: Paginate the court log tab
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestBase.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/util/pagination/PaginatedList.java
  src/main/java/uk/gov/hmcts/darts/util/pagination/PaginationDto.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/common.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/pagination/PaginatedListTest.java
  src/test/java/uk/gov/hmcts/darts/util/pagination/PaginationDtoTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/PaginationTestSupport.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2798

#2819 Updated file size request limits
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2819

#2784 DMP-4986: Unable to search a Current version of the audio
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPatchAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioUploadService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/common/service/HearingCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/HearingCommonServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/MediaEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/HearingServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2784

#2820 DMP-4985 (Dev only) Tech Debt: Several methods in EventRepository are exclusively used in integration tests. These should be reviewed / removed
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2820

#2816 DMP-4900 Change the Approved on date on various screens so that it displays the first value for this field
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsLegacyIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/util/TranscriptionUtil.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2816

#2818 DMP-3380: Get transcripts for case on admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointOneObjectReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/casesSearchGetEndpointTwoObjectsReturned.json
  src/integrationTest/resources/tests/cases/CaseControllerGetCaseTranscriptsTest/ignoreAutomaticTranscripts.json
  src/main/java/uk/gov/hmcts/darts/common/mapper/TranscriptionMapper.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/TranscriptionMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2818

#2821 DMP-4979: Investigate why we have 20 set as the sequence number in DB
  src/main/resources/db/migration/postgres/V1_471__sequence_cache.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2821

#2828 DMP-4633 Review and resolve sonar issues with the master branch
  src/test/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/DownloadProductionServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2828

#2827 DMP-4633 Review and resolve sonar issues with the master branch
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/arm/exception/UnableToReadArmFileException.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
  src/main/java/uk/gov/hmcts/darts/notification/entity/NotificationEntity.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2827

#2837 DMP-5016 Remove 90 day limit on transcription queries
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetTranscriberTranscriptsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2837

#2844 Remove notification schedule from chart
  charts/darts-api/Chart.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2844

#2838 DMP-3379: Get events for case on admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/resources/Tests/cases/CaseServiceTest/testGetEventsByCase/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2838

#2841 DMP-4996: Add changes to current media version to standard auditing
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPatchAdminMediasByIdIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/resources/db/migration/common/V1_472__new_audit_activity.sql
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2841

#2839 DMP-4987: (Dev only) Check user ID when validating transcription requester approver is not the current user
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2839

#2845 Remove event obfuscation feature flag
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2845

#2840 DMP-4831: restrict super user retrieving "hidden" completed transcripts on admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2840

#2855 Fixed sonar
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2855

#2857 DMP-3397 Handle audio versions when no current version exists
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapper.java
  src/test/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2857

#2856 DMP-5045: Can we point 2 services at a single Dev environment
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
  .idea/codeStyles/Project.xml
  Jenkinsfile_CNP
  charts/darts-api/values.dev.template.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal:pr-1983, rel:darts-api-pr-2856

#2850 DMP-3411: Implement endpoint to make event current version
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPatchAdminEventByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/EventEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/main/java/uk/gov/hmcts/darts/common/service/HearingCommonService.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/HearingCommonServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/resources/db/migration/common/V1_475__new_audit_activity.sql
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/common/entity/EventEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/HearingEntityTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/HearingServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestEventEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2850
