Repository hmcts/darts-api, pull requests merged in 2025-06, with the labels that each got.

#2963 DMP-5131 Improve DAR PC notify log
  src/main/java/uk/gov/hmcts/darts/event/helper/DarNotifyAsyncHelper.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2963

#2979 DMP-5154 : reset failed ARM objects
  src/main/resources/db/reference/manual-data-fixes/003_reset_failed_arm_objects/reset_failed_arm_objects.sql
  src/main/resources/db/reference/manual-data-fixes/README.md
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2979

#2976 DMP-5147 Adding more transcript document allowed file/content types
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2976, enable_darts_portal:pr-2082

#2988 Revert "Temporarily disable automerge of Renovate"
  .github/renovate.json
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2988

#2992 DMP-5105 Dev only - update integration test data setup for transcriptions linked by hearing_transcription_ae and case_transcription_ae
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionWorkflowRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImplIntTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2992
