Repository hmcts/darts-api, pull requests merged in 2025-05, with the labels that each got.

#2851 DMP-4971: ENHANCEMENT: Limit the number of handheld audio files the ATS can process in one go
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioTransformationService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingsServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/openapi/audiorequests.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingServiceTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2851

#2867 Order by update
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionEntity.java
  src/main/java/uk/gov/hmcts/darts/util/DataUtil.java
  src/test/java/uk/gov/hmcts/darts/util/DataUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2867

#2854 DMP-4963 (DEV ONLY) Add 'Your transcriptions' tests for migrated data
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsPersistence.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsLegacyIntTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2854

#2870 Update test.tfvars
  infrastructure/test.tfvars
Labels: stg/add-or-update, prod/add-or-update

#2858 DMP-5046: Make logs go into AppInsights for Dev environment
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  src/functionalTest/java/uk/gov/hmcts/JenkinsTest.java
  src/integrationTest/java/uk/gov/hmcts/JenkinsTest.java
  src/smokeTest/java/uk/gov/hmcts/JenkinsTest.java
  src/test/java/uk/gov/hmcts/JenkinsTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-2858

#2866 DMP-4972 Remove redundant event code
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CaseServiceGetEventsTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/util/pagination/PaginatedList.java
  src/main/java/uk/gov/hmcts/darts/util/pagination/PaginationDto.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/resources/Tests/cases/CaseServiceTest/testGetEventsByCase/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2866

#2876 DMP-5057: Add hearing ID to admin transcript search results response
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionDocumentResult.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionSearchResult.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2876

#2880 DMP-5078 : Changing logs from debug to info in ATS flow
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2880

#2883 DMP-5053 Fix your transcriptions query to find transcriptions only associated to hearing
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerGetYourTranscriptsLegacyIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/YourTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2883

#2869 DMP-4633 Review and resolve sonar issues with the master branch
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/TransformedMediaHelper.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2869, enable_darts_portal:pr-2015

#2881 Improve Daily List log message
  src/main/java/uk/gov/hmcts/darts/dailylist/service/impl/DailyListUpdater.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2881

#2879 Added gateway support
  Jenkinsfile_CNP
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, enable_darts_gateway, rel:darts-api-pr-2879

#2885 DMP-5094 Hearing transcription count fix for legacy automated transcriptions
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearingTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2885

#2891 DMP-5100-ARMNeedsToResetInputUploadProcessedTs
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2891

#2886 Fixing transcription documents search when tra.requested_by is null
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2886

#2890 DMP-5101: Remove link to case_transcription_ae table for modernised transcriptions
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2890

#2896 DMP-5055 Fixing openApi spec publishing
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2896

#2898 DMP-5064 Allowing SUPER_USER to get security group by id
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/GetSecurityGroupIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/enums/SecurityRoleEnum.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2898

#2899 Updated transaction logic for Keda Pods
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/MediaRequestService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRequestRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2899

#2849 DMP-3378 Get audios for case in admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminCasesIdAudiosGetIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/CourtCaseStub.java
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByAudioIdAsc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByAudioIdDesc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByChannelAsc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByChannelDesc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByCourtroomAsc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByCourtroomDesc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByEndTimeAsc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByEndTimeDesc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByStartTimeAsc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationByStartTimeDesc/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminCasesIdAudiosGetTest/testPaginationDefault/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/service/AdminCaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/AdminCaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/AdminCaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/pagination/PaginationDtoTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2849

#2889 DMP-5092: Legacy Transcription associated through hearing and not case and is "Approved" or "With Transcriber" in workflow not being returned to Transcribers
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/AuthorisationStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImplIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2889

#2897 DMP-5100 ARM Replay needs to reset input_upload_processed_ts
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoReplayServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoReplayServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoReplayServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoReplayAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2897

#2905 DMP-5106 Exclude non-current events from case events endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2905

#2904 DMP-5082: Transformed media with changed owner is not accessible to the new owner
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerUpdateTransformedMediaLastAccessedTimestampIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/GivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestBase.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2904

#2906 DMP-5092: Legacy Transcription performance fix
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2906

#2892 DMP-5063: Transcription marked for deletion ts genrated with is marked for deletion flag false
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2892

#2901 DMP-3411: Implement endpoint to make event current version
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPatchAdminEventByIdIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2901

#2908 DMP-5061: Need to return user email address in /userstate endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/controller/AuthorisationControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/service/AuthorisationServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/model/UserState.java
  src/main/java/uk/gov/hmcts/darts/authorisation/service/impl/AuthorisationServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2908

#2907 DMP-5086: ApplyRetentionCaseAssociatedObjects -> Fails if media_linked_case has a cas_id that is null
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2907

#2910 DMP-4910 Always set case closed date on case closed event
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StopAndCloseHandler.java
  src/main/java/uk/gov/hmcts/darts/retention/service/CloseCaseWithRetentionService.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/CloseCaseWithRetentionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/CloseCaseWithRetentionServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2910

#2914 DMP-5063 Fixes for requesting transcription document deletion
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminPostTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
Labels: ns:darts-modernisation, prd:darts

#2923 Audio linking threshold env variable
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2923

#2915 DMP-3378 Get audios for case in admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRepositoryIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2915

#2925 Audio linking threshold env variable
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2925

#2927 DMP-5114: AbstractArmBatchProcessResponseFiles using 5000 instead of provided batch size
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2927

#2920 Dmp 5054 amend admin portal search default sort order
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerPostAdminMediasSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/HearingRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/PostAdminMediasSearchHelper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdminCasesSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/HearingRepository.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, enable_darts_portal, rel:darts-api-pr-2920

#2921 DMP-5111: When running the OutboundAudioDeleterProcessorImpl the Job fails due to LazyLoad errors
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestBase.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessorSingleElement.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorSingleElementImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2921

#2922 Cleaned up error logging
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioRequestsApiError.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiError.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiTrait.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseApiError.java
  src/main/java/uk/gov/hmcts/darts/dailylist/exception/DailyListError.java
  src/main/java/uk/gov/hmcts/darts/event/exception/EventError.java
  src/main/java/uk/gov/hmcts/darts/retention/exception/RetentionApiError.java
  src/main/java/uk/gov/hmcts/darts/task/exception/AutomatedTaskApiError.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/exception/TranscriptionApiError.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/exception/UserManagementError.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2922

#2955 up max connections in prod
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/darts/datamanagement/DataManagementServiceFunctionalTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2955

#2954 Added import block for 'darts-api-test' PostgreSQL server
  infrastructure/import.tf
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2954
