Repository hmcts/darts-api, pull requests merged in 2025-08, with the labels that each got.

#3050 Flakey Test
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerGetNodeRegistrationDevicesTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3050

#2982 DMP-5162 Better differentiate between 403 and 401 errors
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestDownloadIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsControllerAddAudioRequestPlaybackIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authentication/controller/impl/TokenValidatorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/authorisation/controller/AuthorisationControllerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetCaseHearingsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetEventByCaseIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/controller/CourthouseApiTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsGetEventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerDownloadTranscriptIntTest.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/UserIdentityImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/exception/AuthorisationError.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiTrait.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/resources/openapi/common.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2982

#3067 Increment azure/azapi version in tf
  infrastructure/providers.tf
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-3067

#2993 DMP-5175 Update case closed details after manual override
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StopAndCloseHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/CloseCaseWithRetentionServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, stg/add-or-update, prod/add-or-update, enable_darts_portal, rel:darts-api-pr-2993

#2999 DMP-5174 Update sentencing events for standard handler
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerPostEventsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/StandardEventHandlerTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/event/config/EventConfig.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/StandardEventHandler.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-2999

#3008 DMP-4062 Ensure flyway scripts for indexes in Test env are applied in all other environments
  src/main/resources/db/migration/common/V1_480__drop_unused_indexes.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3008

#3026 Retention Service PR
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentForRetentionDateBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/AnnotationDocumentRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/GenerateCaseDocumentProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/AnnotationDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/config/ArmRetentionEventDateCalculatorAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/util/AsyncUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/entity/CourtCaseEntityTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/AsyncUtilTestSupport.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, enable_darts_portal, rel:darts-api-pr-3026

#3069 Revert "DMP-5199 InboundToUnstructuredAutomatedTask - Rethrow Interrupted Exception"
  src/main/java/uk/gov/hmcts/darts/audio/helper/UnstructuredDataHelper.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3069
