Repository hmcts/darts-api, pull requests merged in 2025-02, with the labels that each got.

#2489 DMP-4597: Performance Testing - Automated Tasks - InboundTounstructured - Internal timeout is set to 60 minutes
  src/main/java/uk/gov/hmcts/darts/arm/config/UnstructuredToArmProcessorConfiguration.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/task/config/AbstractAsyncAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/AsyncTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/DetsToArmPushAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/InboundToUnstructuredAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/util/AsyncUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2489

#2514 DMP-4380: Dev Only: Flakey tests - DataIntegrityViolationException: could not execute statement [ERROR: update or delete on table "media" violates foreign key constraint "eod_media_fk" on table "external_object_directory"
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2514

#2523 DMP-4175 Change s in Sign in to lower case in email
  src/functionalTest/java/uk/gov/hmcts/darts/notification/service/GovNotifyServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/notification/helper/TemplateIdHelperTest.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2523

#2526 Updated docker images to use hmcts cache
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2526

#2530 DMP-4707: Flyway changes - Adding storage_id for 5 tables for Data Migration
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1OkJsonAndXml/expectedResponse2.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_duplicate_ok/expectedResponse.json
  src/integrationTest/resources/tests/dailylist/DailyListServiceTest/insert1_ok/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectRetrievalQueueEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/resources/db/migration/common/V1_443__adding_storage_id_to_some_tables.sql
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2530

#2515 DMP-4698: Set the value of "1217075880007d00" for dm_group_s_object_id attribute for the group_name of "moj_language_shop" in the security_group table.
  src/main/resources/db/migration/common/V1_445__updated_security_groups.sql
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2515, flyway

#2508 DMP-4610: Config changes to automated jobs need to have audit entry added
  src/main/java/uk/gov/hmcts/darts/audit/api/AuditActivity.java
  src/main/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImpl.java
  src/main/resources/db/migration/common/V1_446__new_audit_activity.sql
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2508, flyway

#2533 DMP-4709: Corrections to retention_policy_type_heritage_mapping records for dmc_rps_retention_policy
  src/main/resources/db/migration/common/V1_447__updated_retention_policy_type_heritage_mapping.sql
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, Priority, flyway, rel:darts-api-pr-2533

#2513 DMP-4671: Add audio file size log entry for Dynatrace
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidator.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/AudioLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/util/DurationUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/util/DurationUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2513

#2522 Add DETS migration script
  bin/migrate-dets.sh
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2522

#2496 DMP-4663: Add audit_user to revInfo table for Envers auditing
  src/integrationTest/java/uk/gov/hmcts/darts/audit/service/AuditorRevisionListenerIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/DartsDatabaseStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerGetUsersIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerSearchIntTest.java
  src/main/java/uk/gov/hmcts/darts/audit/model/RevisionInfo.java
  src/main/java/uk/gov/hmcts/darts/audit/service/AuditorRevisionListener.java
  src/test/java/uk/gov/hmcts/darts/audit/service/AuditorRevisionListenerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2496

#2541 DMP-4701: Performance Testing - Add Audio - Test Harness - Post /audios/metadata - could not execute statement [ERROR: duplicate key value violates unique constraint "hearing_media_ae_pk"
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2541

#2524 Update main.tf
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2524

#2517 DMP-4674: Log courthouse not found error on addAudio for Dyntrace
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidator.java
  src/main/java/uk/gov/hmcts/darts/log/service/AudioLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/EventLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2517

#2543 DMP-4712 Remove redundant audio config
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetaDataNoSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataMediaLinkIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioNoSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioWithMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAttachTranscriptIntTest.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/audio/config/AudioConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioFileValidator.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidator.java
  src/main/resources/application.yaml
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2543

#2527 Dmp 4705 fix issue with manifest file getting set when push failed
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchPushProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/arm/model/batch/ArmBatchItem.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2527

#2549 DMP-4640: Make all RestControllers conditional on property
  src/main/java/uk/gov/hmcts/darts/common/controller/HiddenReasonsController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityGroupController.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/controller/SecurityRoleController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2549

#2536 DMP-4653 Fixing courtroom name unique constraint violation
  src/integrationTest/java/uk/gov/hmcts/darts/noderegistration/controller/NodeRegistrationControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/service/RetrieveCoreObjectService.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2536

#2551 DMP-4658 ARM RPO - Add max retry logic for RPO polling
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiCreateExportBasedOnSearchResultsTableIntTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2551

#2553 DMP-4701: Performance Testing - Add Audio - Test Harness - Post /audios/metadata - could not execute statement [ERROR: duplicate key value violates unique constraint "hearing_media_ae_pk"
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/HearingEntity.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2553

#2557 Added some temp logging to support defect investigations
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2557

#2544 Align RevisionInfo entity to schema, such that ddl validation passes
  src/main/java/uk/gov/hmcts/darts/audit/model/RevisionInfo.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2544

#2562 DMP-4613-IntegrationTests
  src/integrationTest/java/uk/gov/hmcts/darts/arm/rpo/ArmRpoApiGetExtendedProductionsByMatterIntTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2562

#2558 Data model 72.5
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/object_state_record.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2558

#2556 DMP-4711: DMP226 - Incorrect Transcription Company Assigned to Courthouse
  src/main/resources/db/migration/common/V1_449__update_name_of_transcription_company.sql
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2556

#2566 DMP-4728: Apply version v72.5 datamodel updates
  src/main/java/uk/gov/hmcts/darts/common/entity/AnnotationDocumentEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/DailyListEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/MediaEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectRetrievalQueueEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectStateRecordEntity.java
  src/main/java/uk/gov/hmcts/darts/common/entity/TranscriptionDocumentEntity.java
  src/main/resources/db/migration/common/V1_450__v72_5.sql
  src/main/resources/db/migration/common/V1_451__v8_object_state_record.sql
  src/main/resources/db/migration/common/V1_452__v18_retention.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2566

#2573 DMP-4723: Disable global_access for rasso_users security group
  src/main/resources/db/migration/common/V1_453__rasso_disable_global_access.sql
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2573

#2511 Dmp 4646 implement batching arm rpo polling automated task
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRpoServiceIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmRpoPollService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmRpoService.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/task/config/ArmRpoPollAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoPollingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/ArmRpoPollAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2511

#2561 DMP-4316: fix default sorting on tables on admin portal
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMarkedForDeletionIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2561

#2565 DMP-4735 Correct cron expression for tasks that run multiple times per second
  src/main/resources/db/migration/common/V1_455__update_automated_tasks_cron_expressions.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2565

#2582 DMP-4757: Pagination of advanced search
  build.gradle
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelperPaginated.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AdvancedSearchResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/model/AdvancedSearchRequestPaginated.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesSearchRequestPaginated.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/IsPageable.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/PaginatedList.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/PaginationUtil.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/SortMethod.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2582

#2584 Keep alive test controller
  build.gradle
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/common/controller/KeepAliveTestController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2584

#2579 DMP-4726 DetsToArm - Update OSR field file_size_ingest_to_arm
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2579

#2589 SQL formatting updates and clarity added to comment
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2589

#2585 DMP-4438 Remove POST /audios endpoint
  ModernisedDarts.postman_collection.json
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataMediaLinkIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioNoSessionIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioWithMetadataIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AudioUploadService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioFileValidator.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/AddAudioMetaDataValidator.java
  src/main/java/uk/gov/hmcts/darts/common/util/FileContentChecksum.java
  src/main/resources/openapi/audio.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/FileContentChecksumTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2585

#2583 DMP-4723: Assign rasso_users security group to all existing courthouses
  src/main/resources/db/migration/h2/V1_456__assign_all_courthouses_to_rasso_users.sql
  src/main/resources/db/migration/postgres/V1_456__assign_all_courthouses_to_rasso_users.sql
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2583

#2580 DMP-4065 UnstructuredToArmDataStore leaves record stuck in 'Arm Ingestion'
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/UnstructuredToArmBatchProcessorIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/common/enums/ObjectRecordStatusEnum.java
  src/main/java/uk/gov/hmcts/darts/common/util/EodHelper.java
  src/main/resources/db/migration/common/V1_457__insert_object_record_status.sql
  src/test/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/EodHelperMocks.java
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2580

#2575 DMP-4743 Improve automated task - GenerateCaseDocument
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/test/java/uk/gov/hmcts/darts/casedocument/service/impl/GenerateCaseDocumentBatchProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2575

#2588 DMP-3409 Build admin get event versions endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerAdminGetVersionsByEventIdTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/event/mapper/EventMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2588

#2594 DMP-4771 Only return current transcription records on admin search
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/MigratedTranscriptionSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/ModernisedTranscriptionSearchGivensBuilder.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2594

#2574 DMP-4742 Improve automated task - CloseOldUnfinishedTranscriptions
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/InboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionsProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2574

#2596 DMP-4604 Allowing RCJ appeals user to download transformed media
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2596

#2595 DMP-3187 Send DAR PC notification for closed cases
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/DarStartHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2595

#2567 DMP-4605: Performance Testing - Automated Tasks - InboundTounstructured - Select darts takes 2.3 minutes
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElement.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorSingleElementImpl.java
  src/test/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorSingleElementImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2567

#2532 DMP-4586: Add multithreading to AbstractArmBatchProcessResponseFiles
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/impl/ArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/rpo/ArmAsyncSearchResponse.java
  src/main/java/uk/gov/hmcts/darts/arm/service/ArmResponseFilesProcessor.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/ProcessArmResponseFilesAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/config/ProcessDetsToArmResponseAutomatedTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessArmResponseFilesAutomatedTask.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/ProcessDetsToArmResponseAutomatedTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/LogUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2532

#2593 Dmp 4724 update case document generation logic
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentForRetentionDateBatchProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/casedocument/service/GenerateCaseDocumentProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2593

#2613 DMP-4633 Review and resolve sonar issues with the master branch
  src/test/java/uk/gov/hmcts/darts/cases/mapper/EventMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImplTest.java
  src/test/java/uk/gov/hmcts/darts/event/mapper/EventMapperTest.java
Labels: ns:darts-modernisation, prd:darts

#2617 DMP-4784 Migrated transcription search fix
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/given/MigratedTranscriptionSearchGivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/MigratedTranscriptionSearchTest.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2617

#2616 DMP-4788 UpdateMetadata Fails Due to Missing Retention Score
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2616

#2605 DMP-4717: Update Retention Confidence Categories
  src/integrationTest/java/uk/gov/hmcts/darts/cases/service/CloseOldCasesProcessorTest.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceCategoryEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/enums/RetentionConfidenceReasonEnum.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImpl.java
  src/main/resources/db/migration/common/V1_459__update_retention_confidence_categories.sql
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CloseOldCasesProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2605

#2615 Dmp 4635 fix pmd issues
  build.gradle
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/ArmResponseUploadFileMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/BatchCleanupArmResponseFilesServiceCommon.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ExternalObjectDirectoryServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/AudioMessageDigestImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/SystemCommandExecutorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/PostAdminMediasSearchHelper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/AdminMarkedForDeletionMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/ObjectActionMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/validation/SearchMediaValidator.java
  src/main/java/uk/gov/hmcts/darts/common/datamanagement/api/DataManagementFacadeImpl.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/FileStore.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/MediaIdMatcher.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/ParameterisedTestDataGenerator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2615

#2624 DMP-4117 Removing findFileSize query and usages
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2624

#2626 DMP-4801 Fixing DAR notification for closed cases
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2626

#2632 postgres-params
  infrastructure/main.tf
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2632

#2581 Safety improvements to migrate-dets.sh
  bin/migrate-dets.sh
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2581

#2618 Remove temp sonar exclusions
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2618

#2619 Removed temp log
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2619

#2631 Rolled out Advanced search paginated response
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/helper/AdvancedSearchRequestHelperPaginated.java
  src/main/java/uk/gov/hmcts/darts/cases/model/AdvancedSearchRequestPaginated.java
  src/main/java/uk/gov/hmcts/darts/cases/model/GetCasesSearchRequestPaginated.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/IsPageable.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/PaginatedList.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/PaginationUtil.java
  src/main/java/uk/gov/hmcts/darts/common/util/paginated/SortMethod.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2631

#2639 DMP-4809 Correcting hearing transcription count
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearing.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/HearingEntityToCaseHearingTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/mapper/GetHearingResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2639

#2633 DMP-4783: Completed Transcript tab search on hearing date does not always return expected results
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionDocumentStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/TranscriptionStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerAdminGetTranscriptionIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionDocumentRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionDocumentResult.java
  src/main/resources/openapi/transcriptions.yaml
  src/test/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2633

#2634 DMP-4635 Fix any outstanding PMD issues following DMP-4633
  build.gradle
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/PostAdminMediasSearchHelper.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/AudioLoggerServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/component/impl/TranscriberTranscriptsQueryImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/SecurityGroupUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/auditing/UserAccountUpdateAuditActivityProvider.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/UserAccountMapper.java
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
  src/main/java/uk/gov/hmcts/darts/util/DataUtil.java
  src/main/java/uk/gov/hmcts/darts/util/DateTimeHelper.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/AnnotationDocumentTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/AnnotationTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ArmRpoExecutionDetailTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ArmRpoStateEntityTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ArmRpoStatusEntityTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseDocumentTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseManagementRetentionTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseRetentionTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CaseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CommonTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourthouseTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/CourtroomTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/DailyListTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/DefenceTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/DefendantTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventHandlerTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ExternalLocationTypeTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ExternalObjectDirectoryTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/HearingTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/JudgeTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaRequestTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/MediaTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ObjectAdminActionTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ObjectHiddenReasonTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ObjectRecordStatusTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ProsecutorTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/RegionTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/RetentionConfidenceCategoryMapperTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/RetentionPolicyTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/RetentionPolicyTypeTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/SecurityGroupTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/SecurityRoleTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionCommentTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionDocumentTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TranscriptionWorkflowTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/TransformedMediaTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/UserAccountTestData.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2634

#2655 Updating helm charts
  charts/darts-api/Chart.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2655

#2645 DMP-4737: Improve automated task - ApplyRetentionCaseAssociatedObjects
  src/integrationTest/java/uk/gov/hmcts/darts/cases/repository/CaseRepositoryIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2645
