Repository hmcts/darts-api, pull requests merged in 2025-03, with the labels that each got.

#2625 Dmp 3375 implement admin endpoint get case details by
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminGetCaseByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerGetAnnotationsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/integrationTest/resources/tests/cases/CaseControllerAdminGetCaseByIdTest/testCaseClosed/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminGetCaseByIdTest/testCaseOpen/expectedResponse.json
  src/integrationTest/resources/tests/cases/CaseControllerAdminGetCaseByIdTest/testIsAnonymised/expectedResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/CaseService.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/mapper/CasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/util/CommonTestDataUtil.java
  src/test/resources/Tests/cases/CasesMapperTest/testMapToAdminSingleCaseResponseItem/expectedResponseClosed.json
  src/test/resources/Tests/cases/CasesMapperTest/testMapToAdminSingleCaseResponseItem/expectedResponseOpenDefaultRestrictions.json
  src/test/resources/Tests/cases/CasesMapperTest/testMapToAdminSingleCaseResponseItem/expectedResponseOpenNullRestrictions.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2625

#2642 DMP-4813 Change update metadata from OffsetDateTime to String so date is in expected format
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmApiClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelperIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmApiServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/ArmRetentionEventDateProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/AudioTransformationServiceGivenBuilder.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/AutomatedTaskServiceTest.java
  src/main/java/uk/gov/hmcts/darts/arm/client/model/UpdateMetadataRequest.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/ArmRetentionEventDateCalculatorImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArchiveRecordServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmApiServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/retention/mapper/CaseRetentionConfidenceReasonMapperTest.java
  src/test/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionCaseAssociatedObjectsSingleCaseProcessorImplTest.java
  src/test/resources/Tests/arm/component/ArchiveAnnotationMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveCaseMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveMediaMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/ArchiveTranscriptionMetadata/expectedResponse.a360
  src/test/resources/Tests/arm/component/expectedResponseMultipleArchiveRecords.a360
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/ExternalObjectDirectoryTestData.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/builder/TestExternalObjectDirectoryEntity.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2642

#2623 DMP-4583: ARM Performance Analysis
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/main/java/uk/gov/hmcts/darts/arm/helper/DataStoreToArmHelper.java
  src/main/java/uk/gov/hmcts/darts/common/config/SimpleCacheConfig.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalLocationTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectRecordStatusRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2623

#2644 DMP-4736: Improve automated task - ApplyRetention
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/retention/service/impl/ApplyRetentionProcessorImpl.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2644

#2643 DMP-4817: Refactor admin transcription request search to align with completed transcription search
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/model/TranscriptionSearchResult.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionSearchQuery.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionSearchQueryImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/AdminTranscriptionServiceTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2643

#2650 DMP-3945: Whitespaces could cause duplicate cases to be created
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/test/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2650

#2646 DMP-4739: Improve automated task - ArmRetentionEventDateCalculator
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalObjectDirectoryRepository.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRetentionEventDateProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2646

#2671 Removed cache for ORS and ELT
  src/main/java/uk/gov/hmcts/darts/common/repository/ExternalLocationTypeRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectRecordStatusRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2671

#2641 DMP-3396: Implement get audio versions endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetAdminMediaVersionsByIdIntTest.java
  src/integrationTest/resources/tests/audio/AudioControllerGetAdminMediaVersionsByIdIntTest/expectedResponseNoVersions.json
  src/integrationTest/resources/tests/audio/AudioControllerGetAdminMediaVersionsByIdIntTest/expectedResponseTypical.json
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AdminMediaService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/common.yaml
  src/test/java/uk/gov/hmcts/darts/audio/mapper/GetAdminMediaResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2641

#2662 DMP-4803: OutboundAudioDeleter task throws LazyInitializationException
  .gitignore
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2662

#2672 Intellij code style update to conform with newer version 2024.3.4 CE
  .idea/codeStyles/Project.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2672

#2674 DMP-4753: Handle NEWCASE event type
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2674

#2673 Dmp 4635 fix pmd issues3
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/arm/component/impl/StubbedArmRpoDownloadProductionImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/CreateExportBasedOnSearchResultsTableServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/UnstructuredToArmBatchProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioRequestsController.java
  src/main/java/uk/gov/hmcts/darts/common/util/CourtValidationUtils.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/InboundToUnstructuredProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventMappingServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/task/config/AsyncTaskConfig.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/InboundToUnstructuredProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2673

#2649 DMP-4828: Event version screen should only show events for related case
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerAdminGetVersionsByEventIdTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/EventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2649

#2677 DMP-4872: Automatic transcript from legacy with no document shown in case transcripts
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CasesControllerGetTranscriptsTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerGetTranscriptsTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TranscriptionRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2677

#2656 DMP-3397: Implement endpoint to make audio current version
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerPatchAdminMediasByIdIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRepositoryIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/exception/AudioApiError.java
  src/main/java/uk/gov/hmcts/darts/audio/service/AdminMediaService.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/CanReturnExternalObjectDirectoryEntities.java
  src/main/resources/openapi/audio.yaml
  src/main/resources/openapi/common.yaml
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/common/service/impl/DataAnonymisationServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2656

#2669 DMP-4750: DEV ONLY: Flaky test? processDetsToArm_emptyList
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AudioUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTaskTest.java
  src/test/java/uk/gov/hmcts/darts/util/LogUtil.java
  src/test/java/uk/gov/hmcts/darts/util/WaitUtil.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2669

#2688 DMP-4753: Handle NEWCASE event type
  src/functionalTest/java/uk/gov/hmcts/darts/cases/CasesFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerTest.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2688

#2692 Updated IntegrationBaseWithWiremock to use a Dynamic Startup Delay
  src/integrationTest/java/uk/gov/hmcts/darts/arm/client/ArmTokenClientIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBaseWithWiremock.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2692

#2686 DMP-3400: Implement admin get audios for hearing endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/service/impl/AudioOperationServiceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerAdminGetHearingAudiosIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/PostgresIntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestBase.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/AdminHearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/HearingsService.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImpl.java
  src/main/resources/openapi/hearings.yaml
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/AdminHearingServiceTest.java
  src/test/java/uk/gov/hmcts/darts/hearings/service/impl/HearingsServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2686

#2699 Dmp 4633 resolve sonar issues5
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationDataManagementTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/validators/HearingExistsValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/CreateExportBasedOnSearchResultsTableCheckServiceTest.java
  src/test/java/uk/gov/hmcts/darts/arm/rpo/impl/CreateExportBasedOnSearchResultsTableServiceTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/RemoveAdminActionComponentTest.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/impl/SimpleInMemorySessionCacheImplTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/validation/CourthousePatchValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/datamanagement/service/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AdminAutomatedTasksServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserEmailValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2699

#2627 DMP-4633 Review and resolve sonar issues with the master branch
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/ExternalObjectDirectoryStub.java
  src/main/java/uk/gov/hmcts/darts/admin/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/annotation/builders/AnnotationDocumentBuilder.java
  src/main/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/BaseArchiveRecordMapper.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImpl.java
  src/main/java/uk/gov/hmcts/darts/authentication/controller/impl/AbstractUserController.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/java/uk/gov/hmcts/darts/courthouse/exception/CourthouseCodeNotMatchException.java
  src/main/java/uk/gov/hmcts/darts/datamanagement/service/impl/DataManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/annotation/builders/AnnotationDocumentBuilderTest.java
  src/test/java/uk/gov/hmcts/darts/annotation/service/impl/AnnotationUploadTest.java
  src/test/java/uk/gov/hmcts/darts/arm/component/impl/ArchiveRecordFileGeneratorImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImplPropertyTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/AnnotationArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/BaseArchiveRecordMapperTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImplPropertyTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/CaseArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImplPropertyTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/MediaArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImplPropertyTest.java
  src/test/java/uk/gov/hmcts/darts/arm/mapper/impl/TranscriptionArchiveRecordMapperImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/UnstructuredToArmBatchProcessorTest.java
  src/test/java/uk/gov/hmcts/darts/courthouse/service/CourthouseServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/service/impl/mapper/DailyListRequestMapperTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/LockServiceImplTest.java
  src/test/resources/Tests/arm/properties/all_properties/invalid-record.properties
  src/test/resources/Tests/arm/properties/all_properties/media-record.properties
  src/test/resources/Tests/arm/service/ArmBatchResponseFilesProcessorTest/InvalidLineFile.rsp
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2627

#2705 v72_6 changes
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_schema.sql
  src/main/resources/db/reference/object_state_record.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2705

#2703 DMP-4868: Apply v72.6 datamodel updates
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchPushProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesIntTest.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/entity/ObjectStateRecordEntity.java
  src/main/java/uk/gov/hmcts/darts/common/repository/ObjectStateRecordRepository.java
  src/main/resources/db/migration/common/V1_461__v12_indexes.sql
  src/main/resources/db/migration/common/V1_462__v10_object_state_record.sql
  src/main/resources/db/migration/common/V1_463__v20_retention.sql
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2703

#2685 Dmp 4873 performance testing investigate azcopy command line parameter options
  charts/darts-api/Chart.yaml
  charts/darts-api/values.dev.template.yaml
  charts/darts-api/values.stg.template.yaml
  charts/darts-api/values.yaml
  src/main/java/uk/gov/hmcts/darts/datamanagement/config/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/util/AzureCopyUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2685

#2707 Update main.tf
  infrastructure/main.tf
  infrastructure/prod.tfvars
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2707

#2708 DMP-4870-DMP-4871 Fixing for audio marked for deletion endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerGetMarkedForDeletionIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2708

#2689 DMP-4633 Review and resolve sonar issues with the master branch
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AudioTransformationServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/authorisation/component/impl/AuthorisationImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/CasesAnnotationMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/service/impl/CaseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/common/service/impl/HiddenReasonsService.java
  src/main/java/uk/gov/hmcts/darts/courthouse/service/impl/CourthouseServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/CleanupCurrentFlagEventProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/hearings/mapper/GetAnnotationsResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/mapper/TranscriptionResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/mapper/impl/SecurityGroupCourthouseMapper.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/SecurityGroupServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/DuplicateRequestDetectorTest.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionDownloaderTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2689

#2704 Dmp 4633 resolve sonar issues6
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/AddAsyncSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/CreateExportBasedOnSearchResultsTableServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetExtendedProductionsByMatterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetExtendedSearchesByMatterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetIndexesByMatterIdServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetMasterIndexFieldByRecordClassSchemaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetRecordManagementMatterServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/GetStorageAccountsServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/rpo/impl/RemoveProductionServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFiles.java
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/ArmRpoPollServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/authorisation/util/AuthorisationUnitOfWorkTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventDispatcherImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/service/impl/AutomatedTaskServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2704

#2706 New Court (Harrow CC at Hendon MC) to be added to Modernised DARTS
  src/main/resources/db/migration/postgres/V1_464__insert_legacy_courthouse_harrow_cc_at_hendon_mc.sql
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, flyway, rel:darts-api-pr-2706

#2709 DMP-4237 Admin portal only display current events on search
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/AdminEventsSearchGivensBuilder.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/testCommon/java/uk/gov/hmcts/darts/test/common/data/EventTestData.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, rel:darts-api-pr-2709

#2720 Removing keep-alive test code
  src/main/java/uk/gov/hmcts/darts/common/config/security/SecurityConfig.java
  src/main/java/uk/gov/hmcts/darts/common/controller/KeepAliveTestController.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, rel:darts-api-pr-2720

#2694 DMP-4753: Handle NEWCASE event type
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/resources/openapi/cases.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2694

#2725 DMP-4873-AddAzcopyCommandLineParameterLog
  src/main/java/uk/gov/hmcts/darts/util/AzureCopyUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2725

#2718 DMP-4906 New Courthouse (Burnley CC Sitting at Burnley MC) to be added to modernised DARTS
  src/main/resources/db/migration/postgres/V1_466__insert_legacy_courthouse_burnley_cc_sitting_at_burnley_mc.sql
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2718

#2728 DMP-4236 Admin search for media should only return current media
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerPostAdminMediasSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskITest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/MediaStubComposable.java
  src/main/java/uk/gov/hmcts/darts/audio/helper/PostAdminMediasSearchHelper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2728

#2687 DMP-4826: Return error when search does not meet minimum characters to prevent performance impacting queries from running
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/util/RequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2687

#2726 DMP-4908 Only link current media in audio linking task
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/MediaRepositoryIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/MediaRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2726

#2733 Tidy up exception log formatting
  src/integrationTest/java/uk/gov/hmcts/darts/retention/controller/RetentionControllerPostRetentionIntTest.java
  src/main/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/retentions.yaml
  src/test/java/uk/gov/hmcts/darts/audio/component/impl/OutboundFileProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/util/RequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2733

#2670 DMP-4858: ObjectOptimisticLockingFailureException when triggering findAndRemoveDuplicateEvent
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/CaseManagementRetentionRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/CaseManagementRetentionRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventLinkedCaseRepository.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/RemoveDuplicateEventsProcessorImplTest.java
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2670

#2724 DMP-4882: Improve test run times in DARTS API pipeline
  Jenkinsfile_CNP
  gradle.properties
  src/functionalTest/java/uk/gov/hmcts/darts/AccessTokenClient.java
  src/functionalTest/java/uk/gov/hmcts/darts/FunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/DetsToArmBatchPushProcessorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/arm/service/impl/AbstractArmBatchProcessResponseFilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/AudioControllerAddAudioMetadataIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/dailylist/service/DailyListProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/TestBase.java
  src/integrationTest/resources/application-intTest.yaml
  src/main/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImpl.java
  src/test/java/uk/gov/hmcts/darts/arm/service/ArmBatchProcessResponseFilesImplTest.java
  src/test/java/uk/gov/hmcts/darts/arm/service/impl/DetsToArmBatchPushProcessorImplTest.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AbstractLockableAutomatedTaskTest.java
  src/test/resources/junit-platform.properties
Labels: ns:darts-modernisation, prd:darts, stg/add-or-update, prod/add-or-update, rel:darts-api-pr-2724

#2745 v13 of modernised indexes, to remove 7 duplicates
  src/main/resources/db/reference/modernised_darts_indexes.sql
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2745

#2732 DMP-4826: Return error when search does not meet minimum characters to prevent performance impacting queries from running
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
  src/main/java/uk/gov/hmcts/darts/common/exception/DartsApiException.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/util/RequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2732

#2727 Dmp 4892 exclude handheld audio courtrooms from audio linking job
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/EventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/EventRepository.java
  src/main/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTask.java
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2727

#2742 DMP-4748 Case search - adding courthouseIds to no criteria check
  src/main/java/uk/gov/hmcts/darts/cases/util/RequestValidator.java
  src/test/java/uk/gov/hmcts/darts/cases/util/RequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2742

#2736 DMP-4833 Restrict the search in admin portal to improve performance
  src/integrationTest/java/uk/gov/hmcts/darts/audio/controller/MediaControllerPostAdminMediasSearchIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerAdminSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/cases/controller/CaseControllerSearchPostTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/EventSearchControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/hearings/controller/HearingsControllerPostAdminHearingsSearchIntTest.java
  src/integrationTest/resources/tests/media/MediaControllerPostAdminMediasSearchIntTest/expectedResultOneYearLeapYear.json
  src/main/java/uk/gov/hmcts/darts/audio/controller/AudioController.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/AdminMediaServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/controller/CaseController.java
  src/main/java/uk/gov/hmcts/darts/common/exception/CommonApiError.java
  src/main/java/uk/gov/hmcts/darts/common/model/PostAdminSearchRequest.java
  src/main/java/uk/gov/hmcts/darts/common/util/AdminSearchRequestValidator.java
  src/main/java/uk/gov/hmcts/darts/event/controller/EventsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/controller/HearingsController.java
  src/main/java/uk/gov/hmcts/darts/hearings/exception/HearingApiError.java
  src/main/resources/application.yaml
  src/main/resources/openapi/common.yaml
  src/main/resources/openapi/event.yaml
  src/test/java/uk/gov/hmcts/darts/common/util/AdminSearchRequestValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2736

#2752 DMP-4890: update auto transcript urgency to up to 12 days
  src/integrationTest/java/uk/gov/hmcts/darts/event/service/impl/SentencingRemarksAndRetentionPolicyHandlerTest.java
  src/main/java/uk/gov/hmcts/darts/event/service/handler/SentencingRemarksAndRetentionPolicyHandler.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2752

#2755 DMP-4883: SUPER_ADMIN and SUPER_USER roles should not prevent transformed media expiry
  src/integrationTest/java/uk/gov/hmcts/darts/task/service/OutboundAudioDeleterProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stubs/UserAccountStub.java
  src/main/java/uk/gov/hmcts/darts/audio/service/OutboundAudioDeleterProcessor.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/OutboundAudioDeleterProcessorImpl.java
  src/main/java/uk/gov/hmcts/darts/common/repository/TransformedMediaRepository.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2755

#2759 DMP-4935 refine indexing on object_state_record
  src/main/resources/db/migration/common/V1_468__drop_object_state_record_indexes.sql
Labels: ns:darts-modernisation, prd:darts, flyway, rel:darts-api-pr-2759

#2760 DMP-4940 Add courtroom 99 to list of handheld courtrooms
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/task/runner/impl/AudioLinkingAutomatedTaskTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2760

#2757 DMP-4923 Setting a manual transcript request to requested stops the request from ever progressing
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/controller/TranscriptionControllerUpdateTranscriptionAdminApprovedIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionWorkflowAuditIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/transcriptions/service/TranscriptionWorkflowAuditTest.java
  src/main/java/uk/gov/hmcts/darts/audio/service/impl/MediaRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/audit/api/impl/AuditApiImpl.java
  src/main/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/transcriptions/service/impl/TranscriptionServiceImplUpdateTranscriptionAdminTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-api-pr-2757
