Repository hmcts/darts-api, pull requests merged in 2025-09, with the labels that each got.

#3040 DMP-3819 Update POST /admin/users to disallow duplicate email address
  src/integrationTest/java/uk/gov/hmcts/darts/common/repository/UserAccountRepositoryIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/PostUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/usermanagement/controller/UserControllerIntTest.java
  src/main/java/uk/gov/hmcts/darts/common/repository/UserAccountRepository.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/usermanagement/service/validation/UserEmailValidator.java
  src/test/java/uk/gov/hmcts/darts/usermanagement/service/impl/UserEmailValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3040

#3075 Dmp 5241 add retention validation db changes
  src/main/resources/db/migration/postgres/V1_481_1__add_retention_setup_tables.sql
  src/main/resources/db/migration/postgres/V1_481_2__add_retention_setup_unique_indexes.sql
  src/main/resources/db/migration/postgres/V1_481_3__add_retention_setup_indexes.sql
  src/main/resources/db/migration/postgres/V1_482_1__add_retention_validation_tables.sql
  src/main/resources/db/migration/postgres/V1_482_2__add_retention_validation_unique_indexes.sql
  src/main/resources/db/migration/postgres/V1_482_3__add_retention_validation_indexes.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3075

#3068 DMP-5215 Improve Database Indexes
  src/main/resources/db/migration/common/V1_483__drop_unused_tables.sql
  src/main/resources/db/migration/common/V1_484__create_new_indexes.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3068

#3073 Add files via upload
  src/main/resources/db/reference/modernised_darts_erd.pdf
  src/main/resources/db/reference/modernised_darts_indexes.sql
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3073

#3081 Database schema v27 for retention.
  src/main/resources/db/reference/modernised_darts_schema.pdf
  src/main/resources/db/reference/retention.sql
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-api-pr-3081
